Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

ci(release): keep premain release-as prerelease
  .github/workflows/prerelease-pr.yml
Due: prettier --write

ci(coverage): make workflow dispatchable
  .github/workflows/coverage.yml
Due: prettier --write

agents updated
  AGENTS.md
Due: prettier --write

fix: reduce social face svelte-check errors
  packages/adapters/src/graphql/cache.ts
  packages/faces/social/src/components/Lists/MemberPicker.svelte
  packages/faces/social/src/components/Lists/Settings.svelte
  packages/faces/social/src/components/Lists/context.ts
  packages/faces/social/src/components/Lists/index.ts
  packages/faces/social/src/components/Profile/Tabs.svelte
  packages/faces/social/src/components/Profile/TrustBadge.svelte
  packages/faces/social/src/components/ProfileHeader.svelte
  packages/faces/social/src/components/Status/LesserMetadata.svelte
  packages/faces/social/src/components/Status/Root.svelte
  packages/faces/social/src/components/Timeline/Item.svelte
  packages/faces/social/src/patterns/BookmarkManager.svelte
  packages/faces/social/src/patterns/ContentWarningHandler.svelte
  packages/faces/social/src/patterns/CustomEmojiPicker.svelte
  packages/headless/src/primitives/menu.ts
  packages/headless/src/types/common.ts
  packages/primitives/src/components/Menu/Trigger.svelte.d.ts
  packages/utils/src/id-provider.svelte
  packages/utils/src/id-provider.svelte.d.ts
Due: eslint --fix, prettier --write

fix(cli,social): install social timeline + virtual scrolling
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/fetch.ts
  packages/faces/social/src/components/Filters/context.svelte.ts
  packages/faces/social/src/components/Filters/context.ts
  packages/faces/social/src/components/Lists/context.svelte.ts
  packages/faces/social/src/components/Lists/context.ts
  packages/faces/social/src/components/Profile/context.svelte.ts
  packages/faces/social/src/components/Profile/context.ts
  packages/faces/social/src/components/TimelineVirtualized.svelte
  packages/faces/social/src/components/TimelineVirtualizedReactive.svelte
  packages/faces/social/src/lib/graphqlTimelineStore.svelte.ts
  packages/faces/social/src/lib/graphqlTimelineStore.ts
  packages/faces/social/src/lib/integration.svelte.ts
  packages/faces/social/src/lib/integration.ts
  packages/faces/social/src/lib/lesserTimelineStore.svelte.ts
  packages/faces/social/src/lib/lesserTimelineStore.ts
  packages/faces/social/src/lib/notificationStore.svelte.ts
  packages/faces/social/src/lib/notificationStore.ts
  packages/faces/social/src/lib/timelineStore.svelte.ts
  packages/faces/social/src/lib/timelineStore.ts
  packages/faces/social/src/lib/transport.ts
Due: eslint --fix, prettier --write

feat(admin): improve moderation workflows
  packages/shared/admin/README.md
  packages/shared/admin/src/Moderation.svelte
  packages/shared/admin/src/Reports.svelte
  packages/shared/admin/src/context.svelte.ts
Due: eslint --fix, prettier --write

fix: make social scaffold pass strict checks
  packages/adapters/src/index.ts
  packages/cli/src/registry/index.ts
  packages/faces/social/src/components/ContentRenderer.svelte
  packages/faces/social/src/components/Hashtags/MutedList.svelte
  packages/faces/social/src/components/Lists/MemberPicker.svelte
  packages/faces/social/src/components/Lists/Settings.svelte
  packages/faces/social/src/components/Lists/Timeline.svelte
  packages/faces/social/src/components/Profile/Edit.svelte
  packages/faces/social/src/components/Profile/Fields.svelte
  packages/faces/social/src/components/Profile/Timeline.svelte
  packages/faces/social/src/components/Status/Content.svelte
  packages/faces/social/src/components/Status/Media.svelte
  packages/faces/social/src/components/Status/Root.svelte
  packages/faces/social/src/components/StatusCard.svelte
  packages/faces/social/src/components/TimelineVirtualized.svelte
  packages/faces/social/src/components/TimelineVirtualizedReactive.svelte
  packages/faces/social/src/generics/adapters.ts
  packages/faces/social/src/generics/index.ts
  packages/shared/admin/src/Cost/BudgetControls.svelte
  packages/shared/admin/src/Cost/Dashboard.svelte
  packages/shared/admin/src/Insights/AIAnalysis.svelte
  packages/shared/admin/src/TrustGraph/RelationshipList.svelte
  packages/shared/admin/src/TrustGraph/Visualization.svelte
  packages/shared/admin/src/context.svelte.ts
  packages/shared/auth/src/BackupCodes.svelte
  packages/shared/auth/src/WalletConnect.svelte
  packages/shared/notifications/src/Group.svelte
  packages/shared/notifications/src/Item.svelte
  packages/shared/notifications/src/PushNotificationSettings.svelte
  packages/shared/notifications/src/types.ts
Due: eslint --fix, prettier --write

feat(social): improve post interactions
  packages/faces/social/src/components/ActionBar.svelte
  packages/faces/social/src/components/Status/Actions.svelte
  packages/faces/social/src/components/StatusCard.svelte
  packages/faces/social/src/examples/post-interactions.md
Due: eslint --fix, prettier --write

fix(ci): resolve lint/format/test failures
  .changeset/social-admin-scaffold-fixes.md
  packages/adapters/src/graphql/cache.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/fetch.ts
  packages/faces/social/src/components/ActionBar.svelte
  packages/faces/social/src/components/Filters/context.svelte.ts
  packages/faces/social/src/components/Lists/Settings.svelte
  packages/faces/social/src/components/Lists/Timeline.svelte
  packages/faces/social/src/components/Lists/context.svelte.ts
  packages/faces/social/src/components/NotificationItem.svelte
  packages/faces/social/src/components/Profile/Fields.svelte
  packages/faces/social/src/components/Profile/Tabs.svelte
  packages/faces/social/src/components/Profile/Timeline.svelte
  packages/faces/social/src/components/Profile/TrustBadge.svelte
  packages/faces/social/src/components/ProfileHeader.svelte
  packages/faces/social/src/components/Status/Actions.svelte
  packages/faces/social/src/components/Status/Content.svelte
  packages/faces/social/src/components/Status/LesserMetadata.svelte
  packages/faces/social/src/components/Status/Media.svelte
  packages/faces/social/src/components/StatusCard.svelte
  packages/faces/social/src/components/TimelineVirtualized.svelte
  packages/faces/social/src/components/TimelineVirtualizedReactive.svelte
  packages/faces/social/src/examples/post-interactions.md
  packages/faces/social/src/generics/adapters.ts
  packages/faces/social/src/lib/graphqlTimelineStore.svelte.ts
  packages/faces/social/src/lib/integration.svelte.ts
  packages/faces/social/src/lib/lesserTimelineStore.svelte.ts
  packages/faces/social/src/lib/notificationStore.svelte.ts
  packages/faces/social/src/lib/timelineStore.svelte.ts
  packages/faces/social/tests/components/Lists/MemberPicker.test.ts
  packages/faces/social/tests/components/TimelineVirtualized.test.ts
  packages/faces/social/tests/components/TimelineVirtualizedReactive.interactions.test.ts
  packages/faces/social/tests/components/TimelineVirtualizedReactive.test.ts
  packages/faces/social/tests/components/coverage-harness.ts
  packages/faces/social/tests/components/coverage.test.ts
  packages/shared/admin/src/Cost/BudgetControls.svelte
  packages/shared/admin/src/Cost/Dashboard.svelte
  packages/shared/admin/src/Insights/AIAnalysis.svelte
  packages/shared/admin/src/Moderation.svelte
Due: eslint --fix, prettier --write

fix(csp): remove inline styles from virtualized timelines
  packages/faces/social/src/components/TimelineVirtualized.svelte
  packages/faces/social/src/components/TimelineVirtualizedReactive.svelte
  packages/faces/social/src/theme.css
Due: eslint --fix, prettier --write

chore(registry): regenerate index
  registry/index.json
Due: prettier --write

fix(a11y): keep status roles out of feed
  packages/faces/social/src/components/TimelineVirtualized.svelte
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync Lesser contracts v1.1.0
  .prettierignore
  AGENTS.md
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

ci: streamline staging checks
  .github/workflows/a11y.yml
  .github/workflows/changeset-required.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/prerelease-pr.yml
  .github/workflows/release-pr.yml
  .github/workflows/test.yml
Due: prettier --write

fix(graphql): pin Lesser v1.1.1 + expand fragments
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/LESSER_INTEGRATION_USAGE.md
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/documents/fragments.graphql
  packages/faces/social/src/adapters/graphql/documents/instance.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(compose): include new object fields in optimistic updates
  packages/shared/compose/src/GraphQLAdapter.ts
Due: eslint --fix, prettier --write

fix(registry): keep index ref on release tag
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

chore(lesser): pin contracts to v1.1.3
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(agents): add GraphQL adapters and UI primitives
  packages/adapters/src/WebSocketClient.d.ts.map
  packages/adapters/src/WebSocketPool.d.ts
  packages/adapters/src/WebSocketPool.d.ts.map
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.d.ts.map
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/graphql/index.d.ts
  packages/adapters/src/graphql/index.d.ts.map
  packages/adapters/src/index.d.ts
  packages/adapters/src/index.d.ts.map
  packages/adapters/src/models/unified.d.ts.map
  packages/adapters/src/stores/types.d.ts.map
  packages/adapters/src/types.d.ts
  packages/adapters/src/types.d.ts.map
  packages/faces/social/src/adapters/graphql/documents/agents.graphql
  packages/faces/social/src/adapters/graphql/documents/fragments.graphql
  packages/faces/social/src/adapters/graphql/documents/timeline.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
  packages/shared/admin/manifest.json
  packages/shared/admin/src/Agents/AgentAttribution.svelte
  packages/shared/admin/src/Agents/AgentBadge.svelte
  packages/shared/admin/src/Agents/AgentDirectory.svelte
  packages/shared/admin/src/Agents/index.ts
  packages/shared/admin/src/Agents/types.ts
  packages/shared/admin/src/index.ts
  packages/shared/compose/src/GraphQLAdapter.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(ci): cancel redundant workflow runs
  .github/workflows/a11y.yml
  .github/workflows/changeset-required.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

docs: clarify Lesser sync and release flow
  AGENTS.md
Due: prettier --write

chore(format): run prettier
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/faces/social/src/adapters/graphql/documents/agents.graphql
  packages/shared/admin/src/Agents/AgentAttribution.svelte
  packages/shared/admin/src/Agents/AgentBadge.svelte
  packages/shared/admin/src/Agents/AgentDirectory.svelte
  packages/shared/admin/src/Agents/types.ts
Due: eslint --fix, prettier --write

chore(registry): update checksums
  registry/index.json
Due: prettier --write

fix(security): harden HTML rendering and path handling
  examples/social-app/src/routes/+page.svelte
  packages/cli/src/utils/files.ts
  packages/cli/src/utils/git-fetch.ts
  packages/cli/src/utils/install-path.ts
  packages/cli/src/utils/path-safety.ts
  packages/cli/tests/git-fetch.test.ts
  packages/cli/tests/path-safety.test.ts
  packages/faces/blog/src/components/Article/Content.svelte
  packages/faces/blog/tests/Article.test.ts
  packages/faces/blog/tests/components/ArticleContent.security.test.ts
  packages/faces/social/src/components/ContentRenderer.svelte
  packages/faces/social/tests/components/ContentRenderer.security.test.ts
  packages/shared/notifications/src/Item.svelte
  packages/shared/notifications/tests/Item.test.ts
  packages/shared/search/src/ActorResult.svelte
  packages/shared/search/tests/ActorResultComponent.test.ts
Due: eslint --fix, prettier --write

fix(notifications): add utils dependency
  packages/shared/notifications/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

docs: add issue sweep plan for open issues
  planning/2026-02-12-issue-sweep.md
Due: prettier --write

chore(csp): extend validate:csp for runtime strict CSP
  scripts/audit-csp.baseline.json
  scripts/audit-csp.mjs
Due: prettier --write

fix(cli): include admin Agents files in vendored installs
  packages/cli/src/registry/shared.ts
  packages/cli/tests/shared.test.ts
Due: eslint --fix, prettier --write

fix(social): remove global BackupCodes theme styles
  packages/faces/social/src/theme.css
  scripts/audit-csp.baseline.json
Due: prettier --write

fix(csp): replace textarea autosize with CSS-driven helper
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/theme.css
  packages/primitives/src/theme.css
  packages/shared/chat/src/ChatInput.svelte
  packages/shared/compose/src/Editor.svelte
  packages/shared/compose/src/EditorWithAutocomplete.svelte
  packages/shared/compose/tests/Editor.test.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): remove inline style writes from utils
  packages/primitives/src/theme.css
  packages/utils/src/clipboard.ts
  packages/utils/src/export-markdown.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): remove runtime inline-style writes from primitives
  packages/primitives/src/components/Button.svelte
  packages/primitives/src/components/Card.svelte
  packages/primitives/src/components/Modal.svelte
  packages/primitives/src/stores/preferences.ts
  packages/primitives/src/theme.css
  packages/primitives/src/utils/smoothThemeTransition.ts
  packages/primitives/tests/button.test.ts
  packages/primitives/tests/preferences.test.ts
  packages/primitives/tests/smoothThemeTransition.test.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): remove runtime style writes from headless
  packages/headless/src/behaviors/focus-trap.ts
  packages/headless/src/behaviors/live-region.ts
  packages/headless/src/behaviors/popover.ts
  packages/headless/src/primitives/modal.ts
  packages/headless/src/primitives/skeleton.ts
  packages/headless/src/primitives/tooltip.ts
  packages/headless/src/utils/csp-safe-styles.ts
  packages/headless/tests/live-region.test.ts
  packages/headless/tests/modal.test.ts
  packages/headless/tests/popover.test.ts
  packages/headless/tests/setup.ts
  packages/headless/tests/skeleton.test.ts
  packages/headless/tests/tooltip.position.test.ts
  packages/headless/vitest.config.ts
  packages/primitives/src/theme.css
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): remove runtime style injection from artist face
  packages/faces/artist/src/theme.css
  packages/faces/artist/src/utils/cspSafeStyles.ts
  packages/faces/artist/src/utils/highContrast.ts
  packages/faces/artist/src/utils/performance.ts
  packages/faces/artist/src/utils/reducedMotion.ts
  packages/faces/artist/tests/setup.ts
  packages/faces/artist/tests/utils/highContrast.test.ts
  packages/faces/artist/tests/utils/performance.test.ts
  packages/faces/artist/tests/utils/reducedMotion.test.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): make primitives transitions WAAPI-based
  packages/primitives/src/transitions/fadeDown.ts
  packages/primitives/src/transitions/fadeUp.ts
  packages/primitives/src/transitions/scaleIn.ts
  packages/primitives/src/transitions/slideIn.ts
  packages/primitives/src/transitions/waapi.ts
  packages/primitives/tests/setup.ts
  packages/primitives/tests/transitions.test.ts
Due: eslint --fix, prettier --write

feat(cli): add doctor --csp and strict CSP docs
  docs/cli-guide.md
  docs/csp-compatibility.md
  packages/cli/src/commands/doctor.ts
  packages/cli/src/utils/csp-doctor.ts
  packages/cli/tests/csp-doctor.test.ts
  packages/cli/tests/doctor.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
