Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs(blog): review-workflow v1.6.28 gate truth and governance provenance
  .github/workflows/gov-rubric.yml
  docs/faces/blog/review-workflow.md
  gov-infra/planning/greater-components-evidence-plan.md
  gov-infra/verifiers/gov-write-provenance.mjs
Due: prettier --write

chore(governance): exact-head rubric provenance for the v1.6.28 sync
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

docs(planning): record contract-sync rework lessons
  planning/1056-1057-contract-sync-rework-lessons.md
Due: prettier --write

chore(governance): round-3 exact-head CI, replay safety, and provenance hardening
  .github/workflows/gov-rubric.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  gov-infra/planning/greater-components-evidence-plan.md
  gov-infra/verifiers/gov-write-provenance.mjs
  package.json
  planning/1056-1057-contract-sync-rework-lessons.md
  scripts/check-generator-replay.mjs
  scripts/check-generator-replay.test.mjs
  scripts/run-script-tests.mjs
Due: prettier --write, pnpm dlx sort-package-json

chore(governance): refresh rubric evidence at the round-3 head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

fix(scripts): drop superfluous roots() arguments in generator-replay tests
  scripts/check-generator-replay.test.mjs
Due: none

ci(dco): remove workflow_dispatch path flagged as cache-poisonable
  .github/workflows/dco.yml
Due: prettier --write

chore(governance): refresh rubric evidence at the CodeQL-remediation head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

fix(gov): don't compare PR head against merge-ref GITHUB_SHA in provenance writer
  .github/workflows/gov-rubric.yml
  gov-infra/verifiers/gov-write-provenance.mjs
Due: prettier --write

chore(governance): refresh rubric evidence at the provenance-fix head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

docs(planning): record round-4 CodeQL-remediation and provenance lessons
  planning/1056-1057-contract-sync-rework-lessons.md
Due: prettier --write

fix(faces/blog): demote stale review approvals out of the success tone
  .semver impact note/1055-review-stale-approval.md
  docs/faces/blog/review-workflow.md
  packages/faces/blog/src/components/Review/AttributionStrip.svelte
  packages/faces/blog/src/components/Review/QueueCard.svelte
  packages/faces/blog/src/components/Review/index.ts
  packages/faces/blog/src/components/Review/state.ts
  packages/faces/blog/src/theme.css
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/a11y/screen-reader.test.ts
  packages/faces/blog/tests/components/Review.test.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/blog/tests/integration/review-round-trip.flow.test.ts
  packages/faces/blog/tests/review-ssr.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(governance): refresh rubric evidence at the #1055 head
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(faces/blog): type ReviewStateDescriptor.stale optional for additive construction
  .semver impact note/1055-review-stale-approval.md
  docs/faces/blog/review-workflow.md
  packages/faces/blog/src/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(faces/blog): add mutation-negative authority tests for review staleness
  packages/faces/blog/tests/components/Review.test.ts
Due: eslint --fix, prettier --write

chore(governance): refresh rubric evidence at the attack-remediation head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

fix(faces/blog): expose pinned review constants at the blog package root
  .semver impact note/1055-review-stale-approval.md
  docs/faces/blog/review-workflow.md
  packages/faces/blog/src/index.ts
  packages/faces/blog/tests/public-api-exports.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(governance): refresh rubric evidence at the round-2 remediation head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

test(faces/blog): enforce post-build export parity for pinned review constants
  docs/faces/blog/review-workflow.md
  package.json
  packages/faces/blog/package.json
  packages/faces/blog/scripts/assert-dist-public-exports.mjs
  packages/faces/blog/scripts/assert-dist-public-exports.test.mjs
  packages/faces/blog/tests/public-api-exports.test.ts
  scripts/run-script-tests.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(faces/blog): realign review chrome pin references to Lesser v1.6.28
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/blog/tests/integration/review-round-trip.flow.test.ts
  packages/faces/blog/tests/mocks/mockDraftReview.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(governance): refresh rubric evidence at the round-3 remediation head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

test(faces/blog): prove exact pinned review values in built dist graphs
  docs/faces/blog/review-workflow.md
  packages/faces/blog/scripts/assert-dist-public-exports.mjs
  packages/faces/blog/scripts/assert-dist-public-exports.test.mjs
Due: prettier --write

chore(governance): refresh rubric evidence at the round-4 remediation head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

fix(faces/blog): harden dist export graph parsing
  packages/faces/blog/scripts/assert-dist-public-exports.mjs
  packages/faces/blog/scripts/assert-dist-public-exports.test.mjs
Due: none

test(faces/blog): prove every pinned value mutation and d.ts symlink escape
  packages/faces/blog/scripts/assert-dist-public-exports.test.mjs
Due: none

test(faces/blog): satisfy noUncheckedIndexedAccess in mutation matrix
  packages/faces/blog/scripts/assert-dist-public-exports.test.mjs
Due: none

chore(governance): refresh rubric evidence at the round-5 hardening head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

fix(faces/blog): fail closed on extra package-root export conditions
  packages/faces/blog/scripts/assert-dist-public-exports.mjs
  packages/faces/blog/scripts/assert-dist-public-exports.test.mjs
Due: none

chore(governance): refresh rubric evidence at the round-6 remediation head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

fix(faces/blog): fail loudly when git status breaks in the dist-gate test
  packages/faces/blog/scripts/assert-dist-public-exports.test.mjs
Due: none

chore(governance): refresh rubric evidence at the round-7 remediation head
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/evidence/gov-rubric-report.provenance.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
