Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(playground): bind search context
  apps/playground/src/lib/components/SearchContextBridge.svelte
Due: eslint --fix, prettier --write

chore(playground): drop @pai snippet
  apps/playground/src/routes/chat/+page.svelte
Due: eslint --fix, prettier --write

fix(adapters): trim baseUrl without regex
  packages/adapters/src/soul/client.ts
Due: eslint --fix, prettier --write

chore: regenerate registry
  registry/index.json
Due: prettier --write

chore(contracts): bump lesser to v1.1.24
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channel-preferences.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

ci(deps): bump artifact actions
  .github/workflows/a11y.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
Due: prettier --write

fix(soul): satisfy strict svelte-check
  package.json
  packages/primitives/src/components/CopyButton.svelte
  packages/primitives/src/components/CopyButton.svelte.d.ts
  packages/primitives/src/components/CopyButton.svelte.d.ts.map
  packages/shared/soul/src/BestWayToContact.svelte
  packages/shared/soul/src/ChannelsDisplay.svelte
  packages/shared/soul/src/ContactPreferencesEditor.svelte
  packages/shared/soul/tsconfig.check.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(notifications): support communication payloads
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/mappers/lesser/__tests__/mappers.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/adapters/src/mappers/lesser/mappers.ts
  packages/adapters/src/mappers/lesser/types.ts
  packages/adapters/src/models/unified.ts
  packages/adapters/src/stores/__tests__/fetchHelpers.test.ts
  packages/adapters/src/stores/fetchHelpers.ts
  packages/adapters/src/stores/notificationStore.ts
  packages/adapters/src/stores/unifiedToNotification.ts
  packages/faces/social/src/adapters/graphql/documents/fragments.graphql
  packages/faces/social/src/adapters/graphql/documents/notifications.graphql
  packages/faces/social/src/adapters/graphql/documents/subscriptions.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
  packages/shared/notifications/src/CommunicationNotificationItem.svelte
  packages/shared/notifications/src/index.ts
  packages/shared/notifications/src/types.ts
Due: eslint --fix, prettier --write

chore: format and regenerate registry
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  packages/adapters/src/mappers/lesser/__tests__/mappers.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/adapters/src/mappers/lesser/mappers.ts
  packages/adapters/src/models/unified.ts
  packages/adapters/src/stores/notificationStore.ts
  packages/primitives/src/components/CopyButton.svelte
  packages/primitives/src/components/CopyButton.svelte.d.ts
  packages/shared/notifications/src/CommunicationNotificationItem.svelte
  packages/shared/soul/src/ChannelsDisplay.svelte
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): bump graphql-codegen
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

feat(adapters): sync lesser v1.1.25 and lesser-host v0.1.3
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser/contracts/LESSER_REF.txt
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/index.ts
  packages/adapters/src/index.ts
  packages/adapters/src/soul/client.ts
  packages/adapters/src/soul/index.ts
  registry/index.json
Due: eslint --fix, prettier --write

style(adapters): satisfy prettier after staging rebase
  docs/lesser-host/contracts/openapi.yaml
  packages/adapters/src/soul/client.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(cli): update full core package file sets
  packages/cli/src/commands/update.ts
  packages/cli/tests/update.unit.test.ts
Due: eslint --fix, prettier --write

style(cli): format update regression test
  packages/cli/tests/update.unit.test.ts
Due: eslint --fix, prettier --write

chore(adapters): sync lesser v1.1.26 and lesser-host v0.1.5
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

style(contracts): format lesser-host sync artifacts
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
Due: eslint --fix, prettier --write

feat(adapters): sync lesser v1.1.27 soul inventory
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/__tests__/LesserSoulClient.test.ts
  packages/adapters/src/index.ts
  packages/adapters/src/lesser/client.ts
  packages/adapters/src/lesser/index.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(adapters): satisfy lint and registry validation
  packages/adapters/src/lesser/client.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): sync lesser graphql v1.1.28
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/documents/souls.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): sync lesser v1.1.29
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/__tests__/LesserSoulClient.test.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/lesser/client.ts
  packages/adapters/src/lesser/index.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/documents/souls.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): sync lesser-host v0.1.7
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-activity-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-activity.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-status.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-resolve.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-search.response.schema.json
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
  packages/adapters/src/index.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/adapters/src/soul/client.ts
  packages/adapters/src/soul/index.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(docs): remove stale svelte config suppression
  apps/docs/svelte.config.js
Due: eslint --fix, prettier --write

feat(adapters): sync lesser v1.1.38 and lesser-host v0.1.10
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.preference-violation.example.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/README.md
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/faces/social/src/adapters/graphql/documents/agents.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): bump devalue to 5.6.4
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): patch undici and flatted
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

feat(adapters): sync lesser contract updates
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(registry): align staging release metadata
  registry/index.json
Due: prettier --write

style(registry): format release metadata
  registry/index.json
Due: prettier --write

fix(ci): skip coverage comments on fork PRs
  .github/workflows/coverage.yml
Due: prettier --write

fix(ci): skip a11y comments on fork PRs
  .github/workflows/a11y.yml
Due: prettier --write

chore: sync lesser v1.1.52 and refresh dependencies
  apps/docs/package.json
  apps/playground/package.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  package.json
  packages/adapters/package.json
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/cli/package.json
  packages/content/package.json
  packages/faces/artist/package.json
  packages/faces/artist/tests/utils/highContrast.test.ts
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/headless/src/types/common.ts
  packages/icons/package.json
  packages/primitives/package.json
  packages/primitives/tests/transitions.test.ts
  packages/shared/admin/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/shared/soul/package.json
  packages/testing/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(deps): align undici override with lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix(adapters): guard conversation participant id
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
Due: eslint --fix, prettier --write

fix(registry): refresh checksums after warning cleanup
  registry/index.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
