Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

chore: Release v1.0.0
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/adapters/CHANGELOG.md
  packages/fediverse/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/primitives/CHANGELOG.md
  packages/testing/CHANGELOG.md
  packages/tokens/CHANGELOG.md
  packages/utils/CHANGELOG.md
Due: prettier --write, pnpm dlx sort-package-json

phase 2 completed
  PHASE_2_COMPLETION_REPORT.md
  PHASE_2_FINAL.md
  docs/planning/greater-alignment-log.md
  docs/planning/greater.plan.md
  packages/adapters/LESSER_INTEGRATION_USAGE.md
  packages/adapters/src/fixtures/lesser.ts
  packages/adapters/src/index.ts
  packages/adapters/src/mappers/lesser/mappers.ts
  packages/adapters/src/mappers/lesser/types.ts
  packages/adapters/src/models/unified.ts
  packages/adapters/src/stores/notificationStore.ts
  packages/adapters/src/stores/timelineStore.ts
  packages/adapters/src/stores/types.ts
  packages/adapters/src/stores/unifiedToNotification.ts
  packages/adapters/src/stores/unifiedToTimeline.ts
  packages/adapters/tests/mappers/lesser.test.ts
  packages/adapters/tests/stores/notificationStore.lesser.test.ts
  packages/adapters/tests/stores/timelineStore.lesser.test.ts
  packages/fediverse/src/adapters/graphql/documents/notifications.graphql
  packages/fediverse/src/components/Notifications/LesserNotificationItem.svelte
  packages/fediverse/src/components/Notifications/index.ts
  packages/fediverse/src/components/Profile/TrustBadge.svelte
  packages/fediverse/src/components/Profile/context.ts
  packages/fediverse/src/components/Profile/index.ts
  packages/fediverse/src/components/Status/CommunityNotes.svelte
  packages/fediverse/src/components/Status/LesserMetadata.svelte
  packages/fediverse/src/components/Status/index.ts
  packages/fediverse/src/generics/adapters.ts
  packages/fediverse/src/generics/index.ts
  packages/fediverse/src/lib/lesserTimelineStore.ts
  packages/fediverse/src/types.ts
  packages/fediverse/tests/Filters/Root.test.ts
  packages/fediverse/tests/Timeline.test.ts
  packages/fediverse/tests/components/Status.CommunityNotes.test.ts
  packages/fediverse/tests/components/Status.LesserMetadata.test.ts
  packages/fediverse/tests/generics/adapters.test.ts
Due: eslint --fix, prettier --write

lint cleanup pass A
  apps/docs/src/lib/components/AccessibilityScorecard.svelte
  apps/docs/src/lib/components/CodeExample.svelte
  apps/docs/src/lib/components/ComponentDoc.svelte
  apps/docs/src/lib/components/EventsTable.svelte
  apps/docs/src/lib/components/LiveDemo.svelte
  apps/docs/src/lib/components/PropsTable.svelte
  apps/docs/src/lib/components/SearchModal.svelte
  apps/docs/src/lib/components/Sidebar.svelte
  apps/docs/src/lib/components/SlotsTable.svelte
  apps/docs/src/lib/utils/search.ts
  apps/docs/src/lib/utils/token-generator.ts
  apps/docs/src/routes/+layout.svelte
  apps/docs/src/routes/+page.svelte
  apps/docs/src/routes/components/+page.svelte
  apps/docs/src/routes/components/[slug]/+page.svelte
  apps/docs/src/routes/installation/+page.svelte
  docs/components/Admin/Realtime.md
  docs/planning/greater-alignment-log.md
  docs/planning/lint-remediation-plan.md
  packages/adapters/src/TransportManager.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/models/unified.ts
  packages/adapters/src/stores/adminStreamingStore.ts
  packages/adapters/src/types.ts
  packages/fediverse/src/adapters/graphql/documents/subscriptions.graphql
  packages/fediverse/src/adapters/graphql/generated/types.ts
  packages/fediverse/src/lib/lesserTimelineStore.ts
  packages/fediverse/src/lib/transport.ts
Due: eslint --fix, prettier --write

lint cleanup pass B
  apps/playground/stories/AvatarDemo.svelte
  apps/playground/stories/Menu.stories.ts
  apps/playground/stories/MenuDemo.svelte
  apps/playground/stories/SettingsPanel.stories.ts
  apps/playground/stories/SkeletonDemo.svelte
  apps/playground/stories/TabsDemo.svelte
  apps/playground/stories/ThemeSwitcher.stories.ts
  apps/playground/stories/TooltipDemo.svelte
  apps/playground/stories/examples/ComposeFlowExample.svelte
  apps/playground/stories/examples/HomeTimelineExample.svelte
  apps/playground/stories/examples/IntegrationSettingsExample.svelte
  apps/playground/stories/examples/NotificationsDashboardExample.svelte
  apps/playground/stories/examples/ProfilePageExample.svelte
Due: eslint --fix, prettier --write

lesser alignment phase 3.2
  packages/adapters/src/stores/notificationStore.ts
  packages/adapters/src/stores/presenceStore.ts
  packages/adapters/src/stores/timelineStore.ts
  packages/adapters/src/stores/types.ts
  packages/adapters/src/types.ts
  packages/adapters/tests/stores/notificationStore.test.ts
  packages/adapters/tests/stores/presenceStore.test.ts
  packages/adapters/tests/stores/timelineStore.test.ts
Due: eslint --fix, prettier --write

phase 5 complete
  README.md
  docs/components/Admin/Cost.md
  docs/components/Admin/Insights.md
  docs/components/Admin/SeveredRelationships.md
  docs/components/Admin/TrustGraph.md
  docs/components/Hashtags/README.md
  docs/components/Status/README.md
  docs/lesser-integration-guide.md
  docs/planning/greater-alignment-log.md
  packages/fediverse/stories/ActionBar.stories.ts
  packages/primitives/tests/setup.ts
Due: eslint --fix, prettier --write

v1.0.2
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/package.json
  packages/primitives/scripts/generate-dts.js
  packages/primitives/src/components/Checkbox.svelte
  packages/primitives/src/components/FileUpload.svelte
  packages/primitives/src/components/Select.svelte
  packages/primitives/src/components/Switch.svelte
  packages/primitives/src/components/TextArea.svelte
  packages/primitives/src/index.ts
  packages/primitives/vite.config.ts
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

v1.0.3
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

v1.0.4
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write, pnpm dlx sort-package-json
