Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(docs): make theme init typecheck-safe
  apps/docs/static/theme-init.js
Due: eslint --fix, prettier --write

refactor: Clean up linting ignores and enhance gallery grid `aria-label` for improved accessibility.
  packages/faces/artist/src/components/CreativeTools/ReferenceBoard.svelte
  packages/faces/artist/src/components/Discovery/ColorPaletteSearch.svelte
  packages/faces/artist/src/components/Gallery/Grid.svelte
  packages/primitives/src/index.d.ts.map
  packages/primitives/src/theme.css
Due: eslint --fix, prettier --write

fix(security): harden CSP script tag regex
  scripts/audit-csp.mjs
  scripts/postprocess-csp-build.mjs
Due: none

fix(security): handle malformed closing script tags
  scripts/audit-csp.mjs
  scripts/postprocess-csp-build.mjs
Due: none

fix(registry): regenerate index checksums
  registry/index.json
Due: prettier --write

chore(registry): format index.json
  registry/index.json
Due: prettier --write

chore(registry): enforce and format index
  .github/workflows/test.yml
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

docs(devops): define release criteria
  docs/devops/github-releases.md
Due: prettier --write

chore: remove nested pnpm lockfiles
  .gitignore
  packages/primitives/pnpm-lock.yaml
  packages/utils/pnpm-lock.yaml
Due: prettier --write

ci: adopt premain/main release flow
  .github/workflows/a11y.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/generate-registry.yml
  .github/workflows/lint.yml
  .github/workflows/main-guard.yml
  .github/workflows/tag-release.yml
  .github/workflows/test.yml
  docs/devops/github-releases.md
  package.json
  scripts/generate-registry-index.js
  scripts/prepare-github-release.js
  scripts/release-tag.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(release): add one-command release cutter
  docs/devops/github-releases.md
  package.json
  scripts/cut-github-release.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(release): greater-v0.1.0
  package.json
  registry/index.json
  registry/latest.json
Due: prettier --write, pnpm dlx sort-package-json

fix(ci): accept semver and format registry index
  .github/workflows/main-guard.yml
  .github/workflows/tag-release.yml
  registry/index.json
Due: prettier --write

fix(ci): configure git identity for release tags
  .github/workflows/tag-release.yml
Due: prettier --write

Enhance TypeScript support and improve component definitions
  .github/workflows/lint.yml
  codegen.ts
  package.json
  packages/adapters/src/WebSocketPool.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/content/src/index.ts
  packages/faces/social/src/adapters/graphql/generated/types.ts
  packages/primitives/src/assets.d.ts
  packages/primitives/src/components/Avatar.svelte
  packages/primitives/src/components/Avatar.svelte.d.ts
  packages/primitives/src/components/Button.svelte
  packages/primitives/src/components/Button.svelte.d.ts
  packages/primitives/src/components/Card.svelte
  packages/primitives/src/components/Card.svelte.d.ts
  packages/primitives/src/components/DropZone.svelte
  packages/primitives/src/components/DropZone.svelte.d.ts
  packages/primitives/src/components/Menu.svelte
  packages/primitives/src/components/Menu.svelte.d.ts
  packages/primitives/src/components/Modal.svelte
  packages/primitives/src/components/SimpleMenu.svelte
  packages/primitives/src/components/SimpleMenu.svelte.d.ts
  packages/primitives/src/components/Skeleton.svelte
  packages/primitives/src/components/Skeleton.svelte.d.ts
  packages/primitives/src/components/Spinner.svelte
  packages/primitives/src/components/Switch.svelte
  packages/primitives/src/components/Switch.svelte.d.ts
  packages/primitives/src/components/Tabs.svelte
  packages/primitives/src/components/TextArea.svelte
  packages/primitives/src/components/TextArea.svelte.d.ts
  packages/primitives/src/components/TextField.svelte
  packages/primitives/src/components/TextField.svelte.d.ts
  packages/primitives/src/components/Theme/ContrastChecker.svelte.d.ts
  packages/primitives/src/components/Theme/ThemeWorkbench.svelte
  packages/primitives/src/components/ThemeSwitcher.svelte
  packages/primitives/src/components/Tooltip.svelte
  packages/utils/src/html-to-markdown.ts
  registry/index.json
  tsconfig.consumer.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix: update Svelte check configuration and enhance accessibility report generation
  .github/workflows/a11y.yml
  package.json
  packages/primitives/tsconfig.check.json
Due: prettier --write, pnpm dlx sort-package-json

chore(release): bump version to 0.1.1 and update registry references
  package.json
  registry/index.json
  registry/latest.json
Due: prettier --write, pnpm dlx sort-package-json

chore(release): greater-v0.1.1
  package.json
  registry/index.json
  registry/latest.json
Due: prettier --write, pnpm dlx sort-package-json

refactor: streamline JSON formatting in registry index generation
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

deploy: ebb24dc35afeb811dcd6f265e3b279196ff61067
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

chore(deps): update to latest stable
  .changeset/dependencies-latest-stable.md
  apps/docs/package.json
  apps/docs/src/lib/components/SearchModal.svelte
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/content/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/testing/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

ci(release): treat chore commits as user-facing
  .changeset/release-please-include-chore.md
  release-please-config.json
  release-please-config.premain.json
Due: prettier --write

chore(ci): adopt AppTheory release flow
  .changeset/node-24-release-flow.md
  .github/workflows/generate-registry.yml
  .github/workflows/prepare-release-metadata.yml
  .github/workflows/prerelease-pr.yml
  .github/workflows/prerelease.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/tag-prerelease.yml
  .github/workflows/tag-release.yml
  .nvmrc
  AGENTS.md
  CONTRIBUTING.md
  docs/_concepts.yaml
  docs/getting-started.md
  docs/lesser-faces-and-cli-model.md
  docs/migration-from-npm.md
  docs/troubleshooting.md
  package.json
  packages/cli/src/commands/doctor.ts
  packages/cli/tests/doctor.test.ts
  planning/phase-4-ci-audits-design.md
  scripts/init.sh
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(release): prepare metadata for 0.1.2-rc
  CHANGELOG.md
  packages/adapters/package.json
  packages/cli/package.json
  packages/content/package.json
  packages/faces/artist/manifest.json
  packages/faces/artist/package.json
  packages/faces/blog/manifest.json
  packages/faces/blog/package.json
  packages/faces/community/manifest.json
  packages/faces/community/package.json
  packages/faces/social/manifest.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/manifest.json
  packages/shared/admin/package.json
  packages/shared/auth/manifest.json
  packages/shared/auth/package.json
  packages/shared/chat/manifest.json
  packages/shared/chat/package.json
  packages/shared/compose/manifest.json
  packages/shared/compose/package.json
  packages/shared/messaging/manifest.json
  packages/shared/messaging/package.json
  packages/shared/notifications/manifest.json
  packages/shared/notifications/package.json
  packages/shared/search/manifest.json
  packages/shared/search/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/utils/package.json
  registry/index.json
Due: prettier --write, pnpm dlx sort-package-json

chore(ci): run checks for release-please PRs
  .changeset/release-please-pr-checks.md
  .github/workflows/a11y.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dco.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/prerelease-pr.yml
  .github/workflows/release-pr.yml
  .github/workflows/test.yml
Due: prettier --write

ci: dispatch main/premain guard checks
  .changeset/main-guard-dispatch.md
  .github/workflows/main-guard.yml
  .github/workflows/premain-guard.yml
  .github/workflows/prerelease-pr.yml
  .github/workflows/release-pr.yml
Due: prettier --write

ci: make Codecov upload optional
  .changeset/coverage-codecov-optional.md
  .github/workflows/coverage.yml
Due: prettier --write

fix(cli): skip local CSS injection when copy fails
  packages/cli/src/commands/init.ts
  packages/cli/tests/init.test.ts
Due: eslint --fix, prettier --write

chore: fix PR 136 CI failures
  .changeset/cli-init-css-copy-guard.md
  packages/cli/src/commands/init.ts
Due: eslint --fix, prettier --write

fix(cli): stabilize local CSS + ref fetching
  packages/cli/src/utils/css-inject.ts
  packages/cli/src/utils/face-installer.ts
  packages/cli/src/utils/git-fetch.ts
  packages/cli/src/utils/tokens-theme-css.ts
  packages/cli/tests/css-copy.test.ts
  packages/cli/tests/e2e/smoke.test.ts
  packages/cli/tests/face-installer.test.ts
  packages/cli/tests/fixtures/cli-fixture/package.json
  packages/cli/tests/fixtures/cli-fixture/src/routes/+layout.svelte
  packages/cli/tests/git-fetch.test.ts
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

ci(release): unify build + pack pipeline
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package.json
  scripts/build-release-artifacts.sh
  scripts/pack-for-release.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore: add changeset and format new CLI files
  .changeset/cli-release-artifacts.md
  packages/cli/src/utils/tokens-theme-css.ts
  packages/cli/tests/css-copy.test.ts
  packages/cli/tests/fixtures/cli-fixture/src/routes/+layout.svelte
Due: eslint --fix, prettier --write

chore(deps): update workspace dependencies
  .changeset/deps-latest-stable-20260209.md
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/content/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/testing/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

ci(release): keep premain prereleases ahead of stable
  .github/workflows/prerelease-pr.yml
  scripts/verify-release-branch.sh
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
