Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

fix(scripts): emit prettier-clean openapi auth baseline
  docs/lesser/contracts/openapi-auth-baseline.json
  scripts/check-openapi-auth.mjs
Due: prettier --write

fix(registry): restore resolveRegistryCommit HEAD guard
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

test(adapters): assert published status normalization
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(blog-face): audit authorId in Lesser CMS contract boundary map
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
Due: eslint --fix, prettier --write

docs(blog-face): sync CMS contract audit with authorId and v1.5.31 pin
  docs/faces/blog/lesser-cms-contract-audit.md
Due: prettier --write

ci: run check workflows on pull requests only
  .github/workflows/a11y.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/gov-rubric.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

ci: provision chromium via system chrome in gov-rubric and e2e workflows
  .github/workflows/e2e.yml
  .github/workflows/gov-rubric.yml
Due: prettier --write

chore(deps): remediate open Dependabot alerts via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): extend alert sweep to fast-uri and @sveltejs/kit
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

feat(contracts): sync lesser snapshot to v1.5.32 review ops
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): bind Lesser shared-draft review operations
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/draftReview.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/graphql/index.ts
  packages/adapters/src/index.ts
  packages/faces/social/src/adapters/graphql/documents/draft-review.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
Due: eslint --fix, prettier --write

feat(blog): add review workflow chrome to the blog face
  packages/faces/blog/manifest.json
  packages/faces/blog/src/components/Review/AttributionStrip.svelte
  packages/faces/blog/src/components/Review/QueueCard.svelte
  packages/faces/blog/src/components/Review/VerdictActions.svelte
  packages/faces/blog/src/components/Review/index.ts
  packages/faces/blog/src/components/Review/state.ts
  packages/faces/blog/src/index.ts
  packages/faces/blog/src/theme.css
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/components/Review.test.ts
  packages/faces/blog/tests/mocks/mockDraftReview.ts
  packages/faces/blog/tests/review-ssr.test.ts
  packages/faces/blog/tests/setup.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(blog): add review contract guard and queue->verdict round trip
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/blog/tests/integration/review-round-trip.flow.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(cli,blog): make the review chrome vendorable and reuse TextArea
  packages/cli/src/registry/faces.ts
  packages/cli/src/registry/index.ts
  packages/faces/blog/src/components/Review/VerdictActions.svelte
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/components/Review.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

docs(changelog): draft release notes for the review chrome
  CHANGELOG.md
Due: prettier --write

fix(blog): keep verdict failures visible when the dialog is dismissed mid-submit
  gov-infra/evidence/gov-rubric-report.json
  packages/faces/blog/src/components/Review/VerdictActions.svelte
  packages/faces/blog/tests/components/Review.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

docs(blog): document the review workflow chrome
  docs/component-inventory.md
  docs/faces/blog/getting-started.md
  docs/faces/blog/review-workflow.md
Due: prettier --write

chore(gov): record rubric evidence for the review chrome
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(blog): model Lesser's approval gate cumulatively and label status honestly
  docs/faces/blog/review-workflow.md
  packages/adapters/src/index.ts
  packages/faces/blog/package.json
  packages/faces/blog/src/components/Review/AttributionStrip.svelte
  packages/faces/blog/src/components/Review/QueueCard.svelte
  packages/faces/blog/src/components/Review/index.ts
  packages/faces/blog/src/components/Review/state.ts
  packages/faces/blog/src/index.ts
  packages/faces/blog/src/theme.css
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/components/Review.test.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/blog/tests/integration/review-round-trip.flow.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(cli): repair the review install layout and audit the executable catalog
  packages/cli/src/registry/patterns.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/source-paths.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/e2e/vendored-blog-install.test.ts
  packages/cli/tests/transform.test.ts
  scripts/audit-cli-registry.mjs
Due: eslint --fix, prettier --write

chore(registry): regenerate checksums for the corrected review chrome
  packages/faces/blog/package.json
  registry/index.json
Due: prettier --write, pnpm dlx sort-package-json

chore(gov): refresh rubric evidence at the rework head
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(deps): restore FaceTheory sha512 integrity stripped by pnpm install
  pnpm-lock.yaml
Due: prettier --write

test(blog): harden review chrome edge cases; docs(changelog): correct rework records
  CHANGELOG.md
  packages/faces/blog/tests/components/Review.test.ts
Due: eslint --fix, prettier --write

chore(gov): record rubric evidence at the review-chrome head
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

test(cli): cover the real `greater add review` command path
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(social): server-render status bodies without escaping sanitized markup
  packages/faces/social/src/components/ContentRenderer.svelte
  packages/utils/src/linkifyMentions.d.ts
  packages/utils/src/linkifyMentions.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(social,utils): cover SSR, render parity and XSS invariants for ContentRenderer
  packages/faces/social/tests/components/ContentRenderer.expected.ts
  packages/faces/social/tests/components/ContentRenderer.render.test.ts
  packages/faces/social/tests/components/ContentRenderer.ssr.test.ts
  packages/utils/tests/linkifyHtml.test.ts
Due: eslint --fix, prettier --write

fix(playground): allow demo mention and tag links during prerender
  apps/playground/svelte.config.js
Due: eslint --fix, prettier --write

chore(utils): sync generated declarations for linkifyHtml
  packages/utils/src/linkifyMentions.d.ts
  packages/utils/src/linkifyMentions.d.ts.map
  registry/index.json
Due: eslint --fix, prettier --write

chore(gov): record rubric evidence at the ContentRenderer SSR head
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

test(social): add genuine SSR -> hydrate coverage for ContentRenderer
  packages/faces/social/tests/components/ContentRenderer.expected.ts
  packages/faces/social/tests/components/ContentRenderer.hydration.test.ts
  packages/faces/social/tests/components/ContentRenderer.ssr.test.ts
Due: eslint --fix, prettier --write

chore(gov): record rubric evidence at the hydration-coverage head
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(utils): treat raw-text elements as linkification barriers
  packages/utils/src/linkifyMentions.ts
  packages/utils/tests/linkifyHtml.test.ts
Due: eslint --fix, prettier --write

fix(utils): reject generated hrefs that resolve off the page origin
  packages/utils/src/linkifyMentions.ts
  packages/utils/tests/linkifyHtml.test.ts
Due: eslint --fix, prettier --write

fix(utils): resolve known mentions and tags through an index
  packages/utils/src/linkifyMentions.ts
  packages/utils/tests/linkifyHtml.test.ts
Due: eslint --fix, prettier --write

chore(utils): sync generated declarations for linkifyHtml
  packages/utils/src/linkifyMentions.d.ts
  packages/utils/src/linkifyMentions.d.ts.map
Due: eslint --fix, prettier --write

fix(playground): scope the prerender exemption to missing demo routes
  apps/playground/svelte.config.js
Due: eslint --fix, prettier --write

fix(social): meet the AA contrast floor on status body links
  packages/faces/social/src/theme.css
Due: none
