Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

refactor: replace wildcard package exports with explicit component paths and add a phase 3 planning document.
  packages/greater-components/package.json
  planning-assets/phase-3-prompt.md
Due: prettier --write, pnpm dlx sort-package-json

feat: add numerous Svelte components, icons, and utilities to the CLI test fixture and update the transform utility.
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/registry/patterns.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/git-fetch.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/e2e/smoke.test.ts
  packages/cli/tests/fixtures/cli-fixture/.gitignore
  packages/cli/tests/fixtures/cli-fixture/package.json
  packages/cli/tests/fixtures/cli-fixture/src/app.html
  packages/cli/tests/fixtures/cli-fixture/src/routes/+page.svelte
  packages/cli/tests/fixtures/cli-fixture/svelte.config.js
  packages/cli/tests/fixtures/cli-fixture/tsconfig.json
  packages/cli/tests/fixtures/cli-fixture/vite.config.ts
  packages/cli/tests/transform.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat: Enhance face installer dependency resolution and expand e2e smoke tests for multiple faces.
  .gitignore
  packages/cli/src/commands/add.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/face-installer.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/files.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/e2e/smoke.test.ts
  packages/cli/tests/fixtures/cli-fixture/package.json
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat: implement granular package validation scripts and integrate automated package integrity audits into CI workflows, detailed in a new design document.
  .github/workflows/a11y.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  package.json
  planning/phase-4-ci-audits-design.md
Due: prettier --write, pnpm dlx sort-package-json

feat: implement stable ID system for components and update primitives to utilize it.
  package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/id-provider-inject.ts
  packages/cli/tests/id-provider-inject.test.ts
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/components/ProfileHeader.svelte
  packages/faces/social/src/patterns/PollComposer.svelte
  packages/faces/social/src/types.ts
  packages/primitives/src/components/DropZone.svelte
  packages/primitives/src/components/Modal.svelte
  packages/primitives/src/components/TextArea.svelte
  packages/primitives/src/components/Tooltip.svelte
  packages/shared/admin/src/Cost/Alerts.svelte
  packages/shared/chat/src/ChatInput.svelte
  packages/shared/compose/src/ThreadComposer.svelte
  packages/utils/tests/TestStableId.svelte
  packages/utils/tests/TestStableIdWithProvider.svelte
  packages/utils/tests/use-stable-id.test.ts
  packages/utils/vitest.config.ts
  planning/phase-5-stable-ids-design.md
  registry/index.json
  scripts/validate-ids.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix: resolve pnpm lint errors and avoid suppression, update registry index
  eslint.config.js
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/git-fetch.ts
  packages/cli/src/utils/id-provider-inject.ts
  packages/cli/tests/e2e/smoke.test.ts
  packages/cli/tests/fixtures/cli-fixture/src/app.html
  packages/cli/tests/fixtures/cli-fixture/src/routes/+page.svelte
  packages/cli/tests/fixtures/cli-fixture/svelte.config.js
  packages/cli/tests/fixtures/cli-fixture/vite.config.ts
  packages/cli/tests/transform.test.ts
  packages/primitives/src/components/ThemeProvider.svelte
  packages/utils/tests/TestStableId.svelte
  planning-assets/phase-3-prompt.md
  planning/phase-4-ci-audits-design.md
  planning/quality-completeness-consistency-plan.md
  registry/index.json
  scripts/audit-exports.mjs
Due: eslint --fix, prettier --write

refactor(cli): resolve linting errors in dependency-resolver
  packages/cli/src/utils/dependency-resolver.ts
Due: eslint --fix, prettier --write

feat: Improve ID generation with `crypto.randomUUID()`, increase typecheck memory, and update registry schema.
  package.json
  packages/adapters/src/stores/notificationStore.ts
  packages/adapters/src/stores/timelineStore.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/index.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/src/utils/face-installer.ts
  packages/cli/src/utils/git-fetch.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/tests/registry-index.test.ts
  packages/faces/artist/src/patterns/critique.ts
  packages/faces/artist/src/patterns/utils.ts
  packages/faces/artist/src/stores/offlineStore.ts
  packages/faces/artist/src/utils/accessibility.ts
  packages/faces/social/src/adapters/optimistic.ts
  packages/shared/chat/src/context.svelte.ts
  packages/testing/vite.config.ts
  registry/index.json
  schemas/registry-index.schema.json
  scripts/generate-registry-index.js
  tsconfig.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore: Remove trailing blank lines from local-repo utility and GitHub releases documentation.
  docs/devops/github-releases.md
  packages/cli/src/utils/local-repo.ts
Due: eslint --fix, prettier --write

fix: resolve CodeQL security issues and remove changeset workflow
  .github/workflows/changeset.yml
  packages/cli/src/utils/css-inject.ts
  packages/cli/src/utils/id-provider-inject.ts
Due: eslint --fix, prettier --write

chore: Remove trailing blank lines from local-repo utility and GitHub releases documentation.
  README.md
Due: prettier --write

style: fix README formatting
  README.md
Due: prettier --write

fix: resolve CodeQL security alerts
  packages/shared/auth/src/context.ts
  packages/shared/notifications/tests/NotificationItem.test.ts
Due: eslint --fix, prettier --write

chore: regenerate registry index after context.ts changes
  registry/index.json
Due: prettier --write

fix: add missing test wrapper components and format registry
  .gitignore
  packages/faces/artist/tests/components/coverage/CommissionContextConsumer.svelte
  packages/faces/artist/tests/components/coverage/CommissionInteractiveWrapper.svelte
  packages/faces/artist/tests/components/coverage/CommissionWorkflowTestWrapper.svelte
  packages/faces/artist/tests/components/coverage/CritiqueCircleContextConsumer.svelte
  packages/faces/artist/tests/components/coverage/ExhibitionContextConsumer.svelte
  packages/faces/artist/tests/components/coverage/WIPContextConsumer.svelte
  registry/index.json
Due: eslint --fix, prettier --write

fix: resolve all CodeQL security alerts
  packages/cli/src/utils/transform.ts
  packages/faces/artist/src/utils/federation.ts
  packages/faces/blog/tests/patterns/reading-time.test.ts
  packages/shared/notifications/tests/NotificationItem.test.ts
Due: eslint --fix, prettier --write

fix: replace remaining regex patterns with indexOf-based parsing
  packages/cli/src/utils/id-provider-inject.ts
  packages/cli/src/utils/transform.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: use const for searchFrom variables (ESLint prefer-const)
  packages/cli/src/utils/id-provider-inject.ts
Due: eslint --fix, prettier --write

feat: Add Wallet icon, introduce DefinitionList components, and include truncateMiddle utility.
  docs/design/GREATER_COMPONENTS_AUTH_SETUP_WIZARD_REQUIREMENTS.md
  packages/icons/scripts/build.js
  packages/icons/src/icons/wallet.svelte
  packages/icons/src/icons/wallet.svelte.d.ts
  packages/icons/src/icons/wallet.svelte.d.ts.map
  packages/icons/src/index.d.ts
  packages/icons/src/index.ts
  packages/icons/tests/registry.test.ts
  packages/primitives/src/components/DefinitionItem.svelte
  packages/primitives/src/components/DefinitionItem.svelte.d.ts
  packages/primitives/src/components/DefinitionItem.svelte.d.ts.map
  packages/primitives/src/components/DefinitionList.svelte
  packages/primitives/src/components/DefinitionList.svelte.d.ts
  packages/primitives/src/components/DefinitionList.svelte.d.ts.map
  packages/primitives/src/index.d.ts
  packages/primitives/src/index.ts
  packages/primitives/src/theme.css
  packages/primitives/tests/DefinitionList.test.ts
  packages/primitives/tests/harness/DefinitionListHarness.svelte
  packages/utils/src/index.d.ts
  packages/utils/src/index.ts
  packages/utils/src/truncateMiddle.d.ts
  packages/utils/src/truncateMiddle.d.ts.map
  packages/utils/src/truncateMiddle.ts
  packages/utils/tests/truncateMiddle.test.ts
Due: eslint --fix, prettier --write

feat: Add DefinitionItem and DefinitionList components, wallet icon, and truncateMiddle utility to the registry.
  registry/index.json
Due: prettier --write

feat: Pin component references to commit SHAs for consistent fetching, diffing, and updating.
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/cache.ts
  packages/cli/src/commands/diff.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/git-fetch.ts
  packages/cli/src/utils/ref.ts
  packages/cli/tests/cache.test.ts
  packages/cli/tests/fetch-extended.test.ts
  packages/cli/tests/fetch.test.ts
  registry/latest.json
Due: eslint --fix, prettier --write

deploy: 6a3eb440ddd5163019ec5bac8065bd568fd0704b
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

feat: Generate Lesser API REST client from OpenAPI spec and update GraphQL types.
  codegen.ts
  docs/lesser/contracts/README.md
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  package.json
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/documents/notes.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

style: Standardize GraphQL schema indentation and documentation list formatting.
  docs/design/GREATER_COMPONENTS_AUTH_SETUP_WIZARD_REQUIREMENTS.md
  docs/lesser/contracts/README.md
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/cache.ts
  packages/cli/src/commands/diff.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/ref.ts
  packages/primitives/src/components/DefinitionItem.svelte
  packages/primitives/src/components/DefinitionItem.svelte.d.ts
  packages/primitives/src/components/DefinitionList.svelte
  packages/primitives/src/components/DefinitionList.svelte.d.ts
  packages/primitives/tests/DefinitionList.test.ts
  packages/primitives/tests/harness/DefinitionListHarness.svelte
  packages/utils/src/truncateMiddle.d.ts
  packages/utils/src/truncateMiddle.ts
  packages/utils/tests/truncateMiddle.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: Update date format test to handle year boundary edge case
  packages/shared/notifications/tests/notificationGrouping.test.ts
Due: eslint --fix, prettier --write

chore: Regenerate registry index after codegen updates
  registry/index.json
Due: prettier --write

chore: Reformat codebase
  packages/primitives/src/index.d.ts.map
  packages/utils/src/index.d.ts.map
  packages/utils/src/truncateMiddle.d.ts.map
  registry/index.json
Due: prettier --write

feat(csp): Add CSP compliance baseline, audit tooling, and refactor core primitives
  .kiro/specs/csp-baseline-and-primitives/checkpoint-9-validation.md
  .kiro/specs/csp-baseline-and-primitives/design.md
  .kiro/specs/csp-baseline-and-primitives/requirements.md
  .kiro/specs/csp-baseline-and-primitives/tasks.md
  docs/README.md
  docs/csp-compatibility.md
  docs/csp-migration-guide.md
  package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/README.md
  packages/primitives/src/components/Avatar.svelte
  packages/primitives/src/components/Container.svelte
  packages/primitives/src/components/Skeleton.svelte
  packages/primitives/src/components/Text.svelte
  packages/primitives/src/theme.css
  packages/primitives/tests/avatar.test.ts
  packages/primitives/tests/container.test.ts
  packages/primitives/tests/skeleton.test.ts
  packages/primitives/tests/text.test.ts
  planning/csp-compatibility-plan.md
  planning/csp-violations-baseline.md
  pnpm-lock.yaml
  scripts/audit-csp.mjs
  scripts/audit-csp.test.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(csp): Refactor theme and layout primitives to eliminate inline styles
  .github/workflows/lint.yml
  .kiro/specs/csp-theme-layout-primitives/design.md
  .kiro/specs/csp-theme-layout-primitives/requirements.md
  .kiro/specs/csp-theme-layout-primitives/tasks.md
  .kiro/specs/csp-theme-layout-primitives/theme-tooling-decision.md
  docs/api-reference.md
  docs/csp-compatibility.md
  docs/csp-migration-guide.md
  packages/primitives/src/components/Section.svelte
  packages/primitives/src/components/Theme/ColorHarmonyPicker.svelte
  packages/primitives/src/components/Theme/ContrastChecker.svelte
  packages/primitives/src/components/Theme/ThemeWorkbench.svelte
  packages/primitives/src/components/ThemeProvider.svelte
  packages/primitives/src/components/ThemeSwitcher.svelte
  packages/primitives/src/components/Tooltip.svelte
  packages/primitives/src/theme.css
  packages/primitives/tests/Theme.test.ts
  packages/primitives/tests/section.test.ts
  packages/primitives/tests/themeprovider.test.ts
  packages/primitives/tests/themeswitcher.test.ts
  packages/primitives/tests/tooltip.test.ts
  packages/tokens/src/palette-utils.d.ts
  packages/tokens/src/palette-utils.d.ts.map
  packages/tokens/src/palette-utils.ts
  scripts/audit-csp.mjs
  scripts/audit-csp.test.mjs
Due: eslint --fix, prettier --write

feat: Introduce strict CSP compatibility with new documentation, theme initialization, and build scripts.
  .changeset/strict-csp-compatibility.md
  .github/workflows/docs.yml
  apps/docs/package.json
  apps/docs/src/app.css
  apps/docs/src/app.html
  apps/docs/src/lib/components/Sidebar.svelte
  apps/docs/src/routes/guides/csp-compatibility/+page.svelte
  apps/docs/src/routes/guides/csp-migration/+page.svelte
  apps/docs/src/routes/guides/theming/+page.svelte
  apps/docs/static/theme-init.js
  apps/playground/package.json
  apps/playground/src/app.css
  apps/playground/src/app.html
  apps/playground/src/routes/demos/layout/+page.svelte
  apps/playground/src/routes/demos/primitives/+page.svelte
  apps/playground/src/routes/demos/spinner/+page.svelte
  apps/playground/src/routes/examples/theme-customization/+page.svelte
  apps/playground/src/routes/profile/+page.svelte
  apps/playground/src/routes/search/+page.svelte
  docs/api-reference.md
  docs/component-inventory.md
  packages/greater-components/README.md
  packages/primitives/README.md
  packages/primitives/src/components/Avatar.svelte.d.ts
  packages/primitives/src/components/Container.svelte
  packages/primitives/src/components/Container.svelte.d.ts
  packages/primitives/src/components/Section.svelte.d.ts
  packages/primitives/src/components/Skeleton.svelte
  packages/primitives/src/components/Skeleton.svelte.d.ts
  packages/primitives/src/components/ThemeProvider.svelte.d.ts
  packages/primitives/src/components/ThemeSwitcher.svelte.d.ts
  packages/primitives/src/components/Tooltip.svelte
  packages/primitives/src/components/Tooltip.svelte.d.ts
  packages/primitives/src/index.d.ts
  packages/primitives/src/index.ts
  packages/shared/notifications/src/LesserNotificationItem.svelte
  scripts/audit-csp.mjs
  scripts/postprocess-csp-build.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat: Adopt Svelte 5 `$derived` for reactive computations and update notification color representation in tests.
  apps/docs/src/routes/guides/csp-compatibility/+page.svelte
  apps/docs/src/routes/guides/csp-migration/+page.svelte
  apps/docs/src/routes/guides/theming/+page.svelte
  eslint.config.js
  packages/faces/artist/src/components/ArtistProfile/Statement.svelte
  packages/faces/artist/src/components/Artwork/Title.svelte
  packages/faces/artist/src/components/CreativeTools/CritiqueMode/Annotations.svelte
  packages/faces/artist/src/components/Exhibition/Gallery.svelte
  packages/faces/blog/src/components/Article/ReadingProgress.svelte
  packages/faces/community/tests/a11y/contrast.test.ts
  packages/faces/social/tests/notificationGrouping.test.ts
  packages/primitives/src/components/Menu/context.svelte.d.ts.map
  packages/primitives/src/components/Menu/positioning.d.ts.map
  packages/primitives/src/components/ThemeSwitcher.svelte
  packages/primitives/src/index.d.ts
  packages/primitives/src/index.d.ts.map
  packages/shared/admin/src/Insights/AIAnalysis.svelte
  scripts/audit-csp.mjs
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
