Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

more test fixes
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .prettierignore
  apps/playground/src/routes/+layout.server.ts
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/settings/+page.svelte
  docs/ci-issues-2025-11-15.md
  docs/playwright-failure-inventory.md
  packages/primitives/src/components/Menu.svelte
  packages/testing/tests/demo/a11yReporter.ts
  packages/testing/tests/demo/focus.spec.ts
  packages/testing/tests/demo/settings.spec.ts
Due: eslint --fix, prettier --write

yet more test fixes
  .github/workflows/a11y.yml
  .github/workflows/docs.yml
  docs/playwright-failure-inventory.md
  packages/testing/playwright.a11y.config.ts
  packages/testing/reports/a11y-report-dark-compact.html
  packages/testing/tests/a11y/contrast.spec.ts
  packages/testing/tests/a11y/focus.spec.ts
Due: eslint --fix, prettier --write

yet more test fixes
  .github/workflows/a11y.yml
  apps/playground/src/lib/components/DemoPage.svelte
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/+page.svelte
  apps/playground/src/routes/settings/+page.svelte
  apps/playground/src/routes/tabs/+page.svelte
  docs/playwright-failure-inventory.md
  packages/primitives/src/components/Switch.svelte
  packages/primitives/src/components/TextArea.svelte
  packages/primitives/src/components/ThemeSwitcher.svelte
  packages/testing/playwright.a11y.config.ts
  packages/testing/scripts/check-a11y-compliance.js
  packages/testing/tests/a11y/contrast.a11y.test.ts
  packages/testing/tests/a11y/focus.a11y.test.ts
  packages/tokens/scripts/build.js
Due: eslint --fix, prettier --write

additional deploy fixes
  apps/playground/src/routes/+layout.svelte
  apps/playground/svelte.config.js
Due: eslint --fix, prettier --write

a11y fixes
  .github/workflows/a11y.yml
  apps/docs/svelte.config.js
  apps/playground/src/routes/+layout.svelte
  packages/fediverse/src/components/ProfileHeader.svelte
Due: eslint --fix, prettier --write

compliance report and lint fixes
  .github/workflows/docs.yml
  apps/playground/src/routes/search/+page.svelte
  apps/playground/src/routes/timeline/+page.svelte
  packages/fediverse/src/components/ContentRenderer.svelte
  packages/fediverse/src/components/ProfileHeader.svelte
  packages/fediverse/src/components/Search/Bar.svelte
  packages/fediverse/src/components/Search/Filters.svelte
  packages/primitives/src/components/Button.svelte
  packages/primitives/src/components/Tabs.svelte
Due: eslint --fix, prettier --write

more testing
  packages/cli/tests/commands.test.ts
  packages/greater-components/tests/smoke.test.ts
  packages/headless/tests/menu.test.ts
  packages/icons/src/index.ts
  packages/utils/tests/keyboardShortcuts.test.ts
  packages/utils/tests/performance.test.ts
Due: eslint --fix, prettier --write

changeset
  .changeset/improved-demo-docs.md
Due: prettier --write

another changeset retry
  .github/workflows/release.yml
  packages/icons/src/index.d.ts
  packages/icons/src/index.ts
  packages/icons/tests/icons-ssr.test.ts
  packages/icons/vitest.config.ts
  packages/primitives/src/components/FileUpload.svelte
  packages/primitives/tests/avatar.test.ts
  packages/primitives/tests/fileupload.test.ts
  packages/primitives/tests/tabs.test.ts
  packages/primitives/vitest.config.ts
  packages/tokens/vitest.config.ts
  packages/utils/tests/keyboardShortcuts.test.ts
Due: eslint --fix, prettier --write

fix(ci): correct DCO action and changesets commands
  .github/workflows/dco.yml
Due: prettier --write

fix(ci): remove broken DCO check, fix release workflow
  .github/workflows/dco.yml
Due: prettier --write

fix(ci): skip changeset check on release PRs
  .github/workflows/changeset.yml
Due: prettier --write

another changeset try
  .github/workflows/release.yml
Due: prettier --write

formatting
  packages/icons/src/index.d.ts
  packages/icons/src/index.ts
  packages/icons/tests/icons-ssr.test.ts
  packages/icons/vitest.config.ts
  packages/primitives/src/components/FileUpload.svelte
  packages/primitives/tests/avatar.test.ts
  packages/primitives/tests/fileupload.test.ts
  packages/primitives/tests/tabs.test.ts
  packages/primitives/vitest.config.ts
  packages/tokens/vitest.config.ts
  packages/utils/tests/keyboardShortcuts.test.ts
Due: eslint --fix, prettier --write

deploy: 3fa71306210f9928c997cb20d54681e3b8ab4105
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

chore: include greater-components package in changeset
  .changeset/added-layout-typography-components.md
Due: prettier --write

paicodes update 3
  apps/docs/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/fediverse/package.json
  packages/greater-components/package.json
  packages/testing/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore: release greater-components v2.0.1
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/GradientText.svelte
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore: release packages
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/GradientText.svelte
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

paicodes update 4
  .changeset/unified-css-arch.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/icons/src/index.d.ts
  packages/icons/src/index.d.ts.map
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

paicodes update 5
  .changeset/config.json
  .changeset/fix-release-system.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/package.json
  packages/primitives/src/components/CodeBlock.svelte
  packages/primitives/src/theme.css
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

copy button fix
  packages/greater-components/package.json
  packages/primitives/package.json
  packages/primitives/src/components/CopyButton.svelte
  packages/primitives/tests/CopyButton.test.ts
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

copy button fix
  .changeset/fix-release-system.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
Due: prettier --write, pnpm dlx sort-package-json

more copybutton fun
  docs/PACKAGE-EXPECTATIONS-VS-REALITY.md
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/theme.css
Due: prettier --write, pnpm dlx sort-package-json

more copybutton fun
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
Due: prettier --write, pnpm dlx sort-package-json

deploy: 6c10b8fd27689dba22fbee0843319f3d56fb93aa
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

chore: release 2.2.1
  docs/NEW_FEATURES_IMPLEMENTATION_GUIDE.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/greater-components/scripts/build.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json
