Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(messaging): expose conversation intent bindings
  .semver impact note/1014-messaging-component-bindings.md
  packages/shared/messaging/src/Composer.svelte
  packages/shared/messaging/src/NewConversation.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/tests/Composer.test.ts
  packages/shared/messaging/tests/NewConversation.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(cli): preserve prior messaging release bytes
  packages/cli/src/commands/add.ts
  packages/cli/tests/e2e/update-prune-upgrade.test.ts
  packages/cli/tests/fixtures/upgrade-greater-v0.13.0/prior-source/packages/shared/messaging/src/Composer.svelte
  packages/cli/tests/fixtures/upgrade-greater-v0.13.0/prior-source/packages/shared/messaging/src/NewConversation.svelte
  packages/cli/tests/fixtures/upgrade-greater-v0.13.0/prior-source/packages/shared/messaging/src/context.svelte.ts
Due: eslint --fix, prettier --write

feat(registry): enumerate module stylesheets
  .semver impact note/1015-registry-module-css.md
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/tests/dependency-resolver.test.ts
  packages/cli/tests/registry-index.test.ts
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

test(social): exercise timeline e2e surface
  packages/cli/tests/e2e/update-prune-upgrade.test.ts
  packages/faces/social/tests/e2e/timeline.spec.ts
Due: eslint --fix, prettier --write

test(cli): preserve fixture whitespace bytes
  .gitattributes
Due: none

feat(adapters): sync Lesser v1.6.4 contracts
  .semver impact note/1016-lesser-viewer-state.md
  .semver impact note/lesser-v1.6.4-host-v1.6.3.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/mappers/lesser/__tests__/graphqlConverters.test.ts
  packages/adapters/src/mappers/lesser/__tests__/mappers.branch.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.d.ts.map
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/adapters/src/mappers/lesser/mappers.ts
  packages/adapters/src/mappers/lesser/types.d.ts
  packages/adapters/src/mappers/lesser/types.d.ts.map
  packages/adapters/src/mappers/lesser/types.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts.map
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/blog/src/components/Review/AttributionStrip.svelte
  packages/faces/blog/src/components/Review/state.ts
  packages/faces/blog/src/index.ts
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/blog/tests/mocks/mockDraftReview.ts
  packages/faces/social/src/adapters/graphql/documents/draft-review.graphql
  packages/faces/social/src/adapters/graphql/documents/fragments.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  schemas/lesser/schema.graphql
Due: eslint --fix, prettier --write

fix(messaging): preserve pagination and reconnect state
  .semver impact note/1014-messaging-component-bindings.md
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/__tests__/clientAuthExpiry.test.ts
  packages/adapters/src/graphql/client.d.ts
  packages/adapters/src/graphql/client.d.ts.map
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/index.d.ts
  packages/adapters/src/index.d.ts.map
  packages/adapters/src/index.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.d.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.d.ts.map
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/adapters/src/messaging/index.d.ts
  packages/adapters/src/messaging/index.d.ts.map
  packages/adapters/src/messaging/index.ts
  packages/adapters/src/messaging/messagingOperations.d.ts
  packages/adapters/src/messaging/messagingOperations.d.ts.map
  packages/adapters/src/messaging/messagingOperations.ts
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/src/index.ts
  packages/shared/messaging/tests/Context.test.ts
Due: eslint --fix, prettier --write

feat(compose): model Lesser CMS workflow state
  .semver impact note/1020-compose-cms-state.md
  packages/shared/compose/src/context.ts
  packages/shared/compose/src/index.ts
  packages/shared/compose/tests/context.test.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate integration artifacts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/client.d.ts
  packages/adapters/src/graphql/client.d.ts.map
  registry/index.json
Due: eslint --fix, prettier --write

fix(validation): close integration gate failures
  packages/cli/tests/fixtures/upgrade-greater-v0.13.0/prior-source/packages/shared/messaging/src/index.ts
  packages/faces/social/vitest.config.ts
  packages/shared/compose/src/GraphQLAdapter.ts
  packages/shared/messaging/src/context.svelte.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(governance): refresh Contentus integration evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

feat(adapters): sync Lesser v1.6.5 contracts
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/agent-share-act-as.md
  docs/lesser/contracts/agent-share-grants.md
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  schemas/lesser/schema.graphql
Due: eslint --fix, prettier --write

feat(adapters): sync Lesser Host v1.6.5 contracts
  .semver impact note/lesser-v1.6.5-host-v1.6.5.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/README.md
  docs/lesser-host/contracts/hosted-genesis-conversation.md
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-instance-recovery.md
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.acted-by.example.json
  docs/lesser-host/spec/v3/fixtures/soul-instance-recovery-agent.legacy.example.json
  docs/lesser-host/spec/v3/fixtures/soul-instance-recovery-agent.published.example.json
  docs/lesser-host/spec/v3/fixtures/soul-instance-recovery-agents.example.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-status.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-recovery-agent.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-recovery-agents.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-recovery.error.schema.json
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(faces-blog): move draft-review drift guard to Lesser v1.6.5
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
Due: eslint --fix, prettier --write

test(faces-blog): audit actedBy in the Lesser CMS contract boundary
  docs/faces/blog/lesser-cms-contract-audit.md
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
Due: eslint --fix, prettier --write

chore(governance): rubric evidence for lesser/lesser-host v1.6.5 sync
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(contracts): regenerate stale adapter declarations
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/rest/generated/lesser-api.d.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts.map
  packages/adapters/src/rest/generated/lesser-host-api.d.ts
  packages/adapters/src/rest/generated/lesser-host-api.d.ts.map
Due: eslint --fix, prettier --write

fix(registry): refresh checksums after adapter declaration regen
  registry/index.json
Due: prettier --write

chore(contracts): pin Lesser v1.6.22 and Lesser Host v1.6.6
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  schemas/lesser/schema.graphql
Due: prettier --write

chore(adapters): regenerate clients for the Lesser v1.6.22 contract
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts.map
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
Due: eslint --fix, prettier --write

chore(registry): refresh checksums for the regenerated adapter artifacts
  registry/index.json
Due: prettier --write

test(faces-blog): move draft-review drift guard to Lesser v1.6.22
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
Due: eslint --fix, prettier --write

docs(contracts): close the stale Quote Posts REST gap record
  docs/lesser/contracts/upstream-gaps.md
Due: prettier --write

fix(contracts): baseline the anonymous passkey signup routes
  docs/lesser/contracts/openapi-auth-baseline.json
Due: prettier --write

chore(deps): update FaceTheory to v4.0.7
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): update FaceTheory to v4.0.9
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): consolidate dependabot bump wave across 15 open PRs
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/cli/tests/registry-generated-dependencies.test.ts
  packages/content/package.json
  packages/faces/agent/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/host-platform/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/agent/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/shared/soul/package.json
  packages/shell/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

ci: bump workflow action refs and enforce SRI audits in lint.yml
  .github/workflows/a11y.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/gov-rubric.yml
  .github/workflows/lint.yml
  .github/workflows/main-guard.yml
  .github/workflows/manual-release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): revert jsdom ^30.0.1 -> ^29.0.2 (rubric QUA-3 timeout)
  apps/playground/package.json
  packages/adapters/package.json
  packages/content/package.json
  packages/faces/agent/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/headless/package.json
  packages/host-platform/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/agent/package.json
  packages/shared/auth/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/shared/soul/package.json
  packages/shell/package.json
  packages/testing/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): complete the jsdom 30 revert and align lint.yml audit order
  .github/workflows/lint.yml
  packages/greater-components/package.json
  packages/shared/chat/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(contracts): pin Lesser v1.6.28 and Lesser Host v1.6.8
  .semver impact note/1056-lesser-v1.6.28-host-v1.6.8.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  schemas/lesser/schema.graphql
Due: prettier --write

chore(deps): pin graphql-codegen typescript plugins back to v5
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(contracts): regenerate auth baseline for the v1.6.28 OpenAPI
  docs/lesser/contracts/openapi-auth-baseline.json
Due: prettier --write

chore(adapters): regenerate clients for the Lesser v1.6.28 contract
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts.map
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
Due: eslint --fix, prettier --write

test(faces-blog): move contract drift guards to Lesser v1.6.28
  docs/faces/blog/lesser-cms-contract-audit.md
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
Due: eslint --fix, prettier --write

chore(governance): rubric evidence for lesser/lesser-host v1.6.28/v1.6.8 sync
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

test(faces-blog): exact current/stale/contentHash and draftPreview guards
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
Due: eslint --fix, prettier --write

chore(scripts): generator-replay gate and codegen v5 constraint
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  scripts/check-generator-replay.mjs
Due: prettier --write, pnpm dlx sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
