Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(social): remove global BackupCodes theme styles
  packages/faces/social/src/theme.css
  scripts/audit-csp.baseline.json
Due: prettier --write

fix(csp): remove inline style writes from utils
  packages/primitives/src/theme.css
  packages/utils/src/clipboard.ts
  packages/utils/src/export-markdown.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): replace textarea autosize with CSS-driven helper
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/theme.css
  packages/primitives/src/theme.css
  packages/shared/chat/src/ChatInput.svelte
  packages/shared/compose/src/Editor.svelte
  packages/shared/compose/src/EditorWithAutocomplete.svelte
  packages/shared/compose/tests/Editor.test.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): remove runtime inline-style writes from primitives
  packages/primitives/src/components/Button.svelte
  packages/primitives/src/components/Card.svelte
  packages/primitives/src/components/Modal.svelte
  packages/primitives/src/stores/preferences.ts
  packages/primitives/src/theme.css
  packages/primitives/src/utils/smoothThemeTransition.ts
  packages/primitives/tests/button.test.ts
  packages/primitives/tests/preferences.test.ts
  packages/primitives/tests/smoothThemeTransition.test.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): remove runtime style writes from headless
  packages/headless/src/behaviors/focus-trap.ts
  packages/headless/src/behaviors/live-region.ts
  packages/headless/src/behaviors/popover.ts
  packages/headless/src/primitives/modal.ts
  packages/headless/src/primitives/skeleton.ts
  packages/headless/src/primitives/tooltip.ts
  packages/headless/src/utils/csp-safe-styles.ts
  packages/headless/tests/live-region.test.ts
  packages/headless/tests/modal.test.ts
  packages/headless/tests/popover.test.ts
  packages/headless/tests/setup.ts
  packages/headless/tests/skeleton.test.ts
  packages/headless/tests/tooltip.position.test.ts
  packages/headless/vitest.config.ts
  packages/primitives/src/theme.css
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): remove runtime style injection from artist face
  packages/faces/artist/src/theme.css
  packages/faces/artist/src/utils/cspSafeStyles.ts
  packages/faces/artist/src/utils/highContrast.ts
  packages/faces/artist/src/utils/performance.ts
  packages/faces/artist/src/utils/reducedMotion.ts
  packages/faces/artist/tests/setup.ts
  packages/faces/artist/tests/utils/highContrast.test.ts
  packages/faces/artist/tests/utils/performance.test.ts
  packages/faces/artist/tests/utils/reducedMotion.test.ts
  scripts/audit-csp.baseline.json
Due: eslint --fix, prettier --write

fix(csp): make primitives transitions WAAPI-based
  packages/primitives/src/transitions/fadeDown.ts
  packages/primitives/src/transitions/fadeUp.ts
  packages/primitives/src/transitions/scaleIn.ts
  packages/primitives/src/transitions/slideIn.ts
  packages/primitives/src/transitions/waapi.ts
  packages/primitives/tests/setup.ts
  packages/primitives/tests/transitions.test.ts
Due: eslint --fix, prettier --write

feat(cli): add doctor --csp and strict CSP docs
  docs/cli-guide.md
  docs/csp-compatibility.md
  packages/cli/src/commands/doctor.ts
  packages/cli/src/utils/csp-doctor.ts
  packages/cli/tests/csp-doctor.test.ts
  packages/cli/tests/doctor.test.ts
Due: eslint --fix, prettier --write

chore: run prettier
  packages/cli/src/commands/doctor.ts
  packages/cli/src/utils/csp-doctor.ts
  packages/cli/tests/csp-doctor.test.ts
  packages/faces/artist/src/utils/cspSafeStyles.ts
  packages/faces/artist/src/utils/highContrast.ts
  packages/faces/artist/src/utils/reducedMotion.ts
  packages/faces/artist/tests/setup.ts
  packages/faces/artist/tests/utils/performance.test.ts
  packages/faces/social/src/components/ComposeBox.svelte
  packages/headless/src/behaviors/popover.ts
  packages/headless/src/utils/csp-safe-styles.ts
  packages/headless/tests/setup.ts
  packages/primitives/src/transitions/waapi.ts
  packages/primitives/tests/transitions.test.ts
  packages/shared/chat/src/ChatInput.svelte
  planning/2026-02-12-issue-sweep.md
  scripts/audit-csp.mjs
Due: eslint --fix, prettier --write

chore: regenerate registry
  registry/index.json
Due: prettier --write

chore: regenerate src type artifacts
  packages/primitives/src/stores/preferences.d.ts
  packages/primitives/src/stores/preferences.d.ts.map
  packages/primitives/src/transitions/fadeDown.d.ts.map
  packages/primitives/src/transitions/fadeUp.d.ts.map
  packages/primitives/src/transitions/scaleIn.d.ts.map
  packages/primitives/src/transitions/slideIn.d.ts.map
  packages/primitives/src/transitions/waapi.d.ts
  packages/primitives/src/transitions/waapi.d.ts.map
  packages/primitives/src/utils/smoothThemeTransition.d.ts.map
  packages/utils/src/clipboard.d.ts.map
  packages/utils/src/html-to-markdown.d.ts.map
Due: eslint --fix, prettier --write

chore: update registry checksums
  registry/index.json
Due: prettier --write

chore(lesser): pin contracts to v1.1.10
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(playground): prevent icon gallery crash
  apps/playground/src/routes/demos/icons/+page.svelte
Due: eslint --fix, prettier --write

fix(adapters): handle empty GraphQL query results
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
Due: eslint --fix, prettier --write

feat(social): add Unicode fallback to CustomEmojiPicker
  packages/faces/social/src/patterns/CustomEmojiPicker.svelte
Due: eslint --fix, prettier --write

chore: format + regenerate registry
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/faces/social/src/patterns/CustomEmojiPicker.svelte
  registry/index.json
Due: eslint --fix, prettier --write

fix(adapters): default empty conversations results
  docs/lesser/contracts/LESSER_REF.txt
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: format adapter tests
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): update workspace dependencies
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/content/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

test: fix wrappers and headless mocks
  packages/faces/artist/tests/components/ArtistProfile/ActionsTestWrapper.svelte
  packages/faces/artist/tests/components/ArtistProfile/StatsTestWrapper.svelte
  packages/faces/artist/tests/components/Artwork/fixtures/ContextTestWrapper.svelte
  packages/faces/artist/tests/components/Exhibition/fixtures/BannerTestWrapper.svelte
  packages/faces/artist/tests/components/behavior/CreativeTools/CritiqueMode/fixtures/ContextTester.svelte
  packages/shared/admin/tests/Reports.test.ts
  packages/shared/auth/tests/BackupCodes.modal.test.ts
  packages/shared/auth/tests/BackupCodes.test.ts
  packages/shared/auth/tests/WalletConnect.test.ts
Due: eslint --fix, prettier --write

chore(lesser): pin contracts to 9f072443
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
Due: eslint --fix, prettier --write

feat(messaging): inbox/requests dm handlers
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/adapters/src/messaging/index.ts
  packages/faces/social/src/adapters/graphql/documents/conversations.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
  packages/shared/messaging/manifest.json
  packages/shared/messaging/src/Composer.svelte
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/Thread.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/src/index.ts
  packages/shared/messaging/tests/Context.test.ts
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/Thread.test.ts
  packages/shared/messaging/tests/messaging.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(prefs): expose dm delivery setting
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/documents/preferences.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(messaging): delete-for-me (M4)
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/faces/social/src/adapters/graphql/documents/conversations.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  packages/faces/social/src/theme.css
  packages/shared/messaging/manifest.json
  packages/shared/messaging/src/Message.svelte
  packages/shared/messaging/src/Thread.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/tests/Context.test.ts
  packages/shared/messaging/tests/Thread.test.ts
  packages/shared/messaging/tests/setup.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(registry): regenerate index
  registry/index.json
Due: prettier --write

feat(messaging): realtime updates (M5)
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/faces/social/src/adapters/graphql/documents/subscriptions.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
  packages/faces/social/src/theme.css
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/Root.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/tests/Root.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(admin): use valid Button variant
  packages/shared/admin/src/Agents/AgentDirectory.svelte
  registry/index.json
Due: eslint --fix, prettier --write

feat(messaging): allow background refresh
  packages/shared/messaging/src/context.svelte.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(ci): pass lint workflow
  .prettierignore
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/adapters/src/messaging/index.ts
  packages/faces/social/src/theme.css
  packages/shared/admin/src/Agents/AgentDirectory.svelte
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/Thread.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/Thread.test.ts
Due: eslint --fix, prettier --write

chore: bump svelte to 5.53.0
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/content/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/testing/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

feat: Add initial system configuration and logging setup under the new .theory directory.
  .theory/config.yaml
Due: prettier --write

chore: pin lesser v1.1.23 and lesser-host v0.1.0 contracts
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/README.md
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channel-preferences.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-status.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-resolve.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-search.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channel-preferences.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-identity.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-status.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-status.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-resolve.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-search.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-search.result.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  package.json
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
  scripts/generate-lesser-host-openapi.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(adapters): add lesser-host soul client utilities
  packages/adapters/package.json
  packages/adapters/src/index.ts
  packages/adapters/src/soul/client.ts
  packages/adapters/src/soul/ens.ts
  packages/adapters/src/soul/index.ts
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(soul): add channels and preferences UI components
  packages/adapters/src/index.ts
  packages/adapters/src/soul/client.ts
  packages/adapters/src/soul/index.ts
  packages/cli/src/registry/shared.ts
  packages/cli/src/utils/transform.ts
  packages/greater-components/package.json
  packages/greater-components/scripts/build.js
  packages/shared/soul/CHANGELOG.md
  packages/shared/soul/README.md
  packages/shared/soul/manifest.json
  packages/shared/soul/package.json
  packages/shared/soul/src/BestWayToContact.svelte
  packages/shared/soul/src/ChannelsDisplay.svelte
  packages/shared/soul/src/ContactPreferencesEditor.svelte
  packages/shared/soul/src/ContactPreferencesViewer.svelte
  packages/shared/soul/src/index.ts
  packages/shared/soul/src/types.ts
  packages/shared/soul/src/utils.ts
  packages/shared/soul/tests/recommendContactTarget.test.ts
  packages/shared/soul/tests/setup.ts
  packages/shared/soul/tsconfig.json
  packages/shared/soul/vite.config.ts
  packages/shared/soul/vitest.config.ts
  pnpm-lock.yaml
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(notifications): render communication notifications
  packages/cli/src/registry/shared.ts
  packages/faces/social/src/theme.css
  packages/shared/notifications/manifest.json
  packages/shared/notifications/src/CommunicationNotificationItem.svelte
  packages/shared/notifications/src/index.ts
  packages/shared/notifications/tests/CommunicationNotificationItem.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): patch audited vulnerabilities
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  packages/content/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/shared/soul/package.json
  packages/testing/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
