Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

chore(registry): refresh messaging checksum
  registry/index.json
Due: prettier --write

fix(messaging): harden backslash authority links
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(messaging): decouple sanitizer walk types
  packages/shared/messaging/package.json
  packages/shared/messaging/src/sanitize.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(registry): refresh messaging metadata
  registry/index.json
Due: prettier --write

fix(messaging): normalize external href predicates
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(messaging): handle non-string sanitizer input
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

test(messaging): avoid sanitizer-shaped CodeQL flow
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(utils): secure external-link hardening on hast tree
  packages/utils/src/sanitizeHtml.d.ts.map
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh utils sanitizer checksum
  registry/index.json
Due: prettier --write

fix(utils): union rel tokens when hardening external anchors
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
Due: eslint --fix, prettier --write

fix(utils): classify protocol-relative and backslash hrefs as external
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh checksum
  registry/index.json
Due: prettier --write

style(utils): apply prettier formatting to sanitizeHtml
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
Due: eslint --fix, prettier --write

fix(utils): align external classification with messaging contract
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
Due: eslint --fix, prettier --write

chore(utils): regenerate sanitizeHtml type map
  packages/utils/src/sanitizeHtml.d.ts.map
Due: none

fix(utils): align external rel intervention with options
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
Due: eslint --fix, prettier --write

fix(messaging): drop opener from external rel unions
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh sanitizer checksums
  registry/index.json
Due: prettier --write

chore: untrack materialized agent surface after namespace publish v15
  .gitignore
  .mcp.json
  GEMINI.md
Due: prettier --write

docs: record .mcp.json untracking supersession
  AGENTS.md
  CONTRIBUTING.md
  SECURITY.md
  docs/adr/0001-accept-greater-lab-mcp-routing.md
Due: prettier --write

fix(sanitize): classify external URLs by resolution, not shape
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(sanitize): strip opener on library target=_blank regardless of addRel
  packages/shared/messaging/tests/sanitize.test.ts
  packages/utils/src/sanitizeHtml.d.ts.map
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(sanitize): classify URLs against union of http/https sentinel bases
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
  packages/utils/src/sanitizeHtml.ts
  packages/utils/tests/sanitizeHtml.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

refactor(sanitize): drop redundant urlParserNormalized helper
  packages/shared/messaging/src/sanitize.ts
  packages/utils/src/sanitizeHtml.d.ts.map
  packages/utils/src/sanitizeHtml.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(blog): compile Article context runes
  packages/cli/src/registry/index.ts
  packages/faces/blog/package.json
  packages/faces/blog/scripts/assert-article-context-runes-compiled.mjs
  packages/faces/blog/src/components/Article/Content.svelte
  packages/faces/blog/src/components/Article/Footer.svelte
  packages/faces/blog/src/components/Article/Header.svelte
  packages/faces/blog/src/components/Article/ReadingProgress.svelte
  packages/faces/blog/src/components/Article/Root.svelte
  packages/faces/blog/src/components/Article/ShareBar.svelte
  packages/faces/blog/src/components/Article/TableOfContents.svelte
  packages/faces/blog/src/components/Article/context.svelte.ts
  packages/faces/blog/src/components/Article/index.ts
  packages/faces/blog/tests/context.test.ts
  packages/faces/blog/tests/fixtures/TestTOCWrapper.svelte
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(registry): refresh Article context checksums
  registry/index.json
Due: prettier --write

fix(blog): make content optional for readers
  packages/cli/src/registry/index.ts
  packages/cli/tests/blog-face-dependencies.test.ts
  packages/cli/tests/doctor.test.ts
  packages/faces/blog/manifest.json
  packages/faces/blog/package.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(registry): refresh blog dependency manifest
  registry/index.json
Due: prettier --write

fix(blog): complete dark reading-surface theme
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/theme.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh blog theme checksum
  registry/index.json
Due: prettier --write

chore(registry): refresh social theme checksum
  registry/index.json
Due: prettier --write

fix(social): theme status root backgrounds
  packages/faces/social/src/theme.css
  packages/faces/social/tests/status-root-theme.test.ts
Due: eslint --fix, prettier --write

fix(blog): resolve dark reading tokens
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/theme.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh blog dark theme checksums
  registry/index.json
Due: prettier --write

fix(blog): preserve the light reading cascade
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/theme.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh light-cascade checksums
  registry/index.json
Due: prettier --write

fix(registry): parse optional dependency ranges
  packages/cli/tests/registry-generated-dependencies.test.ts
  packages/faces/social/manifest.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write
