Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

feat: scaffold canonical agent face exports
  packages/faces/agent/README.md
  packages/faces/agent/manifest.json
  packages/faces/agent/package.json
  packages/faces/agent/src/AgentGenesisWorkspace.svelte
  packages/faces/agent/src/GraduationApprovalThread.svelte
  packages/faces/agent/src/IdentityNexus.svelte
  packages/faces/agent/src/NexusDashboard.svelte
  packages/faces/agent/src/SoulRequestCenter.svelte
  packages/faces/agent/src/compositions.ts
  packages/faces/agent/src/index.ts
  packages/faces/agent/src/internal/AgentFaceFrame.svelte
  packages/faces/agent/src/theme.css
  packages/faces/agent/src/types.ts
  packages/faces/agent/tests/screens.test.ts
  packages/faces/agent/tsconfig.build.json
  packages/faces/agent/vite.config.ts
  packages/faces/agent/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat: compose agent workflow inbox surfaces
  packages/faces/agent/src/AgentGenesisWorkspace.svelte
  packages/faces/agent/src/SoulRequestCenter.svelte
  packages/faces/agent/tests/screens.test.ts
  packages/faces/agent/tests/workflow-surfaces.test.ts
Due: eslint --fix, prettier --write

feat: compose agent signing and declaration surfaces
  packages/faces/agent/src/AgentGenesisWorkspace.svelte
  packages/faces/agent/src/GraduationApprovalThread.svelte
  packages/faces/agent/src/types.ts
  packages/faces/agent/tests/signing-surfaces.test.ts
Due: eslint --fix, prettier --write

feat: compose agent profile and continuity surfaces
  packages/faces/agent/manifest.json
  packages/faces/agent/src/IdentityNexus.svelte
  packages/faces/agent/src/NexusDashboard.svelte
  packages/faces/agent/src/index.ts
  packages/faces/agent/src/types.ts
  packages/faces/agent/tests/profile-continuity.test.ts
Due: eslint --fix, prettier --write

feat: add agent face demo adoption path
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/+page.svelte
  apps/playground/src/routes/agent/+page.svelte
  apps/playground/svelte.config.js
  apps/playground/vite.config.ts
  examples/agent-face-svelte/README.md
  examples/agent-face-svelte/index.html
  examples/agent-face-svelte/package.json
  examples/agent-face-svelte/src/AgentFaceDemo.svelte
  examples/agent-face-svelte/src/demo-data.ts
  examples/agent-face-svelte/src/main.ts
  examples/agent-face-svelte/tsconfig.json
  examples/agent-face-svelte/vite.config.ts
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs: document agent face adoption patterns
  docs/faces/agent/getting-started.md
  docs/faces/agent/integration-patterns.md
  docs/facetheory-integration.md
  packages/cli/src/registry/faces.ts
  packages/faces/agent/README.md
Due: eslint --fix, prettier --write

test: add agent face smoke coverage
  .github/workflows/test.yml
  package.json
  packages/faces/agent/tsconfig.build.json
  packages/faces/agent/tsconfig.json
  packages/greater-components/tests/agent-face.smoke.test.ts
  packages/shared/notifications/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs: publish Simulacrum agent migration checklist
  docs/faces/agent/getting-started.md
  docs/faces/agent/integration-patterns.md
  docs/faces/agent/simulacrum-migration-checklist.md
  packages/cli/src/registry/faces.ts
  packages/faces/agent/README.md
  registry/index.json
Due: eslint --fix, prettier --write

fix: stabilize agent face ci build
  examples/agent-face-svelte/src/AgentFaceDemo.svelte
  packages/faces/agent/src/internal/AgentFaceFrame.svelte
  packages/faces/agent/tsconfig.build.json
  packages/faces/agent/tsconfig.json
  packages/faces/agent/vitest.config.ts
Due: eslint --fix, prettier --write

fix: unblock agent face ci validation
  registry/index.json
  tsconfig.base.json
Due: prettier --write

chore: patch dependabot transitive alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

feat: refresh lesser v1.2.0 contracts
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

style: format lesser-host contract snapshots
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
Due: prettier --write

chore: bump facetheory to v0.3.1
  docs/faces/agent/integration-patterns.md
  docs/facetheory-integration.md
  examples/facetheory-svelte/README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix: exclude umbrella package from registry deps
  packages/cli/tests/face-installer.integration.test.ts
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

chore: refresh registry checksums for chat fixes
  registry/index.json
Due: prettier --write

fix: resolve agent face registry collisions
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/tests/face-installer.integration.test.ts
Due: eslint --fix, prettier --write

fix: align shared chat with primitive props
  packages/shared/chat/src/ChatMessage.svelte
  packages/shared/chat/src/ChatSettings.svelte
  packages/shared/chat/tests/ChatMessage.test.ts
  packages/shared/chat/tests/ChatSettings.test.ts
  packages/shared/chat/tests/harness/ChatMessageHarness.svelte
Due: eslint --fix, prettier --write

fix: preserve binary assets during update
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/files.ts
  packages/cli/tests/update.unit.test.ts
Due: eslint --fix, prettier --write

fix: flatten lib alias install targets
  packages/cli/src/utils/install-path.ts
  packages/cli/tests/install-path.test.ts
Due: eslint --fix, prettier --write

fix: vendor full face package files
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/tests/face-installer.integration.test.ts
Due: eslint --fix, prettier --write

test: align add command mocks with resolver keys
  packages/cli/tests/add-extended.test.ts
  packages/cli/tests/commands.test.ts
Due: eslint --fix, prettier --write

fix: harden vendored face export transforms
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/e2e/smoke.test.ts
  packages/cli/tests/transform.test.ts
Due: eslint --fix, prettier --write

feat: integrate lesser-host v0.2.2 contracts
  .github/workflows/changeset-required.yml
  .github/workflows/main-guard.yml
  AGENTS.md
  docs/devops/github-releases.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/README.md
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-mint-conversation-sse.json
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
  packages/adapters/src/index.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/adapters/src/soul/client.ts
  packages/adapters/src/soul/index.ts
  packages/faces/agent/src/IdentityNexus.svelte
  packages/faces/agent/src/NexusDashboard.svelte
  registry/index.json
Due: eslint --fix, prettier --write

fix: refresh registry checksums for lesser-host update
  registry/index.json
Due: prettier --write

fix: preserve adapter fetch receiver context
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
  packages/adapters/src/__tests__/LesserSoulClient.test.ts
  packages/adapters/src/fetch.ts
  packages/adapters/src/lesser/client.ts
  packages/adapters/src/soul/client.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser and lesser-host contracts
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-mint-conversation-sse.json
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-identity.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: format lesser-host contract snapshots
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-mint-conversation-sse.json
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
Due: prettier --write

chore: sync lesser and lesser-host contracts
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(deps): address dependabot alerts 77 and 78
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix(adapters): align verifyCredentials with Lesser viewer schema
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
Due: eslint --fix, prettier --write

fix(messaging): refetch when handlers arrive after mount
  packages/shared/messaging/src/Root.svelte
  packages/shared/messaging/tests/Root.test.ts
  packages/shared/messaging/tests/fixtures/RootDelayedHandlersHarness.svelte
Due: eslint --fix, prettier --write

fix(messaging): surface conversation picker search errors
  packages/shared/messaging/src/ConversationPicker.svelte
  packages/shared/messaging/tests/ConversationPicker.test.ts
Due: eslint --fix, prettier --write

fix(messaging): store background preload failures
  packages/shared/messaging/src/Root.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/tests/Context.test.ts
Due: eslint --fix, prettier --write

chore: refresh registry checksums
  registry/index.json
Due: prettier --write

fix(adapters): cache conversations as folder-keyed arrays
  packages/adapters/src/graphql/__tests__/cache.test.ts
  packages/adapters/src/graphql/cache.ts
Due: eslint --fix, prettier --write

fix(adapters): normalize local dm participant ids
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
Due: eslint --fix, prettier --write

chore: refresh registry for adapter fixes
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser and lesser-host contracts
  AGENTS.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-mint-conversation-sse.json
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write
