Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

fix(tokens): distrust uncertain expression spans
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
Due: none

chore(governance): refresh rubric evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(cli): make import sweep string aware
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

test(tokens): bind terminal expression distrust
  scripts/audit-tokens-placeholders.test.mjs
Due: none

fix(cli): keep loud guard on raw input
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): isolate Svelte markup comment scanning
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): guard stripped executable imports
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): widen import recovery guard diagnostics
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): bound import sweep lexical contexts
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): decouple Svelte region detection
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

test(cli): bind Svelte import recovery guard
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): classify postfix division correctly
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): align import recovery guard syntax
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

refactor(cli): remove dead HTML comment stripping
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(cli): close import sweep residual gaps per r3 review
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

test(cli): bind the import-above-desync recovery property
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate index for re-emitted adapters declarations
  registry/index.json
Due: prettier --write

chore(governance): refresh rubric evidence for #991
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

chore(contracts): snapshot Lesser v1.6.0
  .prettierignore
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/README.md
  docs/lesser/contracts/agent-delegate-api.md
  docs/lesser/contracts/deploy-assembly-descriptor.schema.json
  docs/lesser/contracts/examples/hosted-soul-genesis-accept-semantics.example.json
  docs/lesser/contracts/examples/hosted-soul-genesis-projection-table.example.json
  docs/lesser/contracts/examples/lesser-deploy-assembly.example.json
  docs/lesser/contracts/examples/lesser-lambda-bundle.example.json
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/greater-components-contract-pinning.md
  docs/lesser/contracts/hosted-bound-souls-x402-boundary.md
  docs/lesser/contracts/hosted-soul-genesis-projection.md
  docs/lesser/contracts/lambda-bundle-manifest.schema.json
  docs/lesser/contracts/openapi.yaml
  docs/lesser/contracts/release-driven-deploy-contract.md
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.7/hosted-genesis.conversation.completed-declaration-ready.example.json
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.7/hosted-genesis.conversation.failed.example.json
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.7/hosted-genesis.conversation.in-progress.example.json
  schemas/lesser/schema.graphql
Due: prettier --write

chore(contracts): snapshot Lesser Host v1.6.0
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/soul-five-body-schema.md
  docs/lesser-host/contracts/soul-five-body.example.v2.json
  docs/lesser-host/contracts/soul-five-body.schema.v2.json
  docs/lesser-host/spec/v3/fixtures/historical/README.md
  docs/lesser-host/spec/v3/fixtures/historical/host-v1.0.7/hosted-genesis.conversation.completed-declaration-ready.example.json
  docs/lesser-host/spec/v3/fixtures/historical/host-v1.0.7/hosted-genesis.conversation.failed.example.json
  docs/lesser-host/spec/v3/fixtures/historical/host-v1.0.7/hosted-genesis.conversation.in-progress.example.json
Due: prettier --write

fix(adapters): adapt consumers to v1.6.0 contracts
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/graphql/__tests__/draftReview.test.ts
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/mappers/lesser/__tests__/graphqlConverters.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.d.ts.map
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/adapters/src/mappers/lesser/types.d.ts
  packages/adapters/src/mappers/lesser/types.d.ts.map
  packages/adapters/src/mappers/lesser/types.ts
  packages/adapters/src/models/unified.d.ts
  packages/adapters/src/models/unified.d.ts.map
  packages/adapters/src/models/unified.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts.map
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/stores/types.d.ts
  packages/adapters/src/stores/types.d.ts.map
  packages/adapters/src/stores/types.ts
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/social/src/adapters/graphql/documents/conversations.graphql
  packages/faces/social/src/adapters/graphql/documents/draft-review.graphql
  packages/faces/social/src/adapters/graphql/documents/fragments.graphql
  packages/faces/social/src/adapters/graphql/documents/subscriptions.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  packages/faces/social/src/generics/index.ts
  packages/faces/social/src/types.ts
  packages/shared/admin/src/Agents/AgentAttribution.svelte
  packages/shared/admin/tests/AgentAttribution.test.ts
  packages/shared/compose/src/context.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate v1.6.0 contract checksums
  registry/index.json
Due: prettier --write

docs(adapters): close draft review conflict gap
  docs/lesser/contracts/upstream-gaps.md
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/draftReviewShareConflict.test.ts
Due: eslint --fix, prettier --write

docs(contracts): record hosted fixture coverage drop
  CHANGELOG.md
  docs/lesser/contracts/upstream-gaps.md
Due: prettier --write

docs(blog): align current contract pin annotations
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/integration/review-round-trip.flow.test.ts
  packages/faces/blog/tests/mocks/mockDraftReview.ts
Due: eslint --fix, prettier --write

test(blog): clarify deleted article ownership
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
Due: eslint --fix, prettier --write

docs(contracts): record quote REST compatibility gap
  docs/lesser/contracts/upstream-gaps.md
Due: prettier --write

test(admin): cover absent approval attribution
  packages/shared/admin/tests/AgentAttribution.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh review fix checksums
  registry/index.json
Due: prettier --write

chore(governance): refresh round 2 rubric evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(adapters): re-emit draft review declarations
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  registry/index.json
Due: eslint --fix, prettier --write

docs(contracts): correct quote REST boundary
  docs/lesser/contracts/upstream-gaps.md
Due: prettier --write
