Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(tokens): close phantom audit bypasses
  examples/blog-app/src/routes/+layout.svelte
  examples/blog-app/src/routes/+page.svelte
  examples/custom-face/src/theme.css
  examples/social-app/src/routes/+layout.svelte
  examples/social-app/src/routes/+page.svelte
  packages/cli/tests/css-copy.test.ts
  packages/faces/social/src/theme.css
  scripts/audit-tokens-placeholders.mjs
Due: eslint --fix, prettier --write

docs(tokens): replace phantom token guidance
  apps/docs/src/routes/guides/theming/+page.svelte
  docs/_patterns.yaml
  docs/chat-suite.md
  docs/core-patterns.md
  docs/design/artist-face-specification.md
  docs/development-guidelines.md
  docs/face-development.md
  docs/faces/blog/review-workflow.md
  docs/quick-reference.md
Due: eslint --fix, prettier --write

chore(registry): refresh round-two checksums
  registry/index.json
Due: prettier --write

chore(deps): adopt FaceTheory v4.0.5
  docs/faces/agent/integration-patterns.md
  docs/facetheory-integration.md
  examples/facetheory-svelte/README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix(deps): restore FaceTheory lockfile integrity
  pnpm-lock.yaml
Due: prettier --write

chore(deps): pin testing-library svelte
  packages/content/package.json
  packages/faces/agent/package.json
  packages/headless/package.json
  packages/host-platform/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/agent/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/shared/soul/package.json
  packages/shell/package.json
  packages/testing/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): pin Apollo client
  packages/adapters/package.json
  packages/greater-components/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): remove dead override selectors
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

test(cli): expect the shipped blog context module
  packages/cli/tests/e2e/smoke.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh Apollo dependency pin
  registry/index.json
Due: prettier --write

chore(deps): pin artist Apollo client
  packages/cli/tests/fixtures/cli-fixture/package.json
  packages/faces/artist/package.json
  pnpm-lock.yaml
  registry/index.json
Due: prettier --write, pnpm dlx sort-package-json

fix(cli): pin bundled Apollo dependency
  packages/cli/src/registry/index.ts
  packages/cli/tests/dependency-resolver.static-registry.test.ts
Due: eslint --fix, prettier --write

docs(testing): pin deferred Svelte test dependency
  packages/testing/README.md
Due: prettier --write

fix(adapters): adopt Apollo Client 4.2 defaults
  packages/adapters/package.json
  packages/adapters/src/graphql/client.ts
  packages/cli/src/registry/index.ts
  packages/cli/tests/dependency-resolver.static-registry.test.ts
  packages/cli/tests/fixtures/cli-fixture/package.json
  packages/faces/artist/package.json
  packages/greater-components/package.json
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(testing): compile Svelte Testing Library wrappers
  packages/content/package.json
  packages/faces/agent/package.json
  packages/faces/artist/package.json
  packages/faces/blog/package.json
  packages/faces/community/package.json
  packages/faces/social/package.json
  packages/headless/package.json
  packages/host-platform/package.json
  packages/primitives/package.json
  packages/shared/admin/package.json
  packages/shared/agent/package.json
  packages/shared/auth/package.json
  packages/shared/chat/package.json
  packages/shared/compose/package.json
  packages/shared/messaging/package.json
  packages/shared/notifications/package.json
  packages/shared/search/package.json
  packages/shared/soul/package.json
  packages/shell/package.json
  packages/testing/README.md
  packages/testing/package.json
  packages/testing/vite.config.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(adapters): permit Apollo namespace augmentation
  packages/adapters/src/graphql/client.ts
Due: eslint --fix, prettier --write

chore(registry): refresh adapter checksum
  registry/index.json
Due: prettier --write

chore(gov): record dependency adaptation evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(adapters): preserve Apollo error policies
  packages/adapters/src/graphql/client.ts
Due: eslint --fix, prettier --write

chore(registry): refresh Apollo client checksum
  registry/index.json
Due: prettier --write

chore(gov): record Apollo policy remediation evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(tokens): harden token and contrast audits
  package.json
  packages/faces/artist/src/components/Discovery/SearchBar.svelte
  packages/faces/blog/tests/theme.test.ts
  packages/faces/community/tests/a11y/contrast.test.ts
  registry/index.json
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
  scripts/css-source.mjs
  scripts/run-script-tests.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(gov): record token audit evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(audit): close token scan comment blind spots
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
  scripts/css-source.mjs
Due: none

fix(a11y): share string-aware contrast CSS parsing
  apps/playground/src/theme-contrast.test.ts
  packages/faces/artist/tests/a11y/contrast.test.ts
  packages/faces/social/tests/status-root-theme.test.ts
  packages/primitives/tests/theme-contrast.test.ts
  packages/shared/chat/tests/theme-contrast.test.ts
Due: eslint --fix, prettier --write

fix(csp): use string-aware CSS comment stripping
  scripts/audit-csp.mjs
  scripts/audit-csp.test.mjs
Due: none

fix(community): restore declaration-bound contrast cells
  packages/faces/community/tests/a11y/contrast.test.ts
Due: eslint --fix, prettier --write

chore(gov): record review remediation evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(audit): parse JavaScript comments in one pass
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
Due: none

fix(audit): respect component script boundaries
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
Due: none

fix(audit): match nested url parentheses
  scripts/audit-tokens-placeholders.test.mjs
  scripts/css-source.mjs
Due: none

fix(audit): preserve component script visibility
  scripts/audit-tokens-placeholders.mjs
Due: none

chore(gov): record r3 remediation evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(tokens): preserve component line comment boundaries
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
Due: none

fix(tokens): skip markup expressions during style pairing
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
Due: none

test(tokens): bind JavaScript comment lexer safeguards
  scripts/audit-tokens-placeholders.test.mjs
Due: none

docs(tokens): document regex lexer limits
  scripts/audit-tokens-placeholders.mjs
Due: none

fix(tokens): retain Svelte block region pairing
  scripts/audit-tokens-placeholders.mjs
  scripts/audit-tokens-placeholders.test.mjs
Due: none

chore(governance): refresh rubric evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
