Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(adapters): gate hosted publish on terminal evidence
  .changeset/project44-hosted-terminal-evidence.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  packages/adapters/src/__tests__/HostedSoulBootstrapClient.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  packages/adapters/src/index.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  packages/adapters/src/soul/index.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser-host v1.0.3 contracts
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/schemas/soul-instance-bootstrap.error.schema.json
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: fail closed on hosted checkpoint list drift
  packages/adapters/src/__tests__/HostedSoulBootstrapClient.test.ts
  packages/adapters/src/soul/hostedBootstrap.ts
Due: eslint --fix, prettier --write

chore: refresh hosted bootstrap registry checksum
  registry/index.json
Due: prettier --write

chore: rematerialize TheoryMCP v5 host trees
  .agents/skills/github-via-theorymcp/SKILL.md
  .agents/theorymcp/greater/install-marker.json
  .claude/skills/github-via-theorymcp/SKILL.md
  .claude/theorymcp/greater/install-marker.json
  .codex/theorymcp/greater/install-marker.json
  .prettierignore
Due: prettier --write

chore: restore greater TheoryMCP materialization
  .agents/skills/coordinate-framework-feedback/SKILL.md
  .agents/skills/create-github-project/SKILL.md
  .agents/skills/enumerate-changes/SKILL.md
  .agents/skills/evolve-component-surface/SKILL.md
  .agents/skills/implement-milestone/SKILL.md
  .agents/skills/investigate-issue/SKILL.md
  .agents/skills/plan-roadmap/SKILL.md
  .agents/skills/release-components/SKILL.md
  .agents/skills/review-advisor-brief/SKILL.md
  .agents/skills/scope-need/SKILL.md
  .agents/skills/sync-contracts/SKILL.md
  .agents/theorymcp/greater/install-marker.json
  .claude/output-styles/greater.md
  .claude/skills/coordinate-framework-feedback/SKILL.md
  .claude/skills/create-github-project/SKILL.md
  .claude/skills/enumerate-changes/SKILL.md
  .claude/skills/evolve-component-surface/SKILL.md
  .claude/skills/implement-milestone/SKILL.md
  .claude/skills/investigate-issue/SKILL.md
  .claude/skills/plan-roadmap/SKILL.md
  .claude/skills/release-components/SKILL.md
  .claude/skills/review-advisor-brief/SKILL.md
  .claude/skills/scope-need/SKILL.md
  .claude/skills/sync-contracts/SKILL.md
  .claude/theorymcp/greater/install-marker.json
  .codex/config.toml
  .codex/steward.md
  .codex/theorymcp/greater/install-marker.json
  .mcp.json
  GEMINI.md
Due: prettier --write

test(adapters): cover hosted genesis status table
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): add durable hosted genesis helpers
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/hosted-genesis-conversation.md
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-mint-conversation-sse.json
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/hosted-genesis.conversation.completed-declaration-ready.example.json
  docs/lesser-host/spec/v3/fixtures/hosted-genesis.conversation.failed.example.json
  docs/lesser-host/spec/v3/fixtures/hosted-genesis.conversation.in-progress.example.json
  docs/lesser-host/spec/v3/schemas/hosted-genesis.conversation.response.schema.json
  docs/lesser-integration-guide.md
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  packages/adapters/src/soul/index.ts
  packages/faces/social/src/adapters/graphql/documents/soul-bootstrap.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: ignore hosted genesis contract snapshot formatting
  .prettierignore
Due: none

ci: derive releases from greater tags
  .github/workflows/manual-release.yml
  docs/devops/github-releases.md
  scripts/prepare-github-release.js
  scripts/validate-release-versions.js
  scripts/verify-release-branch.sh
Due: eslint --fix, prettier --write

chore: sync hosted genesis contracts
  .prettierignore
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/README.md
  docs/lesser-host/contracts/hosted-genesis-conversation.md
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/examples/hosted-soul-genesis-projection-table.example.json
  docs/lesser/contracts/hosted-soul-genesis-projection.md
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.6/hosted-genesis.conversation.completed-declaration-ready.example.json
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.6/hosted-genesis.conversation.failed.example.json
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.6/hosted-genesis.conversation.in-progress.example.json
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
Due: eslint --fix, prettier --write

feat(adapters): expose hosted genesis transcript composer
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-integration-guide.md
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.7/hosted-genesis.conversation.completed-declaration-ready.example.json
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.7/hosted-genesis.conversation.failed.example.json
  docs/lesser/contracts/testdata/hosted-genesis/v1.0.7/hosted-genesis.conversation.in-progress.example.json
  packages/adapters/src/__tests__/HostedSoulBootstrapClient.test.ts
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  packages/adapters/src/soul/index.ts
  packages/faces/social/src/adapters/graphql/documents/soul-bootstrap.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: update theorymcp install markers to v10 and gitignore local config artifacts
  .agents/theorymcp/greater/install-marker.json
  .claude/theorymcp/greater/install-marker.json
  .codex/theorymcp/greater/install-marker.json
  .gitignore
Due: prettier --write

chore: sync lesser contracts to v1.5.11
  docs/lesser/contracts/LESSER_REF.txt
Due: none

chore: sync lesser-host contracts to v1.0.8 and regenerate adapters
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/fixtures/hosted-genesis.conversation.assistant-turn-ready.example.json
  docs/lesser-host/spec/v3/schemas/hosted-genesis.conversation.response.schema.json
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: untrack agent materials per TheoryMCP migration
  .agents/mcp_config.json
  .agents/skills/coordinate-framework-feedback/SKILL.md
  .agents/skills/create-github-project/SKILL.md
  .agents/skills/enforce-accessibility/SKILL.md
  .agents/skills/enumerate-changes/SKILL.md
  .agents/skills/evolve-component-surface/SKILL.md
  .agents/skills/github-via-theorymcp/SKILL.md
  .agents/skills/implement-milestone/SKILL.md
  .agents/skills/investigate-issue/SKILL.md
  .agents/skills/plan-roadmap/SKILL.md
  .agents/skills/release-components/SKILL.md
  .agents/skills/review-advisor-brief/SKILL.md
  .agents/skills/scope-need/SKILL.md
  .agents/skills/sync-contracts/SKILL.md
  .agents/theorymcp/greater/install-marker.json
  .claude/agents/svelte-astro-expert.md
  .claude/output-styles/greater.md
  .claude/settings.json
  .claude/skills/coordinate-framework-feedback/SKILL.md
  .claude/skills/create-github-project/SKILL.md
  .claude/skills/enforce-accessibility/SKILL.md
  .claude/skills/enumerate-changes/SKILL.md
  .claude/skills/evolve-component-surface/SKILL.md
  .claude/skills/github-via-theorymcp/SKILL.md
  .claude/skills/implement-milestone/SKILL.md
  .claude/skills/investigate-issue/SKILL.md
  .claude/skills/plan-roadmap/SKILL.md
  .claude/skills/release-components/SKILL.md
  .claude/skills/review-advisor-brief/SKILL.md
  .claude/skills/scope-need/SKILL.md
  .claude/skills/sync-contracts/SKILL.md
  .claude/theorymcp/greater/install-marker.json
  .codex/config.toml
  .codex/steward.md
  .codex/theorymcp/greater/install-marker.json
  .gitignore
Due: prettier --write

chore: sync lesser-host contracts to v1.0.9 and regenerate adapters
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser contracts to v1.5.12 and regenerate adapters
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): add hosted genesis conversation listing and recovery adapter methods
  packages/adapters/src/__tests__/HostedSoulBootstrapClient.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  packages/adapters/src/soul/index.ts
  packages/faces/social/src/adapters/graphql/documents/soul-bootstrap.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

style: fix prettier formatting in HostedSoulBootstrapClient test
  packages/adapters/src/__tests__/HostedSoulBootstrapClient.test.ts
Due: eslint --fix, prettier --write

fix(chat): guard window access in ChatContainer onDestroy for SSR safety
  packages/shared/chat/src/ChatContainer.svelte
  packages/shared/chat/tests/ChatContainer.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): update FaceTheory to 4.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(deps): remediate security advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore: sync rematerialized steward files
  .gitignore
  .mcp.json
  .prettierignore
  GEMINI.md
Due: prettier --write

chore(gov): materialize rubric infrastructure
  .github/workflows/a11y.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dco.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/gov-rubric.yml
  .github/workflows/lint.yml
  .github/workflows/main-guard.yml
  .github/workflows/manual-release.yml
  .github/workflows/test.yml
  .prettierignore
  gov-infra/.tools/bin/.gitkeep
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/pack.json
  gov-infra/planning/greater-components-10of10-roadmap.md
  gov-infra/planning/greater-components-10of10-rubric.md
  gov-infra/planning/greater-components-a11y-roadmap.md
  gov-infra/planning/greater-components-ai-drift-recovery.md
  gov-infra/planning/greater-components-controls-matrix.md
  gov-infra/planning/greater-components-evidence-plan.md
  gov-infra/planning/greater-components-supply-chain-allowlist.txt
  gov-infra/planning/greater-components-threat-model.md
  gov-infra/prompts/README.md
  gov-infra/verifiers/gov-verify-rubric.sh
Due: prettier --write

chore(mcp): wire equaltoai namespace route for govern lifecycle access
  .mcp.json
Due: prettier --write

fix(gov): fail-closed supply-chain install + pnpm-aware hook scan
  gov-infra/evidence/gov-rubric-report.json
  gov-infra/verifiers/gov-verify-rubric.sh
Due: prettier --write

fix(gov): build packages before rubric verifier in CI
  .github/workflows/gov-rubric.yml
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(gov): build facetheory example before rubric coverage
  .github/workflows/gov-rubric.yml
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

test(greater-components): explicit 30s timeout for aggregate-entry smoke test under coverage
  packages/greater-components/tests/smoke.test.ts
Due: eslint --fix, prettier --write

fix(gov): authenticate github api calls in rubric verifier step
  .github/workflows/gov-rubric.yml
Due: prettier --write

chore(adapters): sync Lesser and Host contracts
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/README.md
  docs/lesser-host/contracts/hosted-genesis-conversation.md
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/fixtures/historical/README.md
  docs/lesser-host/spec/v3/fixtures/historical/host-v1.0.7/hosted-genesis.conversation.completed-declaration-ready.example.json
  docs/lesser-host/spec/v3/fixtures/historical/host-v1.0.7/hosted-genesis.conversation.failed.example.json
  docs/lesser-host/spec/v3/fixtures/historical/host-v1.0.7/hosted-genesis.conversation.in-progress.example.json
  docs/lesser-host/spec/v3/fixtures/hosted-genesis.conversation.completed-declaration-ready.example.json
  docs/lesser-host/spec/v3/fixtures/hosted-genesis.conversation.published.example.json
  docs/lesser-host/spec/v3/fixtures/soul-instance-bootstrap.error.budget-exhausted.example.json
  docs/lesser-host/spec/v3/fixtures/soul-instance-bootstrap.finalize.response.hosted-offchain.example.json
  docs/lesser-host/spec/v3/schemas/hosted-genesis.conversation.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-bootstrap.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-bootstrap.finalize.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.consume.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.issue.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi-auth-baseline.json
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
  packages/adapters/src/__tests__/X402GrantContracts.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
Due: eslint --fix, prettier --write

fix(adapters): normalize published hosted-genesis status
  packages/adapters/src/__tests__/HostedSoulBootstrapProject49Representability.test.ts
  packages/adapters/src/soul/hostedBootstrap.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate after contract sync
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
