Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

docs: initialize .codex directory with stack documentation and automated skill workflows
  .codex/build.sh
  .codex/config.toml
  .codex/skills/coordinate-framework-feedback/SKILL.md
  .codex/skills/create-github-project/SKILL.md
  .codex/skills/enforce-accessibility/SKILL.md
  .codex/skills/enumerate-changes/SKILL.md
  .codex/skills/evolve-component-surface/SKILL.md
  .codex/skills/implement-milestone/SKILL.md
  .codex/skills/investigate-issue/SKILL.md
  .codex/skills/plan-roadmap/SKILL.md
  .codex/skills/release-components/SKILL.md
  .codex/skills/review-advisor-brief/SKILL.md
  .codex/skills/scope-need/SKILL.md
  .codex/skills/sync-contracts/SKILL.md
  .codex/stack/00-service-identity.md
  .codex/stack/01-service-philosophy.md
  .codex/stack/02-release-and-stage-discipline.md
  .codex/stack/03-boundaries.md
  .codex/stack/20-greater-soul.md
  .codex/steward.md
  .gitignore
Due: prettier --write

ci(deps): update GitHub Actions dependency pins
  .github/workflows/a11y.yml
  .github/workflows/changeset-required.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/prerelease-pr.yml
  .github/workflows/prerelease.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

fix: harden codex security findings
  .github/workflows/coverage.yml
  .gitignore
  .theory/config.yaml
  apps/playground/src/lib/components/CodeExample.svelte
  apps/playground/src/lib/stores/storage.test.ts
  apps/playground/src/lib/stores/storage.ts
  package.json
  packages/adapters/src/graphql/client.ts
  packages/adapters/tests/graphql-client.security.test.ts
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/id-provider-inject.ts
  packages/cli/src/utils/ref.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/add-extended.test.ts
  packages/cli/tests/add.test.ts
  packages/cli/tests/cache.test.ts
  packages/cli/tests/commands.test.ts
  packages/cli/tests/dependency-resolver.test.ts
  packages/cli/tests/diff-command.test.ts
  packages/cli/tests/fetch-extended.test.ts
  packages/cli/tests/fetch.test.ts
  packages/cli/tests/id-provider-inject.test.ts
  packages/cli/tests/init.test.ts
  packages/cli/tests/ref.test.ts
  packages/cli/tests/transform.test.ts
  packages/faces/artist/src/components/ArtistProfile/Name.svelte
  packages/faces/artist/src/patterns/utils.ts
  packages/faces/artist/tests/components/ArtistProfile/Name.test.ts
  packages/shared/agent/src/SoulRequestCard.svelte
  packages/shared/agent/tests/SoulRequestCard.security.test.ts
  packages/shared/chat/src/ChatContainer.svelte
  packages/shared/chat/src/ChatWorkflowMoment.svelte
  packages/shared/chat/tests/ChatContainer.test.ts
  packages/shared/chat/tests/ChatWorkflowMoment.test.ts
  packages/shared/chat/tests/harness/ChatContainerStateHarness.svelte
  packages/shared/chat/tests/harness/ChatContainerStateReader.svelte
  pnpm-lock.yaml
  registry/index.json
  scripts/release-tag.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore: sync lesser contracts v1.2.54
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser-host contracts v0.2.6
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-mint-conversation-sse.json
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-activity-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-contactability.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-content.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-get.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-list.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-message.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-reply.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: stabilize ci after contract sync
  .github/workflows/coverage.yml
  .prettierignore
  packages/cli/tests/update.integration.test.ts
  packages/cli/tests/utils.test.ts
Due: eslint --fix, prettier --write

test: avoid substring URL match in cli fetch test
  packages/cli/tests/utils.test.ts
Due: eslint --fix, prettier --write

fix: restore sim social update compatibility
  packages/cli/src/utils/transform.ts
  packages/cli/tests/transform.test.ts
  packages/faces/social/src/components/StatusCard.svelte
  packages/faces/social/src/components/TimelineVirtualizedReactive.svelte
  packages/faces/social/src/types.ts
  packages/faces/social/tests/components/StatusCard.test.ts
  packages/faces/social/tests/components/TimelineVirtualizedReactive.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: narrow chat workflow artifact hrefs
  package.json
  packages/shared/chat/src/ChatWorkflowMetadata.svelte
  packages/shared/chat/src/ChatWorkflowMoment.svelte
  packages/shared/chat/tsconfig.check.json
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix: stabilize chat svelte check
  packages/content/src/components/CodeBlock.svelte
  packages/shared/chat/src/ChatSettings.svelte
  packages/shared/chat/tsconfig.check.json
  registry/index.json
Due: eslint --fix, prettier --write

chore: align FaceTheory platform pin
  examples/facetheory-svelte/README.md
  examples/facetheory-svelte/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix: harden sim-reported greater surfaces
  .changeset/sim-security-hardening.md
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/faces/social/src/components/Profile/VerifiedFields.svelte
  packages/faces/social/src/components/StatusCard.svelte
  packages/faces/social/src/patterns/CustomEmojiPicker.svelte
  packages/faces/social/tests/components/CustomEmojiPicker.test.ts
  packages/faces/social/tests/components/Profile/VerifiedFields.test.ts
  packages/faces/social/tests/components/Profile/VerifiedFieldsTest.svelte
  packages/faces/social/tests/components/StatusCard.test.ts
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/Message.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/src/utils.ts
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/utils.test.ts
  packages/shared/search/src/ActorResult.svelte
  packages/shared/search/src/context.svelte.ts
  packages/shared/search/tests/ActorResultComponent.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: normalize mutation result errors
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: remediate security project 28 findings
  .github/workflows/release.yml
  docs/lesser/contracts/README.md
  package.json
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/registry-index.test.ts
  packages/cli/tests/transform.test.ts
  pnpm-lock.yaml
  registry/index.json
  registry/latest.json
  schemas/registry-index.schema.json
  scripts/build-release-artifacts.sh
  scripts/generate-registry-index.js
  scripts/prepare-github-release.js
  scripts/release-tag.js
  scripts/validate-release-versions.js
  scripts/verify-tarball-integrity.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix: remediate Greater security project 28 findings (#532)
  .github/workflows/release.yml
  docs/lesser/contracts/README.md
  package.json
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/LesserGraphQLAdapter.test.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/registry-index.test.ts
  packages/cli/tests/transform.test.ts
  pnpm-lock.yaml
  registry/index.json
  registry/latest.json
  schemas/registry-index.schema.json
  scripts/build-release-artifacts.sh
  scripts/generate-registry-index.js
  scripts/prepare-github-release.js
  scripts/release-tag.js
  scripts/validate-release-versions.js
  scripts/verify-tarball-integrity.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(deps): remediate dependabot alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(contracts): sync Lesser and Host snapshots
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.reply-boundary.example.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-list.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-message-projection.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): update FaceTheory framework pin
  docs/faces/agent/integration-patterns.md
  docs/facetheory-integration.md
  examples/facetheory-svelte/README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(contracts): sync Lesser and Host snapshots (#536)
  docs/faces/agent/integration-patterns.md
  docs/facetheory-integration.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.reply-boundary.example.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-list.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-mailbox-message-projection.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  examples/facetheory-svelte/README.md
  package.json
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(release): add promotion rehearsal guard
  .github/workflows/promotion-rehearsal.yml
  docs/devops/README.md
  docs/devops/github-releases.md
  package.json
  scripts/rehearse-release-promotion.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(release): accept pnpm argument separator
  scripts/rehearse-release-promotion.js
Due: eslint --fix, prettier --write

fix(release): set rehearsal git identity
  scripts/rehearse-release-promotion.js
Due: eslint --fix, prettier --write

chore(release): repair staging promotion topology (#538)
  .github/workflows/promotion-rehearsal.yml
  docs/devops/README.md
  docs/devops/github-releases.md
  package.json
  registry/index.json
  scripts/rehearse-release-promotion.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(release): flag squashed topology repairs
  docs/devops/github-releases.md
  scripts/rehearse-release-promotion.js
Due: eslint --fix, prettier --write

ci(dco): allow remediation commits
  .github/dco.yml
Due: prettier --write

ci(dco): support signed remediation commits
  .github/dco.yml
  .github/workflows/dco.yml
  scripts/check-dco.js
Due: eslint --fix, prettier --write

ci(dco): support signed remediation commits
  .github/workflows/dco.yml
  scripts/check-dco.js
Due: eslint --fix, prettier --write

feat(soul): surface anchor assurance metadata
  .changeset/project-32-anchor-assurance.md
  docs/faces/agent/integration-patterns.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.entitlement-required.example.json
  docs/lesser-host/spec/v3/schemas/soul-agent-identity.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-contactability.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.consume.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.consume.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.issue.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.issue.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.schema.json
  packages/adapters/src/index.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/adapters/src/soul/client.ts
  packages/adapters/src/soul/index.ts
  packages/shared/soul/README.md
  packages/shared/soul/manifest.json
  packages/shared/soul/src/AnchorAssuranceBadge.svelte
  packages/shared/soul/src/ChannelsDisplay.svelte
  packages/shared/soul/src/index.ts
  packages/shared/soul/src/types.ts
  packages/shared/soul/src/utils.ts
  packages/shared/soul/tests/anchorAssurance.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(contracts): advance Lesser and Host pins
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  registry/index.json
Due: prettier --write

fix(cli): ship browser-valid raw css selectors
  .changeset/browser-valid-raw-css.md
  packages/cli/tests/css-assets.test.ts
  packages/faces/social/src/theme.css
  packages/primitives/src/theme.css
  registry/index.json
Due: eslint --fix, prettier --write

style(cli): format raw css asset guard
  packages/cli/tests/css-assets.test.ts
Due: eslint --fix, prettier --write

docs(blog): define Lesser CMS rendering boundary
  .changeset/blog-cms-contract-boundary.md
  docs/faces/blog/article-rendering.md
  docs/faces/blog/getting-started.md
  docs/faces/blog/lesser-cms-contract-audit.md
  packages/faces/blog/README.md
  packages/faces/blog/src/components/Article/Content.svelte
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/components/ArticleContent.security.test.ts
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(primitives): cover blank avatar initials fallback
  packages/primitives/tests/avatar.test.ts
Due: eslint --fix, prettier --write
