Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

test(testing): pin generated-href URL resolution in Chromium
  packages/testing/tests/demo/linkify-url-policy.spec.ts
Due: eslint --fix, prettier --write

chore(gov): record rubric evidence at the r1-remediation head
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

chore(registry): regenerate the index for the linkify and theme changes
  registry/index.json
Due: prettier --write

fix(utils): bound the linkify tokenizer's suffix scan and segment append
  packages/utils/src/linkifyMentions.ts
Due: eslint --fix, prettier --write

test(utils): cover the punctuation-run and large-append input classes
  packages/utils/tests/linkifyHtml.test.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate the index for the tokenizer and theme changes
  registry/index.json
Due: prettier --write

fix(social): restore the dark and high-contrast status link colours
  packages/faces/social/src/theme.css
Due: none

chore(utils): sync generated declarations for linkifyHtml
  packages/utils/src/linkifyMentions.d.ts.map
Due: none

fix(scripts): recognize the -theorymcp[bot] routed binding in the DCO gate
  scripts/check-dco.js
  scripts/check-dco.test.mjs
Due: eslint --fix, prettier --write

feat(social): surface MediaComposer file rejections through onReject
  packages/cli/src/registry/patterns.ts
  packages/faces/social/src/patterns/MediaComposer.svelte
  packages/faces/social/tests/components/MediaComposer.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): refresh and reconnect on Lesser TOKEN_EXPIRED
  packages/adapters/src/WebSocketClient.ts
  packages/adapters/src/__tests__/authExpiry.test.ts
  packages/adapters/src/authExpiry.ts
  packages/adapters/src/graphql/__tests__/clientAuthExpiry.test.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
Due: eslint --fix, prettier --write

feat(social): constrain reply/quote reach in ComposeBox
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/index.ts
  packages/faces/social/src/theme.css
  packages/faces/social/src/types.ts
  packages/faces/social/src/utils/reach.ts
  packages/faces/social/tests/components/ComposeBoxReach.test.ts
  packages/faces/social/tests/utils/reach.test.ts
Due: eslint --fix, prettier --write

feat(adapters): treat a duplicate draft-review share as a typed condition
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/draftReviewShareConflict.test.ts
  packages/adapters/src/graphql/index.ts
  packages/adapters/src/index.ts
Due: eslint --fix, prettier --write

chore(contracts): pin Lesser to v1.5.33
  docs/faces/blog/review-workflow.md
  docs/lesser/contracts/LESSER_REF.txt
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/blog/tests/integration/review-round-trip.flow.test.ts
  packages/faces/blog/tests/mocks/mockDraftReview.ts
  packages/faces/social/src/adapters/graphql/documents/draft-review.graphql
Due: eslint --fix, prettier --write

chore(registry): regenerate index for the v1.5.33 adoption
  packages/adapters/src/WebSocketClient.ts
  packages/adapters/src/__tests__/authExpiry.test.ts
  packages/adapters/src/authExpiry.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/clientAuthExpiry.test.ts
  packages/adapters/src/graphql/__tests__/draftReviewShareConflict.test.ts
  packages/adapters/src/index.ts
  packages/adapters/src/types.ts
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/utils/reach.ts
  packages/faces/social/tests/components/ComposeBoxReach.test.ts
  packages/faces/social/tests/utils/reach.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(adapters): key the WebSocket handoff on socket identity
  packages/adapters/src/WebSocketClient.ts
  packages/adapters/src/__tests__/WebSocketClient.socketHandoff.test.ts
  packages/adapters/src/__tests__/authExpiry.test.ts
Due: eslint --fix, prettier --write

fix(adapters): re-issue an expired subscription instead of only re-dialing
  packages/adapters/src/graphql/__tests__/clientAuthExpiry.test.ts
  packages/adapters/src/graphql/__tests__/clientAuthExpiryReissue.test.ts
  packages/adapters/src/graphql/client.ts
Due: eslint --fix, prettier --write

fix(adapters): classify a duplicate share by code, never by message
  docs/lesser/contracts/upstream-gaps.md
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/__tests__/draftReviewShareConflict.test.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate index for the review-rework sources
  registry/index.json
Due: prettier --write

fix(adapters): drive one refresh and one reconnect per expiry episode
  packages/adapters/src/__tests__/authExpiry.test.ts
  packages/adapters/src/authExpiry.ts
  packages/adapters/src/graphql/__tests__/clientAuthExpiryReissue.test.ts
  packages/adapters/src/graphql/client.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate index for the episode-coordination fix
  registry/index.json
Due: prettier --write

fix(adapters): own an expiry episode by credential, not by error object
  packages/adapters/src/__tests__/authExpiry.test.ts
  packages/adapters/src/authExpiry.ts
  packages/adapters/src/graphql/__tests__/clientAuthExpiryProtocol.test.ts
  packages/adapters/src/graphql/__tests__/clientAuthExpiryReissue.test.ts
  packages/adapters/src/graphql/client.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate index for the generation-scoped episode fix
  registry/index.json
Due: prettier --write

fix(adapters): let the app's credential outlive an in-flight refresh
  packages/adapters/src/graphql/__tests__/clientAuthExpiryProtocol.test.ts
  packages/adapters/src/graphql/client.ts
Due: eslint --fix, prettier --write

fix(adapters): bound consecutive credential-refusal recovery
  packages/adapters/src/WebSocketClient.ts
  packages/adapters/src/__tests__/authExpiry.test.ts
  packages/adapters/src/authExpiry.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate index for the credential-race fixes
  registry/index.json
Due: prettier --write

docs(adapters): fix a garbled comment on the auth-expiry check order
  packages/adapters/src/WebSocketClient.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(ci): streamline governance Chrome setup
  .github/workflows/gov-rubric.yml
Due: prettier --write

test(ci): run script-level regression suites
  .github/workflows/test.yml
  package.json
Due: prettier --write, pnpm dlx sort-package-json

fix(deps): refresh ws beyond the vulnerable range
  pnpm-lock.yaml
Due: prettier --write

docs(security): record ws consumer guidance
  docs/README.md
  docs/security/GHSA-96hv-2xvq-fx4p.md
Due: prettier --write

chore(ci): move Chrome probe before builds
  .github/workflows/gov-rubric.yml
Due: prettier --write

test(ci): aggregate script suite failures
  package.json
Due: prettier --write, pnpm dlx sort-package-json

fix(deps): bump viem past vulnerable ws pin
  packages/adapters/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

docs(security): correct ws consumer resolution guidance
  docs/security/GHSA-96hv-2xvq-fx4p.md
Due: prettier --write

test(ci): report script runner spawn failures
  package.json
  scripts/run-script-tests.mjs
Due: prettier --write, pnpm dlx sort-package-json

fix(cli): enforce secure viem dependency floor
  packages/cli/package.json
  packages/cli/src/commands/doctor.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/packages.ts
  packages/cli/tests/utils.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(registry): reject generated index drift
  package.json
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs(security): fix pnpm ws override guidance
  docs/security/GHSA-96hv-2xvq-fx4p.md
Due: prettier --write

docs(security): correct ws affected ranges
  docs/security/GHSA-96hv-2xvq-fx4p.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
