Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

ci(prerelease): ignore stable manifest changes
  .github/workflows/prerelease-pr.yml
Due: prettier --write

chore: sync lesser contracts v1.1.53
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(deps): patch flatted vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore: sync lesser contracts v1.1.54
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser contracts v1.1.57
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(release): prepare metadata
  CHANGELOG.md
  packages/adapters/package.json
  packages/cli/package.json
  packages/content/package.json
  packages/faces/artist/manifest.json
  packages/faces/artist/package.json
  packages/faces/blog/manifest.json
  packages/faces/blog/package.json
  packages/faces/community/manifest.json
  packages/faces/community/package.json
  packages/faces/social/manifest.json
  packages/faces/social/package.json
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/admin/manifest.json
  packages/shared/admin/package.json
  packages/shared/auth/manifest.json
  packages/shared/auth/package.json
  packages/shared/chat/manifest.json
  packages/shared/chat/package.json
  packages/shared/compose/manifest.json
  packages/shared/compose/package.json
  packages/shared/messaging/manifest.json
  packages/shared/messaging/package.json
  packages/shared/notifications/manifest.json
  packages/shared/notifications/package.json
  packages/shared/search/manifest.json
  packages/shared/search/package.json
  packages/shared/soul/manifest.json
  packages/shared/soul/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/utils/package.json
  registry/index.json
  registry/latest.json
Due: prettier --write, pnpm dlx sort-package-json

chore: sync lesser contracts v1.1.59
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser-host contracts v1.1.6
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.preference-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: format lesser-host contract snapshots
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/communication-outbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.insufficient-credits.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.request.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.response.example.json
  docs/lesser-host/spec/v3/schemas/communication-inbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/communication-outbound-notification.schema.json
  docs/lesser-host/spec/v3/schemas/error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-channels.response.schema.json
  docs/lesser-host/spec/v3/schemas/soul-agent-comm-queue-item.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.response.schema.json
Due: prettier --write

chore: sync lesser contracts v1.1.64
  docs/lesser/contracts/LESSER_REF.txt
  registry/index.json
Due: prettier --write

chore: sync lesser contracts v1.1.65
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/rest/generated/lesser-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: sync lesser-host contracts v0.1.21
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-comm-send.error.preference-violation.example.json
  docs/lesser-host/spec/v3/schemas/soul-comm-send.error.schema.json
  packages/adapters/src/rest/generated/lesser-host-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: harden SSR-safe face render paths
  docs/README.md
  docs/facetheory-integration.md
  packages/faces/blog/src/components/Article/ShareBar.svelte
  packages/faces/blog/tests/Article.test.ts
  packages/faces/blog/tests/setup.ts
  packages/faces/blog/tests/ssr.test.ts
  packages/faces/community/src/components/Post/Root.svelte
  packages/faces/community/tests/setup.ts
  packages/faces/community/tests/ssr.test.ts
  packages/headless/tests/avatar.ssr.test.ts
  packages/headless/tests/setup.ts
Due: eslint --fix, prettier --write

refactor: split browser presence tracking from store core
  docs/facetheory-integration.md
  packages/adapters/src/index.ts
  packages/adapters/src/stores/index.ts
  packages/adapters/src/stores/presenceStore.ts
  packages/adapters/src/stores/types.ts
  packages/adapters/tests/presenceStore.test.ts
Due: eslint --fix, prettier --write

feat: add host-provided face navigation contracts
  docs/facetheory-integration.md
  packages/faces/blog/src/components/Article/ShareBar.svelte
  packages/faces/blog/src/index.ts
  packages/faces/blog/src/share.ts
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/Article.test.ts
  packages/faces/blog/tests/components/behavior/Article.behavior.test.ts
  packages/faces/blog/tests/integration/article-reading.flow.test.ts
  packages/faces/blog/tests/mocks/mockArticle.ts
  packages/faces/blog/tests/patterns/share.test.ts
  packages/faces/community/src/components/Post/Root.svelte
  packages/faces/community/src/types.ts
  packages/faces/community/tests/components/behavior/Post.behavior.test.ts
Due: eslint --fix, prettier --write

feat: add SSR theme bootstrap helpers
  docs/facetheory-integration.md
  packages/primitives/src/index.ts
  packages/primitives/src/stores/preferences.ts
  packages/primitives/tests/preferences.test.ts
Due: eslint --fix, prettier --write

feat: add FaceTheory example and smoke coverage
  docs/README.md
  docs/facetheory-integration.md
  examples/facetheory-svelte/README.md
  examples/facetheory-svelte/package.json
  examples/facetheory-svelte/src/app.ts
  examples/facetheory-svelte/src/client/home.ts
  examples/facetheory-svelte/src/community-post-ssr.ts
  examples/facetheory-svelte/src/demo-data.ts
  examples/facetheory-svelte/src/home.face.ts
  examples/facetheory-svelte/tsconfig.json
  package.json
  packages/primitives/tests/facetheory.integration.test.ts
  packages/primitives/tests/setup.ts
  packages/primitives/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix: satisfy CI registry and formatting checks
  packages/faces/blog/src/share.ts
  packages/faces/blog/src/types.ts
  packages/primitives/src/stores/preferences.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: commit generated primitives declarations
  packages/primitives/src/index.d.ts
  packages/primitives/src/index.d.ts.map
  packages/primitives/src/stores/preferences.d.ts
  packages/primitives/src/stores/preferences.d.ts.map
  registry/index.json
Due: eslint --fix, prettier --write

fix: preserve high-contrast preference overrides
  packages/primitives/src/stores/preferences.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: harden facetheory example contract coverage
  docs/facetheory-integration.md
  examples/facetheory-svelte/README.md
  examples/facetheory-svelte/src/assets/greater-mark.svg
  examples/facetheory-svelte/src/client/home.css
  examples/facetheory-svelte/src/client/home.ts
  examples/facetheory-svelte/src/community-post-ssr.ts
  examples/facetheory-svelte/src/demo-data.ts
  examples/facetheory-svelte/src/home.face.ts
  examples/facetheory-svelte/src/vite-manifest.ts
  examples/facetheory-svelte/vite.config.ts
  package.json
  packages/adapters/src/stores/presenceStore.ts
  packages/adapters/tests/presenceStore.test.ts
  packages/primitives/tests/facetheory.integration.test.ts
  packages/primitives/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix: refresh registry checksums
  registry/index.json
Due: prettier --write

chore: stabilize registry metadata for promotions
  registry/index.json
Due: prettier --write

chore: ignore repo-local codex workspace
  .gitignore
Due: none

feat: freeze agent workflow package boundaries (#387)
  docs/README.md
  docs/agent-workflow-expansion.md
  docs/faces/agent/getting-started.md
  packages/faces/agent/README.md
  packages/faces/agent/manifest.json
  packages/faces/agent/package.json
  packages/faces/agent/src/index.ts
  packages/faces/agent/src/theme.css
  packages/faces/agent/tests/packageRole.test.ts
  packages/faces/agent/tsconfig.json
  packages/faces/agent/vite.config.ts
  packages/faces/agent/vitest.config.ts
  packages/greater-components/package.json
  packages/greater-components/scripts/build.js
  packages/shared/agent/README.md
  packages/shared/agent/manifest.json
  packages/shared/agent/package.json
  packages/shared/agent/src/boundaries.ts
  packages/shared/agent/src/index.ts
  packages/shared/agent/tests/boundaries.test.ts
  packages/shared/agent/tsconfig.json
  packages/shared/agent/vite.config.ts
  packages/shared/agent/vitest.config.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat: freeze reusable agent workflow contracts (#388)
  docs/agent-workflow-expansion.md
  packages/shared/agent/README.md
  packages/shared/agent/manifest.json
  packages/shared/agent/src/index.ts
  packages/shared/agent/src/workflow.ts
  packages/shared/agent/tests/workflow.test.ts
Due: eslint --fix, prettier --write

feat: map agent stitch anchors to reusable surfaces (#389)
  docs/agent-workflow-expansion.md
  docs/faces/agent/getting-started.md
  packages/cli/src/registry/faces.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/registry/shared.ts
  packages/cli/src/utils/css-inject.ts
  packages/cli/tests/css-inject.test.ts
  packages/faces/agent/README.md
  packages/faces/agent/manifest.json
  packages/faces/agent/src/compositions.ts
  packages/faces/agent/src/index.ts
  packages/faces/agent/tests/compositions.test.ts
  packages/shared/agent/README.md
  packages/shared/agent/manifest.json
  packages/shared/agent/src/index.ts
  packages/shared/agent/src/stitch.ts
  packages/shared/agent/tests/stitch.test.ts
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

fix: refresh workspace lockfile for agent packages
  pnpm-lock.yaml
Due: prettier --write

style: normalize agent workflow formatting
  docs/agent-workflow-expansion.md
  packages/cli/src/registry/faces.ts
  packages/faces/agent/manifest.json
  packages/faces/agent/src/compositions.ts
  packages/faces/agent/src/index.ts
  packages/shared/agent/manifest.json
  packages/shared/agent/src/boundaries.ts
  packages/shared/agent/src/stitch.ts
  packages/shared/agent/src/workflow.ts
Due: eslint --fix, prettier --write

fix: refresh registry checksums for agent workflow
  registry/index.json
Due: prettier --write

fix: preserve agent face and workflow contracts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/list.display.ts
  packages/cli/src/commands/list.types.ts
  packages/cli/src/commands/list.utils.ts
  packages/cli/src/registry/faces.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/registry/shared.ts
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/src/utils/face-installer.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/tests/face-installer.integration.test.ts
  packages/cli/tests/face-installer.test.ts
  packages/cli/tests/faces.test.ts
  packages/cli/tests/shared.test.ts
  packages/shared/agent/src/workflow.ts
  packages/shared/agent/tests/workflow.test.ts
  registry/index.json
  schemas/registry-index.schema.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

feat: add reusable shared agent workflow surfaces
  packages/shared/agent/README.md
  packages/shared/agent/manifest.json
  packages/shared/agent/package.json
  packages/shared/agent/src/AgentIdentityCard.svelte
  packages/shared/agent/src/AgentStateBadge.svelte
  packages/shared/agent/src/ContinuityPanel.svelte
  packages/shared/agent/src/DeclarationPreviewCard.svelte
  packages/shared/agent/src/GraduationSummaryCard.svelte
  packages/shared/agent/src/ReviewDecisionCard.svelte
  packages/shared/agent/src/SignatureCheckpointCard.svelte
  packages/shared/agent/src/SoulLifecycleRail.svelte
  packages/shared/agent/src/SoulRequestCard.svelte
  packages/shared/agent/src/index.ts
  packages/shared/agent/src/surfaces.ts
  packages/shared/agent/tests/surfaces.test.ts
  packages/shared/agent/tsconfig.json
  packages/shared/agent/vite.config.ts
  packages/shared/agent/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat: add workflow moments to shared chat
  packages/shared/chat/manifest.json
  packages/shared/chat/src/ChatMessage.svelte
  packages/shared/chat/src/ChatMessages.svelte
  packages/shared/chat/src/ChatWorkflowMetadata.svelte
  packages/shared/chat/src/ChatWorkflowMoment.svelte
  packages/shared/chat/src/index.ts
  packages/shared/chat/src/types.ts
  packages/shared/chat/tests/ChatMessage.test.ts
  packages/shared/chat/tests/ChatWorkflowMoment.test.ts
  packages/shared/chat/tests/harness/ChatMessageHarness.svelte
Due: eslint --fix, prettier --write

feat: add workflow lifecycle notifications
  packages/shared/notifications/manifest.json
  packages/shared/notifications/src/Group.svelte
  packages/shared/notifications/src/Item.svelte
  packages/shared/notifications/src/WorkflowNotificationItem.svelte
  packages/shared/notifications/src/index.ts
  packages/shared/notifications/src/types.ts
  packages/shared/notifications/src/utils/notificationGrouping.ts
  packages/shared/notifications/tests/Item.test.ts
  packages/shared/notifications/tests/WorkflowNotificationItem.test.ts
Due: eslint --fix, prettier --write

feat: add async workflow messaging surfaces
  packages/shared/messaging/manifest.json
  packages/shared/messaging/src/ConversationWorkflowSummary.svelte
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/Message.svelte
  packages/shared/messaging/src/Thread.svelte
  packages/shared/messaging/src/WorkflowThreadMoment.svelte
  packages/shared/messaging/src/context.svelte.ts
  packages/shared/messaging/src/index.ts
  packages/shared/messaging/src/types.ts
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/Message.test.ts
Due: eslint --fix, prettier --write

chore: finalize shared agent workflow surfaces
  docs/README.md
  docs/agent-workflow-expansion.md
  docs/faces/agent/getting-started.md
  packages/cli/src/registry/shared.ts
  packages/cli/tests/registry-index.test.ts
  packages/shared/agent/src/AgentIdentityCard.svelte
  packages/shared/agent/src/AgentStateBadge.svelte
  packages/shared/agent/src/GraduationSummaryCard.svelte
  packages/shared/agent/src/ReviewDecisionCard.svelte
  packages/shared/agent/src/SignatureCheckpointCard.svelte
  packages/shared/agent/src/SoulLifecycleRail.svelte
  packages/shared/agent/src/surfaces.ts
  packages/shared/agent/tests/surfaces.test.ts
  packages/shared/chat/src/ChatMessage.svelte
  packages/shared/messaging/src/ConversationWorkflowSummary.svelte
  packages/shared/messaging/src/types.ts
  packages/shared/notifications/src/Item.svelte
  registry/index.json
Due: eslint --fix, prettier --write

fix: tighten agent workflow contracts and notification grouping
  packages/shared/agent/manifest.json
  packages/shared/agent/src/AgentIdentityCard.svelte
  packages/shared/agent/src/ContinuityPanel.svelte
  packages/shared/agent/src/DeclarationPreviewCard.svelte
  packages/shared/agent/src/GraduationSummaryCard.svelte
  packages/shared/agent/src/ReviewDecisionCard.svelte
  packages/shared/agent/src/SignatureCheckpointCard.svelte
  packages/shared/agent/src/SoulRequestCard.svelte
  packages/shared/chat/src/ChatWorkflowMetadata.svelte
  packages/shared/chat/src/ChatWorkflowMoment.svelte
  packages/shared/notifications/src/utils/notificationGrouping.ts
  packages/shared/notifications/tests/notificationGrouping.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: complete workflow registry and grouping coverage
  packages/shared/agent/manifest.json
  packages/shared/notifications/src/utils/notificationGrouping.ts
  packages/shared/notifications/tests/notificationGrouping.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: use workflow titles in grouped notifications
  packages/shared/agent/src/surfaces.ts
  packages/shared/notifications/src/Group.svelte
  packages/shared/notifications/src/utils/notificationGrouping.ts
  packages/shared/notifications/tests/Group.test.ts
  registry/index.json
Due: eslint --fix, prettier --write
