Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

chore(contracts): sync lesser v1.4.9
  .changeset/sync-lesser-v1-4-9.md
  docs/faces/blog/lesser-cms-contract-audit.md
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(blog): add article display surface
  .changeset/blog-article-display-surface.md
  docs/faces/blog/article-rendering.md
  docs/faces/blog/emdash-article-surface.md
  docs/faces/blog/getting-started.md
  docs/faces/blog/lesser-cms-contract-audit.md
  packages/faces/blog/README.md
  packages/faces/blog/manifest.json
  packages/faces/blog/src/components/Article/Card.svelte
  packages/faces/blog/src/components/Article/Reader.svelte
  packages/faces/blog/src/components/Article/index.ts
  packages/faces/blog/src/components/Article/normalize.ts
  packages/faces/blog/src/index.ts
  packages/faces/blog/src/theme.css
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/components/ArticleDisplay.test.ts
  packages/faces/blog/tests/ssr.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(blog): render article dates from formatted labels
  packages/faces/blog/src/components/Article/Card.svelte
  packages/faces/blog/src/components/Article/Header.svelte
  packages/faces/blog/src/components/Article/date.ts
  packages/faces/blog/tests/components/ArticleDisplay.test.ts
  packages/faces/blog/tests/ssr.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(blog): add article display surface (#573)
  .changeset/blog-article-display-surface.md
  docs/faces/blog/article-rendering.md
  docs/faces/blog/emdash-article-surface.md
  docs/faces/blog/getting-started.md
  docs/faces/blog/lesser-cms-contract-audit.md
  packages/faces/blog/README.md
  packages/faces/blog/manifest.json
  packages/faces/blog/src/components/Article/Card.svelte
  packages/faces/blog/src/components/Article/Header.svelte
  packages/faces/blog/src/components/Article/Reader.svelte
  packages/faces/blog/src/components/Article/date.ts
  packages/faces/blog/src/components/Article/index.ts
  packages/faces/blog/src/components/Article/normalize.ts
  packages/faces/blog/src/index.ts
  packages/faces/blog/src/theme.css
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/components/ArticleDisplay.test.ts
  packages/faces/blog/tests/ssr.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(cli): repair blog face installs
  .changeset/emdash-blog-face-cli.md
  docs/cli-guide.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/diff.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/registry/index.ts
  packages/cli/src/schemas/components.schema.json
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/e2e/smoke.test.ts
  packages/cli/tests/fixtures/cli-fixture/package.json
  packages/cli/tests/transform.test.ts
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(release): surface release PR checks
  .changeset/release-pr-check-statuses.md
  .github/workflows/prerelease-pr.yml
  .github/workflows/release-pr.yml
  scripts/dispatch-release-pr-checks.sh
Due: prettier --write

fix: clear CLI-installed svelte check errors
  packages/faces/blog/src/components/Editor/Root.svelte
  packages/faces/social/src/patterns/BookmarkManager.svelte
  packages/shared/auth/src/WalletConnect.svelte
  packages/shared/compose/src/EditorWithAutocomplete.svelte
  packages/shared/compose/src/MediaUpload.svelte
  packages/shared/compose/src/ThreadComposer.svelte
  packages/shared/compose/src/VisibilitySelect.svelte
  packages/shared/notifications/src/Group.svelte
  packages/shared/notifications/src/WorkflowNotificationItem.svelte
  registry/index.json
Due: eslint --fix, prettier --write

chore: verify compound soul email rendering
  .changeset/compound-soul-email-fixtures.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.email.example.json
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  packages/adapters/src/__tests__/LesserHostSoulClient.test.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/faces/agent/tests/profile-continuity.test.ts
  packages/faces/agent/tests/screens.test.ts
  packages/shared/soul/README.md
  packages/shared/soul/src/BestWayToContact.svelte
  packages/shared/soul/src/ChannelsDisplay.svelte
  packages/shared/soul/src/utils.ts
  packages/shared/soul/tests/channelsEmailRendering.test.ts
  packages/shared/soul/tests/recommendContactTarget.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: avoid inferring soul email alias state
  .changeset/compound-soul-email-fixtures.md
  packages/shared/soul/README.md
  packages/shared/soul/src/BestWayToContact.svelte
  packages/shared/soul/src/ChannelsDisplay.svelte
  packages/shared/soul/src/utils.ts
  packages/shared/soul/tests/channelsEmailRendering.test.ts
  packages/shared/soul/tests/recommendContactTarget.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: format soul email tests
  packages/shared/soul/tests/recommendContactTarget.test.ts
Due: eslint --fix, prettier --write

chore: sync lesser v1.4.10 contracts
  .changeset/sync-lesser-notification-delivery-to.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/mappers/lesser/__tests__/mappers.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/adapters/src/mappers/lesser/mappers.ts
  packages/adapters/src/mappers/lesser/types.ts
  packages/adapters/src/models/unified.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/social/src/types.ts
  packages/shared/notifications/src/CommunicationNotificationItem.svelte
  packages/shared/notifications/src/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore: track greater MCP config
  .mcp.json
Due: prettier --write

chore: update @theory-cloud/facetheory pin v3.1.2 → v3.3.0
  .changeset/facetheory-v3.3.0-pin.md
  .claude/skills/coordinate-framework-feedback/SKILL.md
  .claude/skills/create-github-project/SKILL.md
  .claude/skills/enforce-accessibility/SKILL.md
  .claude/skills/enumerate-changes/SKILL.md
  .claude/skills/evolve-component-surface/SKILL.md
  .claude/skills/github-provenance/SKILL.md
  .claude/skills/github-provenance/agents/openai.yaml
  .claude/skills/implement-milestone/SKILL.md
  .claude/skills/investigate-issue/SKILL.md
  .claude/skills/plan-roadmap/SKILL.md
  .claude/skills/release-components/SKILL.md
  .claude/skills/review-advisor-brief/SKILL.md
  .claude/skills/scope-need/SKILL.md
  .claude/skills/sync-contracts/SKILL.md
  .mcp.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix: add OpenAPI auth contract probe for CSR-041 (M2.4)
  docs/lesser/contracts/README.md
  docs/lesser/contracts/openapi-auth-baseline.json
  package.json
  pnpm-lock.yaml
  scripts/check-openapi-auth.mjs
Due: prettier --write, pnpm dlx sort-package-json

[Project 38] Add Lesser OpenAPI auth contract probe
  docs/lesser/contracts/README.md
  docs/lesser/contracts/openapi-auth-baseline.json
  package.json
  pnpm-lock.yaml
  scripts/check-openapi-auth.mjs
Due: prettier --write, pnpm dlx sort-package-json

[Project 38] Remediate M5.1 CSR-026/028/036/037 security findings
  .github/workflows/dco.yml
  .mcp.json
  scripts/dispatch-release-pr-checks.sh
  scripts/verify-m5.1-csr-remediation.sh
Due: prettier --write

fix: restore .mcp.json strict JSON compliance, add jq probe to verify script
  .mcp.json
  scripts/verify-m5.1-csr-remediation.sh
Due: prettier --write

[Project 38] Remediate M5.1 CI evidence hygiene findings (#620)
  .github/workflows/dco.yml
  .mcp.json
  scripts/dispatch-release-pr-checks.sh
  scripts/verify-m5.1-csr-remediation.sh
Due: prettier --write

fix: add missing headless primitives to CLI registry and import rewriting (CSR-054)
  .changeset/fix-headless-primitive-import-rewriting.md
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/transform.test.ts
Due: eslint --fix, prettier --write

fix: complete headless primitive CLI import rewriting (#621)
  .changeset/fix-headless-primitive-import-rewriting.md
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/transform.test.ts
Due: eslint --fix, prettier --write

fix(security): sync lesser-host x402 grant contracts for CSR-035
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.consume.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.issue.request.schema.json
  packages/adapters/src/__tests__/X402GrantContracts.test.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
Due: eslint --fix, prettier --write

fix(security): sync lesser-host x402 grant contracts for CSR-035 (#622)
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.consume.request.schema.json
  docs/lesser-host/spec/v3/schemas/soul-x402-invocation-grant.issue.request.schema.json
  packages/adapters/src/__tests__/X402GrantContracts.test.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
Due: eslint --fix, prettier --write

fix: remediate project 38 staging CI
  docs/lesser/contracts/openapi-auth-baseline.json
  packages/adapters/src/__tests__/X402GrantContracts.test.ts
  packages/cli/src/registry/index.ts
  packages/cli/tests/transform.test.ts
  registry/index.json
  scripts/check-openapi-auth.mjs
Due: eslint --fix, prettier --write

ci: detect release ancestry in promotion rehearsal
  .github/workflows/promotion-rehearsal.yml
Due: prettier --write

chore: sync Lesser contracts to latest releases
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/__tests__/X402GrantContracts.test.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix: restore release tarball integrity audit
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: prettier --write

docs(shell): document app shell components and add playground demo
  apps/playground/src/routes/+page.svelte
  apps/playground/src/routes/shell/+page.svelte
  apps/playground/svelte.config.js
  docs/api-reference.md
  docs/component-inventory.md
Due: eslint --fix, prettier --write

feat(cli): register shell components with the source-install CLI
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/transform.ts
  registry/index.json
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

ci(docs): build shell package before playground in docs deploy
  .github/workflows/docs.yml
Due: prettier --write

fix(shell): route Panel and StatCard ids through useStableId
  packages/shell/package.json
  packages/shell/src/components/Panel.svelte
  packages/shell/src/components/StatCard.svelte
  packages/shell/src/styles/base.css
  packages/shell/tests/id-uniqueness.test.ts
  packages/shell/vitest.config.ts
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(shell): add accessible CommandPalette for Host M0 navigation
  .changeset/command-palette-g1.md
  packages/cli/src/registry/index.ts
  packages/greater-components/package.json
  packages/shell/package.json
  packages/shell/src/components/CommandPalette.css
  packages/shell/src/components/CommandPalette.svelte
  packages/shell/src/index.ts
  packages/shell/src/styles/base.css
  packages/shell/src/types.ts
  packages/shell/src/utils/fuzzy-filter.ts
  packages/shell/tests/command-palette.test.ts
  packages/shell/tests/fuzzy-filter.test.ts
  packages/shell/vitest.config.ts
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs(shell): document CommandPalette and add playground demo
  apps/playground/src/routes/+page.svelte
  apps/playground/src/routes/command-palette/+page.svelte
  docs/api-reference.md
  docs/component-inventory.md
Due: eslint --fix, prettier --write

chore(shell): regenerate registry after post-format CommandPalette + filter edits
  registry/index.json
Due: prettier --write

fix(shell): single CommandPalette listbox + ship .gr-sr-only
  packages/shell/src/components/CommandPalette.css
  packages/shell/src/components/CommandPalette.svelte
  packages/shell/src/styles/base.css
  packages/shell/tests/command-palette.test.ts
  packages/shell/tests/css-bundle.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(host-platform): add hosted-platform data-display surface
  .changeset/config.json
  .changeset/host-platform-g2.md
  .github/workflows/docs.yml
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/transform.ts
  packages/greater-components/package.json
  packages/greater-components/scripts/build.js
  packages/host-platform/README.md
  packages/host-platform/package.json
  packages/host-platform/scripts/build-css.js
  packages/host-platform/src/components/ActivitySparkline.css
  packages/host-platform/src/components/ActivitySparkline.svelte
  packages/host-platform/src/components/CostGauge.css
  packages/host-platform/src/components/CostGauge.svelte
  packages/host-platform/src/components/FleetCard.css
  packages/host-platform/src/components/FleetCard.svelte
  packages/host-platform/src/index.ts
  packages/host-platform/src/styles/base.css
  packages/host-platform/src/types.ts
  packages/host-platform/src/utils/formatters.ts
  packages/host-platform/src/utils/sparkline.ts
  packages/host-platform/svelte.config.js
  packages/host-platform/tests/activity-sparkline.test.ts
  packages/host-platform/tests/cost-gauge.test.ts
  packages/host-platform/tests/fleet-card.test.ts
  packages/host-platform/tests/formatters.test.ts
  packages/host-platform/tests/setup.ts
  packages/host-platform/tests/sparkline.test.ts
  packages/host-platform/tsconfig.check.json
  packages/host-platform/tsconfig.json
  packages/host-platform/vitest.config.ts
  pnpm-lock.yaml
  registry/index.json
  scripts/generate-registry-index.js
  tsconfig.base.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json
