Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs(contracts): separate current pins from provenance
  docs/faces/blog/review-workflow.md
  packages/adapters/README.md
  packages/faces/blog/src/types.ts
Due: eslint --fix, prettier --write

test(blog): assign tombstone filtering to consumers
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh pin provenance checksum
  registry/index.json
Due: prettier --write

chore(governance): refresh round 3 rubric evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

refactor(cli): share registry source-path resolution between fetch and callers
  packages/cli/src/utils/fetch.ts
  packages/cli/src/utils/registry-source-map.ts
Due: eslint --fix, prettier --write

feat(cli): derive obsolete-file ownership from immutable registry refs
  packages/cli/src/registry/index.ts
  packages/cli/src/utils/prune.ts
  packages/cli/tests/prune.test.ts
Due: eslint --fix, prettier --write

feat(cli): prune obsolete managed files during greater update
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/config.ts
  packages/cli/tests/update.integration.test.ts
  packages/cli/tests/update.unit.test.ts
Due: eslint --fix, prettier --write

test(cli): pin the greater-v0.13.0 upgrade against the retired-store shape
  packages/cli/tests/e2e/update-prune-upgrade.test.ts
  packages/cli/tests/fixtures/upgrade-greater-v0.13.0/social-face-checksums.json
Due: eslint --fix, prettier --write

docs(cli): document update pruning and its semver impact
  CHANGELOG.md
  docs/cli-guide.md
Due: prettier --write

fix(cli): compare prune candidates as bytes, not decoded text
  packages/cli/src/utils/prune.ts
  packages/cli/tests/prune.test.ts
Due: eslint --fix, prettier --write

fix(cli): hydrate prune ownership from every registry-index category
  CHANGELOG.md
  docs/cli-guide.md
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/prune.ts
  packages/cli/tests/e2e/update-prune-upgrade.test.ts
  packages/cli/tests/fixtures/upgrade-greater-v0.13.0/shared-messaging-checksums.json
  packages/cli/tests/prune.test.ts
Due: eslint --fix, prettier --write

fix(cli): judge the prune install root after resolving symlinks
  docs/cli-guide.md
  packages/cli/src/utils/prune.ts
  packages/cli/tests/prune.test.ts
Due: eslint --fix, prettier --write

fix(deps): remediate undici, fast-uri, and postcss advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(governance): refresh rubric evidence for #1003
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(cli): make batch updates complete and bounded
  .semver impact note/999-cli-batch-updates.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/tests/blog-face-dependencies.test.ts
  packages/cli/tests/update.unit.test.ts
Due: eslint --fix, prettier --write

fix(cli): detect Bun and Deno projects
  .semver impact note/959-bun-deno-package-managers.md
  packages/cli/src/utils/packages.ts
  packages/cli/tests/utils.test.ts
Due: eslint --fix, prettier --write

fix(adapters): fail closed and honor pinned contracts
  .semver impact note/997-adapter-contract-hardening.md
  docs/lesser/contracts/openapi-auth-baseline.json
  packages/adapters/src/mappers/lesser/__tests__/graphqlConverters.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/faces/social/package.json
  packages/faces/social/src/adapters/graphql/index.ts
  packages/faces/social/src/adapters/graphql/queries.ts
  packages/faces/social/src/adapters/graphql/timeline-type.ts
  packages/faces/social/src/generics/index.ts
  packages/faces/social/tests/generics-quote-permission.test.ts
  packages/faces/social/tests/graphql-handwritten-contract.test.ts
  pnpm-lock.yaml
  registry/index.json
  scripts/check-openapi-auth.mjs
  scripts/generate-registry-index.js
  scripts/validate-registry-index.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

ci(adapters): gate tracked declaration freshness
  .semver impact note/993-adapter-declaration-freshness.md
  package.json
  scripts/check-adapter-declarations.mjs
Due: prettier --write, pnpm dlx sort-package-json

ci(contracts): enforce pinned snapshot byte parity
  .semver impact note/996-pinned-contract-byte-parity.md
  package.json
  scripts/check-pinned-contract-snapshots.mjs
Due: prettier --write, pnpm dlx sort-package-json

chore(governance): refresh rubric evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(deps): preserve FaceTheory tarball integrity
  pnpm-lock.yaml
Due: prettier --write

chore(governance): refresh rubric evidence after CI remediation
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

chore(contracts): sync Lesser v1.6.2 and Host v1.6.1
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  schemas/lesser/schema.graphql
Due: prettier --write

feat(blog): consume Lesser canonical article HTML
  .semver impact note/1005-lesser-v1.6.2-host-v1.6.1.md
  docs/faces/blog/article-rendering.md
  docs/faces/blog/emdash-article-surface.md
  docs/faces/blog/lesser-cms-contract-audit.md
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts
  packages/adapters/src/rest/generated/lesser-api.d.ts.map
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/faces/blog/src/components/Article/normalize.ts
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/components/ArticleDisplay.test.ts
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): update FaceTheory to v4.0.6
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(governance): refresh rubric evidence for contract sync
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

feat(utils): add SSR-stable time zone formatting
  .semver impact note/1007-ssr-time-zone.md
  packages/utils/README.md
  packages/utils/src/relativeTime.d.ts
  packages/utils/src/relativeTime.d.ts.map
  packages/utils/src/relativeTime.ts
  packages/utils/tests/relativeTime.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(blog): narrow article card accessible link name
  .semver impact note/1008-article-card-link-name.md
  packages/faces/blog/src/components/Article/Card.svelte
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/components/ArticleDisplay.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(theme): cover author cards and menus in dark mode
  .semver impact note/1009-dark-author-menu.md
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/theme.test.ts
  packages/primitives/src/theme.css
  packages/primitives/tests/theme-contrast.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(cli): avoid eager quadratic update diffs
  .semver impact note/1010-cli-update-memory.md
  docs/cli-guide.md
  packages/cli/src/commands/update.ts
  packages/cli/tests/update.unit.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): sync Lesser v1.6.3 article search
  .semver impact note/1011-lesser-v1.6.3.md
  docs/faces/blog/lesser-cms-contract-audit.md
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/graphql/LesserGraphQLAdapter.d.ts.map
  packages/adapters/src/graphql/generated/types.d.ts
  packages/adapters/src/graphql/generated/types.d.ts.map
  packages/adapters/src/graphql/generated/types.ts
  packages/faces/blog/tests/contracts/lesser-cms-contract.test.ts
  packages/faces/blog/tests/contracts/lesser-draft-review-contract.test.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
  schemas/lesser/schema.graphql
Due: eslint --fix, prettier --write

chore(registry): refresh post-build declaration checksum
  packages/utils/src/relativeTime.d.ts.map
  registry/index.json
Due: prettier --write

fix(deps): remediate current security advisories
  .semver impact note/security-dependency-remediation.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

chore(governance): refresh post-remediation evidence
  gov-infra/evidence/gov-rubric-report.json
Due: prettier --write

fix(blog): expose article date time zones
  .semver impact note/1013-blog-article-time-zone.md
  packages/faces/blog/src/components/Article/Card.svelte
  packages/faces/blog/src/components/Article/Header.svelte
  packages/faces/blog/src/components/Article/context.svelte.ts
  packages/faces/blog/src/components/Article/date.ts
  packages/faces/blog/src/types.ts
  packages/faces/blog/tests/components/ArticleDisplay.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(blog): enlarge verdict action targets
  .semver impact note/1018-verdict-touch-targets.md
  packages/faces/blog/src/components/Review/VerdictActions.svelte
  packages/faces/blog/tests/components/Review.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(cli): keep css-only installs isolated
  .semver impact note/1021-css-only-no-source-mutation.md
  packages/cli/src/commands/add.ts
  packages/cli/tests/add-extended.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(social): compose standalone timeline pagination
  .semver impact note/1017-virtualized-load-more.md
  packages/faces/social/src/components/Timeline/LoadMore.svelte
  packages/faces/social/src/components/Timeline/context.ts
  packages/faces/social/tests/components/TimelineLoadMore.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(shell): add accessible bottom navigation
  .semver impact note/1019-shell-bottom-nav.md
  packages/shell/package.json
  packages/shell/src/components/BottomNav.css
  packages/shell/src/components/BottomNav.svelte
  packages/shell/src/index.ts
  packages/shell/tests/bottom-nav.test.ts
  packages/shell/tests/index.test.ts
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
