Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(cli): preserve non-semver declarations
  packages/cli/src/utils/packages.ts
  packages/cli/tests/utils.test.ts
Due: eslint --fix, prettier --write

docs(security): warn against npm override bypasses
  docs/security/GHSA-96hv-2xvq-fx4p.md
Due: prettier --write

fix(registry): keep freshness checks read-only
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

fix(aggregate): declare semver runtime dependency
  packages/greater-components/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix(registry): explain missing check artifact
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

fix(registry): detect staged-only index drift
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

fix(cli): report skipped dependency floor checks
  packages/cli/src/commands/doctor.ts
  packages/cli/src/utils/packages.ts
  packages/cli/tests/doctor.test.ts
Due: eslint --fix, prettier --write

test(registry): guard read-only freshness checks
  package.json
  scripts/generate-registry-index.test.mjs
  scripts/run-script-tests.mjs
Due: prettier --write, pnpm dlx sort-package-json

fix(registry): allow freshness checks without git
  scripts/generate-registry-index.js
  scripts/generate-registry-index.test.mjs
Due: eslint --fix, prettier --write

refactor(registry): remove redundant freshness check
  scripts/generate-registry-index.js
Due: eslint --fix, prettier --write

fix(registry): fail closed on git probe errors
  scripts/generate-registry-index.js
  scripts/generate-registry-index.test.mjs
Due: eslint --fix, prettier --write

fix(registry): report malformed check artifacts
  scripts/generate-registry-index.js
  scripts/generate-registry-index.test.mjs
Due: eslint --fix, prettier --write

fix(registry): validate parsed freshness artifact
  scripts/generate-registry-index.js
  scripts/generate-registry-index.test.mjs
Due: eslint --fix, prettier --write

fix(registry): sanitize git freshness probes
  scripts/generate-registry-index.js
  scripts/generate-registry-index.test.mjs
Due: eslint --fix, prettier --write

test(registry): make ownership checks deterministic
  scripts/generate-registry-index.test.mjs
Due: none

fix(registry): scrub alternate git object directory
  scripts/generate-registry-index.js
  scripts/generate-registry-index.test.mjs
Due: eslint --fix, prettier --write

test(registry): remove non-discriminating probe case
  scripts/generate-registry-index.test.mjs
Due: none

fix(registry): strip Git overrides from freshness probe
  scripts/generate-registry-index.js
  scripts/generate-registry-index.test.mjs
Due: eslint --fix, prettier --write

test(registry): isolate ownership config pin
  scripts/generate-registry-index.test.mjs
Due: none

fix(messaging): render sanitized HTML bodies and previews
  packages/shared/messaging/README.md
  packages/shared/messaging/package.json
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/Message.svelte
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/Message.test.ts
  pnpm-lock.yaml
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(adapters): decouple messaging handlers from Apollo types
  packages/adapters/README.md
  packages/adapters/src/__tests__/createLesserMessagesHandlers.no-apollo.test.ts
  packages/adapters/src/__tests__/createLesserMessagesHandlers.test.ts
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/index.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
  packages/adapters/src/messaging/index.ts
  packages/adapters/src/messaging/messagingOperations.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(messaging): compose conversation folders and card actions
  packages/shared/messaging/README.md
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/fixtures/ConversationsActionsHarness.svelte
  registry/index.json
Due: eslint --fix, prettier --write

fix(messaging): announce unread conversation count honestly
  packages/shared/messaging/README.md
  packages/shared/messaging/src/UnreadIndicator.svelte
  packages/shared/messaging/tests/UnreadIndicator.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(messaging): preserve secure synchronized message state
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/src/Message.svelte
  packages/shared/messaging/src/UnreadIndicator.svelte
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/Conversations.context.test.ts
  packages/shared/messaging/tests/Conversations.test.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/UnreadIndicator.test.ts
  packages/shared/messaging/tests/fixtures/ConversationsContextHarness.svelte
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(adapters): harden messaging type isolation
  packages/adapters/src/__tests__/createLesserMessagesHandlers.no-apollo.test.ts
  packages/adapters/src/messaging/createLesserMessagesHandlers.ts
Due: eslint --fix, prettier --write

chore(registry): refresh messaging checksums
  registry/index.json
Due: prettier --write

fix(messaging): complete sanitizer token handling
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(messaging): debounce unread announcements
  packages/shared/messaging/src/UnreadIndicator.svelte
  packages/shared/messaging/tests/UnreadIndicator.live.test.ts
  packages/shared/messaging/tests/UnreadIndicator.test.ts
  packages/shared/messaging/tests/fixtures/UnreadIndicatorHarness.svelte
Due: eslint --fix, prettier --write

fix(messaging): scope conversation action layout
  packages/shared/messaging/src/Conversations.svelte
  packages/shared/messaging/tests/Conversations.test.ts
Due: eslint --fix, prettier --write

fix(messaging): harden preview tag extraction
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

chore(registry): refresh messaging checksum
  registry/index.json
Due: prettier --write

fix(messaging): harden message sanitization
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(messaging): cap unread announcement delay
  packages/shared/messaging/src/UnreadIndicator.svelte
  packages/shared/messaging/tests/UnreadIndicator.live.test.ts
  packages/shared/messaging/tests/fixtures/UnreadIndicatorHarness.svelte
Due: eslint --fix, prettier --write

fix(messaging): bypass unsafe link post-processing
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(messaging): harden every external link
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

fix(messaging): harden links on parsed trees
  packages/shared/messaging/package.json
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/sanitize.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(messaging): harden protocol-relative links
  packages/shared/messaging/src/sanitize.ts
  packages/shared/messaging/tests/Message.test.ts
  packages/shared/messaging/tests/sanitize.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
