Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs(host-platform): document hosted-platform components and add playground demo
  apps/playground/src/routes/+page.svelte
  apps/playground/src/routes/host-platform/+page.svelte
  apps/playground/svelte.config.js
  docs/api-reference.md
  docs/component-inventory.md
Due: eslint --fix, prettier --write

fix(host-platform): enforce ARIA meter contract for CostGauge
  packages/host-platform/src/components/CostGauge.svelte
  packages/host-platform/tests/cost-gauge.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(host-platform): compose CostGauge no-meter accessible name via labelledby
  packages/host-platform/src/components/CostGauge.svelte
  packages/host-platform/tests/cost-gauge.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(host-platform): add operator timelines and stack matrix
  .changeset/host-platform-g3.md
  packages/cli/src/registry/index.ts
  packages/host-platform/package.json
  packages/host-platform/src/components/ProvisioningTimeline.css
  packages/host-platform/src/components/ProvisioningTimeline.svelte
  packages/host-platform/src/components/ReleaseTimeline.css
  packages/host-platform/src/components/ReleaseTimeline.svelte
  packages/host-platform/src/components/StackMatrix.css
  packages/host-platform/src/components/StackMatrix.svelte
  packages/host-platform/src/index.ts
  packages/host-platform/src/styles/base.css
  packages/host-platform/src/types.ts
  packages/host-platform/tests/provisioning-timeline.test.ts
  packages/host-platform/tests/release-timeline.test.ts
  packages/host-platform/tests/stack-matrix.test.ts
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

docs(host-platform): document operator components and extend playground demo
  apps/playground/src/routes/host-platform/+page.svelte
  docs/api-reference.md
  docs/component-inventory.md
Due: eslint --fix, prettier --write

fix(host-platform): three a11y blockers from Arch PR #670 review
  packages/host-platform/src/components/ProvisioningTimeline.svelte
  packages/host-platform/src/components/ReleaseTimeline.svelte
  packages/host-platform/tests/provisioning-timeline.test.ts
  packages/host-platform/tests/release-timeline.test.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(release): document G0-G3 parity, RC preview, and deferred contract-sync lane
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/host-platform/contract-sync-lane.md
  docs/release-coordination/project-39-host-rc-preview.md
Due: prettier --write

docs(release): align changeset wording with the optional policy
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: prettier --write

fix(cli): route shell + host-platform installs to packages/<name>
  .changeset/cli-shell-host-platform-install-paths.md
  packages/cli/src/utils/dependency-resolver.ts
  packages/cli/src/utils/fetch.ts
  packages/cli/tests/dependency-resolver.test.ts
  packages/cli/tests/fetch-extended.test.ts
Due: eslint --fix, prettier --write

fix(shell,host-platform): close svelte-check gaps blocking host M0.6-M0.10
  .changeset/host-platform-cost-gauge-derived-by.md
  .changeset/shell-command-palette-onselect-type.md
  package.json
  packages/host-platform/src/components/CostGauge.svelte
  packages/shell/src/components/CommandPalette.svelte
  registry/index.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(shared/admin,shared/messaging): clear svelte-check + extend coverage to 12 packages
  .changeset/shared-admin-index-signature.md
  .changeset/shared-messaging-undefined-narrow.md
  packages/faces/agent/tsconfig.check.json
  packages/faces/artist/tsconfig.check.json
  packages/faces/blog/tsconfig.check.json
  packages/faces/community/tsconfig.check.json
  packages/faces/social/tsconfig.check.json
  packages/shared/admin/src/Cost/Alerts.svelte
  packages/shared/admin/src/SeveredRelationships/List.svelte
  packages/shared/admin/src/TrustGraph/Visualization.svelte
  packages/shared/admin/tsconfig.check.json
  packages/shared/agent/tsconfig.check.json
  packages/shared/auth/tsconfig.check.json
  packages/shared/compose/tsconfig.check.json
  packages/shared/messaging/src/ConversationWorkflowSummary.svelte
  packages/shared/messaging/src/WorkflowThreadMoment.svelte
  packages/shared/messaging/tsconfig.check.json
  packages/shared/notifications/tsconfig.check.json
  packages/shared/search/tsconfig.check.json
  registry/index.json
Due: eslint --fix, prettier --write

fix(faces/social): clear 29 svelte-check errors across 14 files (Wave 3 of Project 41)
  .changeset/faces-social-svelte-check-sweep.md
  packages/faces/social/src/components/ComposeBox.svelte
  packages/faces/social/src/components/Hashtags/FollowedList.svelte
  packages/faces/social/src/components/NotificationsFeed.svelte
  packages/faces/social/src/components/NotificationsFeedReactive.svelte
  packages/faces/social/src/components/Profile/Edit.svelte
  packages/faces/social/src/components/Profile/EndorsedAccounts.svelte
  packages/faces/social/src/components/Profile/FeaturedHashtags.svelte
  packages/faces/social/src/components/ProfileHeader.svelte
  packages/faces/social/src/components/RealtimeWrapper.svelte
  packages/faces/social/src/components/TimelineVirtualizedReactive.svelte
  packages/faces/social/src/patterns/CustomEmojiPicker.svelte
  packages/faces/social/tsconfig.check.json
  registry/index.json
Due: eslint --fix, prettier --write

fix(faces/artist): clear 21 svelte-check errors + 1 warning (Wave 3, PR-D)
  .changeset/faces-artist-svelte-check-sweep.md
  packages/faces/artist/src/components/ArtistProfile/HeroBanner.svelte
  packages/faces/artist/src/components/ArtistProfile/Timeline.svelte
  packages/faces/artist/src/components/ArtistTimeline.svelte
  packages/faces/artist/src/components/Artwork/Stats.svelte
  packages/faces/artist/src/components/ArtworkCard.svelte
  packages/faces/artist/src/components/Community/Collaboration/Contributors.svelte
  packages/faces/artist/src/components/Community/Collaboration/Gallery.svelte
  packages/faces/artist/src/components/Community/CritiqueCircle/Members.svelte
  packages/faces/artist/src/components/CreativeTools/CritiqueMode/Annotations.svelte
  packages/faces/artist/src/components/CreativeTools/WorkInProgress/Comments.svelte
  packages/faces/artist/src/components/MediaViewer/Root.svelte
  packages/faces/artist/src/components/MediaViewer/ZoomControls.svelte
  packages/faces/artist/src/components/Monetization/DirectPurchase.svelte
  packages/faces/artist/src/components/PortfolioSection.svelte
  packages/faces/artist/src/types/artist.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(scripts,cli,docs): workspace svelte-check parity audits + CLI UX (Wave 4 / PR-E)
  .changeset/cli-add-success-hint-path.md
  .changeset/cli-list-ref-flag.md
  .changeset/svelte-check-parity-audit-coverage.md
  .github/workflows/lint.yml
  AGENTS.md
  CONTRIBUTING.md
  package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/list.types.ts
  packages/content/tsconfig.check.json
  packages/icons/tsconfig.check.json
  packages/utils/tsconfig.check.json
  registry/index.json
  scripts/audit-cli-package-enumeration-parity.mjs
  scripts/audit-svelte-check-parity.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

feat(primitives): add Link primitive for in-app navigation (#700)
  .changeset/link-primitive.md
  packages/primitives/src/components/Link.svelte
  packages/primitives/src/index.ts
  packages/primitives/src/theme.css
  packages/primitives/tests/Link.test.ts
  packages/primitives/tests/harness/LinkHarness.svelte
  registry/index.json
Due: eslint --fix, prettier --write

docs(primitives): document Link primitive with playground demo (#700)
  apps/playground/src/routes/link/+page.svelte
  docs/api-reference.md
  docs/component-inventory.md
  packages/primitives/src/components/Link.svelte.d.ts
  packages/primitives/src/components/Link.svelte.d.ts.map
  packages/primitives/src/index.d.ts
  packages/primitives/src/index.d.ts.map
  registry/index.json
Due: eslint --fix, prettier --write

chore(deps): clear 4 moderate CVEs (ws, @sveltejs/kit, viem, brace-expansion override)
  .changeset/security-deps-2026-05-26.md
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  registry/index.json
Due: prettier --write, pnpm dlx sort-package-json

feat(adapters): expose lesser agent metadata lookup
  packages/adapters/src/__tests__/LesserSoulClient.test.ts
  packages/adapters/src/index.ts
  packages/adapters/src/lesser/client.ts
  packages/adapters/src/lesser/index.ts
  registry/index.json
Due: eslint --fix, prettier --write

chore(registry): regenerate Project 43 M1 manifest
  registry/index.json
Due: prettier --write

fix(adapters): pin viem to registry ox
  .github/workflows/test.yml
  package.json
  packages/adapters/package.json
  pnpm-lock.yaml
  scripts/audit-lockfile-integrity.mjs
Due: prettier --write, pnpm dlx sort-package-json

fix(ci): cache chromium-only Playwright install
  .github/workflows/a11y.yml
Due: prettier --write

fix(ci): pin Playwright for a11y installs
  packages/testing/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix(ci): use system Chrome for a11y runs
  .github/workflows/a11y.yml
  packages/testing/package.json
  packages/testing/playwright.a11y.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(ci): use system Chrome for e2e runs
  .github/workflows/e2e.yml
  packages/testing/playwright.demo.config.ts
Due: eslint --fix, prettier --write

fix(ci): make firefox e2e non-blocking
  .github/workflows/e2e.yml
Due: prettier --write

fix(cli): preserve primitive relative imports
  packages/cli/src/utils/transform.ts
  packages/cli/tests/transform.test.ts
Due: eslint --fix, prettier --write

fix(playground): build CSS deps before playground
  apps/playground/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

fix(cli): correct primitive --path import hint
  packages/cli/src/commands/add.ts
  packages/cli/tests/add-extended.test.ts
Due: eslint --fix, prettier --write

chore(release): refresh Project 43 M3 validation artifacts
  registry/index.json
  scripts/check-openapi-auth.mjs
Due: prettier --write

ci(e2e): make firefox setup failure non-blocking
  .github/workflows/e2e.yml
Due: prettier --write

chore(license): remove conflict markers from AGPL text
  LICENSE
  packages/greater-components/LICENSE
Due: none

chore(contracts): sync Lesser v1.4.13 and Host v0.4.6
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/openapi-auth-baseline.json
  docs/lesser/contracts/openapi.yaml
  package.json
  packages/adapters/src/rest/generated/lesser-api.ts
  pnpm-lock.yaml
  registry/index.json
  scripts/check-openapi-auth.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

fix(ci): normalize GitHub bot DCO signoffs
  scripts/check-dco.js
  scripts/check-dco.test.mjs
Due: eslint --fix, prettier --write

chore: sync project 44 contracts
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/contracts/soul-mint-conversation-sse.json
  docs/lesser-host/spec/v3/README.md
  docs/lesser-host/spec/v3/fixtures/communication-inbound-notification.sms.example.json
  docs/lesser-host/spec/v3/fixtures/soul-agent-channels.response.example.json
  docs/lesser-host/spec/v3/fixtures/soul-instance-bootstrap.error.boundary-violation.example.json
  docs/lesser-host/spec/v3/fixtures/soul-instance-bootstrap.finalize.response.hosted-offchain.example.json
  docs/lesser-host/spec/v3/schemas/soul-agent-identity.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-bootstrap.error.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-bootstrap.finalize.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  docs/lesser/contracts/openapi.yaml
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/rest/generated/lesser-api.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): add soul bootstrap facade
  packages/adapters/src/__tests__/SoulBootstrapClient.test.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/soul/bootstrap.ts
  packages/adapters/src/soul/index.ts
  packages/faces/social/src/adapters/graphql/documents/soul-bootstrap.graphql
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

test(adapters): cover Project 44 bootstrap facade flow
  packages/adapters/src/__tests__/Project44SoulBootstrapFacade.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): add soul bootstrap signing plans
  .changeset/bootstrap-signing-plan.md
  packages/adapters/src/__tests__/Project44SoulBootstrapFacade.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  packages/adapters/src/index.ts
  packages/adapters/src/soul/bootstrapSigningPlan.ts
  packages/adapters/src/soul/index.ts
  registry/index.json
Due: eslint --fix, prettier --write

feat(adapters): add hosted soul bootstrap facade
  .changeset/project44-hosted-bootstrap-adapter.md
  docs/lesser-host/contracts/LESSER_HOST_REF.txt
  docs/lesser-host/contracts/openapi.yaml
  docs/lesser-host/spec/v3/fixtures/soul-instance-bootstrap.finalize.response.hosted-offchain.example.json
  docs/lesser-host/spec/v3/schemas/soul-agent-identity.schema.json
  docs/lesser-host/spec/v3/schemas/soul-instance-bootstrap.finalize.response.schema.json
  docs/lesser/contracts/LESSER_REF.txt
  docs/lesser/contracts/graphql-schema.graphql
  packages/adapters/src/__tests__/HostedSoulBootstrapClient.test.ts
  packages/adapters/src/fixtures/soul-bootstrap.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/index.ts
  packages/adapters/src/rest/generated/lesser-host-api.ts
  packages/adapters/src/soul/bootstrap.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  packages/adapters/src/soul/index.ts
  packages/faces/social/src/adapters/graphql/documents/soul-bootstrap.graphql
  packages/faces/social/src/adapters/graphql/generated/introspection.json
  packages/faces/social/src/adapters/graphql/generated/types.ts
  registry/index.json
Due: eslint --fix, prettier --write

fix(adapters): reject hosted Host credential headers
  packages/adapters/src/__tests__/HostedSoulBootstrapClient.test.ts
  packages/adapters/src/soul/hostedBootstrap.ts
  registry/index.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
