Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

beginning cleanup
  .gitignore
  FINAL_STATUS.md
  GRAPHQL_IMPLEMENTATION_SUMMARY.md
  GRAPHQL_INTEGRATION_STATUS.md
  GRAPHQL_PHASE_COMPLETION_REPORT.md
  IMPLEMENTATION_COMPLETE.md
  JSR_QUICK_START.md
  LESSER_USAGE.md
  PHASE_2_COMPLETION_REPORT.md
  PHASE_2_FINAL.md
  PHASE_3_COMPLETION_REPORT.md
  PHASE_4_COMPLETION_REPORT.md
Due: prettier --write

codeql + lint cleanup
  .github/workflows/a11y.yml
  .github/workflows/changeset.yml
  .github/workflows/coverage.yml
  .github/workflows/dco.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  apps/docs/package.json
  apps/playground/package.json
  package.json
  packages/adapters/package.json
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/stores/presenceStore.ts
  packages/fediverse/package.json
  packages/fediverse/src/adapters/graphql/client.ts
  packages/fediverse/src/components/Compose/UnicodeCounter.ts
  packages/fediverse/tests/NotificationItem.test.ts
  packages/fediverse/tests/Profile/AccountMigration.test.ts
  packages/fediverse/tests/Profile/EndorsedAccountsAndHashtags.test.ts
  packages/fediverse/tests/Profile/PrivacySettings.test.ts
  packages/fediverse/tests/Profile/VerifiedFields.test.ts
  packages/fediverse/tests/ProfileHeader.test.ts
  packages/fediverse/tests/helpers/text.ts
  packages/fediverse/tests/patterns/ContentWarningHandler.test.ts
  packages/fediverse/tests/patterns/ModerationTools.test.ts
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/primitives/src/components/Avatar.svelte
  packages/primitives/src/components/Skeleton.svelte
  packages/testing/package.json
  packages/testing/scripts/generate-comprehensive-report.js
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/aggregate-coverage.js
  scripts/publish-jsr.js
  scripts/validate-release.js
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

workflows fix
  .github/workflows/security.yml
Due: prettier --write

additional codeql
  .github/workflows/security.yml
Due: prettier --write

Create codeql.yml
  .github/workflows/codeql.yml
Due: prettier --write

additional codeql
  packages/fediverse/src/adapters/graphql/client.ts
  packages/fediverse/tests/Profile/EndorsedAccountsAndHashtags.test.ts
  packages/fediverse/tests/Profile/PrivacySettings.test.ts
Due: eslint --fix, prettier --write

tests are green
  packages/fediverse/tests/Profile/EndorsedAccountsAndHashtags.test.ts
  packages/fediverse/tests/Profile/PrivacySettings.test.ts
Due: eslint --fix, prettier --write

tests are green
  packages/fediverse/src/adapters/graphql/client.ts
  packages/fediverse/tests/Profile/VerifiedFields.test.ts
Due: eslint --fix, prettier --write

v1.0.22
  .changeset/add-actor-timeline-support.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/adapters/CHANGELOG.md
  packages/adapters/package.json
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/generated/types.ts
  packages/adapters/src/mappers/lesser/__tests__/graphqlConverters.test.ts
  packages/adapters/src/mappers/lesser/graphqlConverters.ts
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/fediverse/src/adapters/graphql/documents/fragments.graphql
  packages/fediverse/src/adapters/graphql/generated/introspection.json
  packages/fediverse/src/adapters/graphql/generated/types.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/TextField.svelte
  schemas/lesser/schema.graphql
  test-apps/astro-client-only/CHANGELOG.md
  test-apps/astro-client-only/package.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

tab fixes and schema update
  packages/adapters/src/graphql/generated/types.ts
  packages/fediverse/src/adapters/graphql/documents/notes.graphql
  packages/fediverse/src/adapters/graphql/generated/introspection.json
  packages/fediverse/src/adapters/graphql/generated/types.ts
  packages/greater-components/package.json
  packages/primitives/scripts/build-css.js
  packages/primitives/src/components/Tabs.svelte
  pnpm-lock.yaml
  schemas/lesser/schema.graphql
  scripts/test-tabs-restprops.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

one more tab fix and v1.0.24
  packages/greater-components/CHANGELOG.md
  packages/greater-components/README.md
  packages/greater-components/package.json
  packages/primitives/src/components/Tabs.svelte
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

one more tab fix and v1.0.25
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/fediverse/CHANGELOG.md
  packages/fediverse/package.json
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/CHANGELOG.md
  packages/primitives/package.json
  packages/primitives/src/components/Tabs.svelte
  test-apps/astro-client-only/CHANGELOG.md
  test-apps/astro-client-only/package.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

pages demo
  .github/workflows/deploy-playground.yml
  apps/playground/package.json
  apps/playground/src/lib/data/fediverse.test.ts
  apps/playground/src/lib/data/fediverse.ts
  apps/playground/src/lib/stores/storage.ts
  apps/playground/src/routes/+layout.ts
  apps/playground/svelte.config.js
  packages/fediverse/tests/setup.ts
  packages/fediverse/tests/timelineStore.test.ts
  packages/fediverse/vitest.config.ts
  packages/icons/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

nojekyll
  .github/workflows/deploy-playground.yml
Due: prettier --write

full build for pages
  .github/workflows/deploy-playground.yml
  apps/playground/package.json
  apps/playground/scripts/export-static.mjs
Due: prettier --write, pnpm dlx sort-package-json

fuller build for pages
  .github/workflows/deploy-playground.yml
Due: prettier --write

fuller build for pages
  apps/playground/package.json
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/+page.svelte
  apps/playground/static/favicon.png
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

dependency updates
  .github/workflows/a11y.yml
  .github/workflows/changeset.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dco.yml
  .github/workflows/deploy-playground.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
  apps/docs/package.json
  apps/playground/package.json
  apps/playground/scripts/export-static.mjs
  eslint.config.js
  package.json
  packages/adapters/package.json
  packages/adapters/src/graphql/LesserGraphQLAdapter.ts
  packages/adapters/src/graphql/cache.ts
  packages/adapters/src/graphql/client.ts
  packages/adapters/src/graphql/optimistic.ts
  packages/cli/package.json
  packages/fediverse/package.json
  packages/fediverse/tests/setup.ts
  packages/greater-components/package.json
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

workflow updates
  .github/workflows/a11y.yml
  .github/workflows/changeset.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy-playground.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
Due: prettier --write

more workflow updates
  apps/playground/package.json
  packages/adapters/package.json
  packages/fediverse/package.json
  packages/fediverse/scripts/fix-dollar-vars.js
  packages/headless/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/primitives/scripts/build-css.js
  packages/testing/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

prettier
  .prettierignore
Due: none

prettier
  .github/workflows/a11y.yml
  packages/adapters/tsconfig.json
  packages/fediverse/tsconfig.json
Due: prettier --write

incremental - false
  packages/adapters/tsconfig.json
Due: prettier --write

playwright
  .github/workflows/a11y.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  packages/testing/package.json
  packages/testing/playwright.a11y.config.ts
  packages/testing/playwright.visual.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

more playwright
  .github/workflows/a11y.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  packages/adapters/package.json
  packages/fediverse/package.json
  packages/testing/playwright.visual.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

more playwright
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  scripts/aggregate-coverage.js
Due: eslint --fix, prettier --write

more fixes
  .github/workflows/a11y.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  packages/testing/tests/demo/primitives.spec.ts
Due: eslint --fix, prettier --write

more fixes
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  packages/testing/tests/demo/primitives.spec.ts
Due: eslint --fix, prettier --write

more fixes
  .github/workflows/docs.yml
  packages/testing/tests/demo/primitives.spec.ts
Due: eslint --fix, prettier --write

more fixes
  packages/testing/tests/demo/primitives.spec.ts
Due: eslint --fix, prettier --write

a11y test fix
  apps/playground/src/routes/+layout.server.ts
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/settings/+page.svelte
  docs/playwright-failure-inventory.md
  image.png
  packages/testing/playwright.a11y.config.ts
  packages/testing/playwright.static.config.ts
  packages/testing/reports/a11y-report-dark-compact.html
  packages/testing/reports/a11y-report-high-contrast-comfortable.html
  packages/testing/scripts/generate-a11y-report.js
  packages/testing/src/playwright/axe-playwright.ts
  packages/testing/tests/demo/a11yReporter.ts
  packages/testing/tests/demo/primitives.spec.ts
  packages/testing/tests/demo/profile.spec.ts
  packages/testing/tests/demo/search.spec.ts
  packages/testing/tests/demo/settings.spec.ts
  packages/testing/tests/demo/tabs.spec.ts
  packages/testing/tests/demo/timeline.spec.ts
Due: eslint --fix, prettier --write

a11y test fix
  apps/playground/src/routes/+layout.svelte
  docs/playwright-failure-inventory.md
  packages/testing/reports/a11y-report-dark-compact.html
Due: eslint --fix, prettier --write

a11y test fix
  packages/testing/playwright.a11y.config.ts
  packages/testing/tests/demo/a11yReporter.ts
Due: eslint --fix, prettier --write
