Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(registry): pin optional social dependencies
  registry/index.json
Due: prettier --write

test(cli): bind doctor to optional blog content
  packages/cli/tests/doctor.test.ts
Due: eslint --fix, prettier --write

fix(artist): compile subscription store runes
  package.json
  packages/faces/artist/package.json
  packages/faces/artist/src/index.ts
  packages/faces/artist/src/subscriptions/index.svelte.ts
  packages/faces/artist/tests/subscriptions/index.test.ts
  packages/faces/blog/package.json
  packages/faces/blog/scripts/assert-article-context-runes-compiled.mjs
  scripts/assert-face-runes-compiled.mjs
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(registry): refresh artist rune module
  registry/index.json
Due: prettier --write

test(social): resolve status contrast from CSS
  packages/faces/social/tests/status-root-theme.test.ts
Due: eslint --fix, prettier --write

fix(blog): isolate reading utility imports
  packages/faces/blog/package.json
  packages/faces/blog/scripts/assert-article-dependency-boundary.mjs
  packages/faces/blog/src/components/Article/Content.svelte
  packages/faces/blog/src/components/Article/date.ts
  packages/faces/blog/tsconfig.json
  packages/faces/blog/vite.config.ts
  packages/faces/blog/vitest.config.ts
  packages/utils/package.json
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

chore(registry): refresh blog utility imports
  registry/index.json
Due: prettier --write

fix: resolve transformed blog utility imports
  packages/faces/blog/scripts/assert-article-dependency-boundary.mjs
  packages/greater-components/package.json
Due: prettier --write, pnpm dlx sort-package-json

fix: resolve light blog reading tokens
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/theme.test.ts
Due: eslint --fix, prettier --write

test: inspect compiled svelte rune modules
  scripts/assert-face-runes-compiled.mjs
Due: none

chore(registry): refresh blog token defaults
  registry/index.json
Due: prettier --write

fix(cli): never rewrite consumer-owned dependency pins
  packages/cli/README.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/utils/packages.ts
  packages/cli/tests/add-extended.test.ts
  packages/cli/tests/commands.test.ts
  packages/cli/tests/doctor.test.ts
  packages/cli/tests/e2e/review-command-install.test.ts
  packages/cli/tests/registry-generated-dependencies.test.ts
  packages/cli/tests/utils.test.ts
Due: eslint --fix, prettier --write

fix(cli): emit relative imports inside vendored trees
  packages/cli/README.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/diff.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/files.ts
  packages/cli/src/utils/transform.ts
  packages/cli/tests/add-extended.test.ts
  packages/cli/tests/e2e/review-command-install.test.ts
  packages/cli/tests/transform.test.ts
Due: eslint --fix, prettier --write

fix(cli): recognize optional dependency declarations
  packages/cli/src/utils/files.ts
  packages/cli/src/utils/packages.ts
  packages/cli/tests/e2e/review-command-install.test.ts
  packages/cli/tests/utils.test.ts
Due: eslint --fix, prettier --write

fix(cli): describe dependency declarations accurately
  packages/cli/src/commands/doctor.ts
  packages/cli/tests/doctor.test.ts
Due: eslint --fix, prettier --write

test(cli): validate every generated dependency range
  packages/cli/tests/registry-generated-dependencies.test.ts
Due: eslint --fix, prettier --write

test(cli): reject bare imports in vendored output
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

test(cli): restore registry build-tool exclusions
  packages/cli/tests/registry-generated-dependencies.test.ts
Due: eslint --fix, prettier --write

fix(cli): align umbrella viem dependency floor
  packages/cli/tests/registry-generated-dependencies.test.ts
  packages/greater-components/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

test(cli): isolate Svelte executable import scanning
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

style(cli): format Svelte import sweep
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(blog): isolate umbrella boundary probe
  packages/faces/blog/scripts/assert-article-dependency-boundary.mjs
Due: none

test(sanitize): drop tautological sentinel assertions
  packages/shared/messaging/tests/sanitize.test.ts
  packages/utils/tests/sanitizeHtml.test.ts
Due: eslint --fix, prettier --write

test(cli): strip Svelte comments before masking
  packages/cli/tests/e2e/review-command-install.test.ts
Due: eslint --fix, prettier --write

fix(blog): replace phantom neutral token family
  packages/faces/blog/src/theme.css
  packages/faces/blog/tests/theme.test.ts
  packages/faces/community/src/theme.css
  packages/faces/community/tests/a11y/contrast.test.ts
  packages/shared/chat/src/ChatMessages.svelte
  registry/index.json
  scripts/audit-tokens-placeholders.mjs
Due: eslint --fix, prettier --write

fix(tokens): audit emitted palette references
  packages/faces/artist/src/components/Artwork/AIDisclosure.svelte
  packages/faces/artist/src/components/Artwork/Actions.svelte
  packages/faces/artist/src/components/Artwork/Attribution.svelte
  packages/faces/artist/src/components/Monetization/DirectPurchase.svelte
  packages/faces/artist/src/components/Monetization/PremiumBadge.svelte
  packages/faces/artist/src/components/Monetization/ProtectionTools.svelte
  packages/faces/artist/src/components/Monetization/TipJar.svelte
  packages/faces/artist/src/components/Transparency/AIDisclosure.svelte
  packages/faces/artist/src/components/Transparency/EthicalSourcingBadge.svelte
  scripts/audit-tokens-placeholders.mjs
Due: eslint --fix, prettier --write

fix(faces): complete dark neutral surfaces
  packages/faces/blog/src/theme.css
  packages/faces/community/src/theme.css
Due: none

test(faces): resolve contrast from theme declarations
  packages/faces/blog/tests/theme.test.ts
  packages/faces/community/tests/a11y/contrast.test.ts
Due: eslint --fix, prettier --write

docs(blog): correct neutral token guidance
  docs/faces/blog/review-workflow.md
Due: prettier --write

chore(registry): regenerate theme checksums
  registry/index.json
Due: prettier --write

fix(tokens): reject undefined Greater references
  scripts/audit-tokens-placeholders.mjs
Due: none

test(a11y): bind newly live theme cell contrast
  packages/faces/artist/tests/a11y/contrast.test.ts
  packages/faces/community/tests/a11y/contrast.test.ts
  packages/primitives/tests/theme-contrast.test.ts
  packages/shared/chat/tests/theme-contrast.test.ts
Due: eslint --fix, prettier --write

chore(registry): regenerate token sweep checksums
  registry/index.json
Due: prettier --write

style(a11y): format theme contrast coverage
  packages/primitives/tests/theme-contrast.test.ts
  packages/shared/chat/tests/theme-contrast.test.ts
Due: eslint --fix, prettier --write

test(a11y): validate parsed contrast channels
  packages/primitives/tests/theme-contrast.test.ts
  packages/shared/chat/tests/theme-contrast.test.ts
Due: eslint --fix, prettier --write

fix(tokens): cover non-style phantom references
  packages/faces/community/README.md
  scripts/audit-tokens-placeholders.mjs
Due: prettier --write

chore(registry): refresh sweep generation metadata
  registry/index.json
Due: prettier --write

fix(a11y): restore playground theme contrast
  apps/playground/src/routes/compose/+page.svelte
  apps/playground/src/routes/timeline/+page.svelte
Due: eslint --fix, prettier --write

test(a11y): cover swept playground theme cells
  apps/playground/src/theme-contrast.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,svelte}
  prettier --write: (any of: *.{js,jsx,ts,tsx,svelte}) or (any of: *.{json,md,yml,yaml})
  pnpm dlx sort-package-json: any of: package.json
