Repository equaltoai/greater-components: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "pnpm dlx sort-package-json"
  ]
}

chore: release 2.2.2
  apps/playground/src/lib/components/settings/AppearanceSettings.svelte
  apps/playground/src/lib/components/settings/NotificationPreferences.svelte
  apps/playground/src/routes/examples/settings-panel/+page.svelte
  apps/playground/src/routes/examples/theme-customization/+page.svelte
  package.json
  packages/fediverse/src/components/Notifications/PushNotificationSettings.svelte
  packages/fediverse/src/lib/graphqlTimelineStore.ts
  packages/fediverse/tests/components/Profile/Timeline.test.ts
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/primitives/src/components/Settings/SettingsField.svelte
  packages/primitives/src/components/Settings/SettingsSection.svelte
  packages/primitives/src/components/Settings/SettingsSelect.svelte
  packages/primitives/src/components/Theme/ColorHarmonyPicker.svelte
  packages/primitives/src/components/Theme/ThemeWorkbench.svelte
  packages/primitives/src/components/ThemeSwitcher.svelte
  packages/primitives/tests/Settings.test.ts
  packages/utils/src/preferences.d.ts
  packages/utils/src/preferences.d.ts.map
  packages/utils/src/preferences.ts
  packages/utils/src/theme/color-harmony.ts
  packages/utils/src/theme/contrast.d.ts.map
  packages/utils/src/theme/contrast.ts
  packages/utils/tests/preferences.test.ts
  scripts/verify-exports.ts
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

deploy: 657d449f28011b961838101f1c9dd8f87d7db870
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

deploy: 2045bd5bf338a72c63d922597a810c2a3f6daa16
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

fix: add isomorphic-dompurify as optional peer dependency
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm dlx sort-package-json

deploy: 213d181a20ac31229ac42dae82bc307d9139abf6
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

pai has arrived
  packages/primitives/src/components/ThemeProvider.svelte
Due: eslint --fix, prettier --write

deploy: 20e26dc2fab471942aae45f963f27124eee33237
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

deploy: c4c49d7c0c76a7bf398d8f637e5e7dbb243c42f9
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

4.2.3
  .changeset/chat-component-suite.md
  .changeset/chat-input-placeholder-alignment.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/chat/src/ChatInput.svelte
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

deploy: 2264f0be936f8ea6b98db8617dff9015702a3692
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

4.2.4
  .changeset/chat-input-placeholder-alignment.md
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/chat/src/ChatInput.svelte
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

deploy: 26c4a2554997b2ab11bf8d0f8b1fac799d627a4e
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

4.2.5
  packages/greater-components/CHANGELOG.md
  packages/greater-components/package.json
  packages/shared/chat/CHANGELOG.md
  packages/shared/chat/package.json
  packages/shared/chat/src/ChatInput.svelte
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

deploy: 2c7c7d039d220f2a883edc18416b962613a688c0
  coverage/combined-coverage.json
  coverage/index.html
Due: prettier --write

baseline
  packages/content/tests/CodeBlock.test.ts
  packages/content/tests/MarkdownRenderer.test.ts
  packages/content/tests/setup.ts
  packages/primitives/src/theme.css
  packages/shared/auth/tests/auth-context.test.ts
  packages/shared/auth/tests/auth-instance-selector.test.ts
  packages/shared/auth/tests/fixtures/AuthHarness.svelte
  packages/shared/auth/tests/fixtures/InstanceSelectorHarness.svelte
Due: eslint --fix, prettier --write

docs updates
  apps/docs/src/routes/guides/animations/+page.svelte
  apps/docs/src/routes/guides/dark-mode/+page.svelte
  apps/docs/src/routes/guides/theming/+page.svelte
  apps/playground/src/lib/components/CodeExample.svelte
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/demos/alert/+page.svelte
  apps/playground/src/routes/demos/dropdown-menu/+page.svelte
  apps/playground/src/routes/demos/primitives/+page.svelte
  apps/playground/src/routes/examples/oauth-signin/+page.svelte
  apps/playground/src/routes/examples/user-menu/+page.svelte
  docs/README.md
  docs/_concepts.yaml
  docs/api-reference.md
  docs/component-inventory.md
  docs/design/PAY_THEORY_DOCUMENTATION_GUIDE.md
  docs/design/greater-components-suggestions.md
  docs/importing-components.md
  docs/migration-guide.md
  docs/outdated-references-inventory.md
  eslint.config.js
  packages/headless/src/primitives/alert.ts
  packages/headless/src/primitives/menu.ts
  packages/primitives/src/components/Menu/Root.svelte
  packages/primitives/src/components/Menu/context.d.ts
  packages/primitives/src/components/Menu/context.d.ts.map
  packages/primitives/src/components/Menu/context.ts
  packages/primitives/src/components/SimpleMenu.svelte
  packages/primitives/src/components/Tooltip.svelte
  packages/shared/auth/src/SignInCard.svelte
  packages/shared/auth/src/UserButton.svelte
  packages/shared/auth/tests/SignInCard.test.ts
  packages/shared/auth/tests/UserButton.test.ts
  packages/shared/auth/tsconfig.json
  packages/shared/chat/src/ChatMessage.svelte
  packages/shared/chat/src/ChatMessages.svelte
Due: eslint --fix, prettier --write

4.2.6
  package.json
  packages/faces/social/vite.config.ts
  packages/greater-components/tests/smoke.test.ts
  packages/primitives/src/components/Avatar.svelte
  packages/primitives/src/components/Badge.svelte
  packages/primitives/src/components/Menu/Content.svelte
  packages/primitives/src/components/Menu/Trigger.svelte
  packages/primitives/test_output.txt
  packages/primitives/tests/loadingstate.test.ts
  packages/primitives/tests/spinner.test.ts
  packages/shared/auth/src/SignInCard.svelte
  packages/shared/auth/src/UserButton.svelte
  packages/shared/auth/src/context.ts
  packages/shared/auth/test_output.txt
  packages/shared/auth/test_output_debug.txt
  packages/shared/auth/test_output_debug_2.txt
  packages/shared/auth/test_output_debug_3.txt
  packages/shared/auth/tests/LoginForm.test.ts
  packages/shared/auth/tests/SignInCard.test.ts
  packages/shared/auth/tests/UserButton.test.ts
  packages/shared/notifications/tests/NotificationItem.test.ts
  packages/tokens/tests/exports.test.ts
  packages/tokens/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm dlx sort-package-json

4.2.6
  .changeset/breezy-cats-dance.md
  packages/faces/social/src/adapters/graphql/index.ts
  packages/faces/social/src/adapters/index.ts
  packages/faces/social/src/components/Filters/index.ts
  packages/faces/social/src/components/Lists/index.ts
  packages/faces/social/src/components/Profile/AccountMigration.svelte
  packages/faces/social/src/components/Profile/EndorsedAccounts.svelte
  packages/faces/social/src/components/Profile/FeaturedHashtags.svelte
  packages/faces/social/src/components/Profile/FollowRequests.svelte
  packages/faces/social/src/components/Profile/FollowersList.svelte
  packages/faces/social/src/components/Profile/FollowingList.svelte
  packages/faces/social/src/components/Profile/PrivacySettings.svelte
  packages/faces/social/src/components/Profile/VerifiedFields.svelte
  packages/faces/social/src/components/Profile/index.ts
  packages/faces/social/src/components/Status/README.md
  packages/faces/social/src/components/Status/context.ts
  packages/faces/social/src/components/Status/index.ts
  packages/faces/social/src/components/Timeline/README.md
  packages/faces/social/src/components/Timeline/context.ts
  packages/faces/social/src/components/Timeline/index.ts
  packages/faces/social/src/generics/README.md
  packages/faces/social/src/generics/adapters.ts
  packages/faces/social/src/generics/index.ts
  packages/faces/social/src/index.ts
  packages/faces/social/src/patterns/index.ts
  packages/greater-components/scripts/build.js
  packages/shared/admin/src/Cost/context.ts
  packages/shared/admin/src/Insights/context.ts
  packages/shared/admin/src/TrustGraph/context.ts
  packages/shared/admin/src/index.ts
  packages/shared/compose/src/context.ts
  packages/shared/compose/src/index.ts
  packages/shared/messaging/src/index.ts
  packages/shared/notifications/src/context.ts
  packages/shared/notifications/src/index.ts
  packages/shared/search/src/index.ts
Due: eslint --fix, prettier --write

fix: use valid DCO action (tim-actions/dco)
  .github/workflows/dco.yml
Due: prettier --write

fix: resolve TypeScript errors in typecheck
  apps/playground/svelte.config.js
  packages/primitives/src/utils/smoothThemeTransition.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: fix usage and inline script interpolation in layout
  apps/playground/src/routes/+layout.svelte
Due: eslint --fix, prettier --write

fix: resolve ESLint errors in layout
  apps/playground/src/routes/+layout.svelte
Due: eslint --fix, prettier --write

and yet more cleanup
  packages/tokens/package.json
Due: prettier --write, pnpm dlx sort-package-json

and yet more cleanup
  apps/playground/src/app.css
  packages/tokens/src/index.ts
  packages/tokens/src/themes.json
Due: eslint --fix, prettier --write
